.product-card-1 {
  position: relative;
  height: 22.1rem;
  min-width: 16.5rem;

  @include from768_ {
    height: 33.6rem;
  }
  &__item {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 0.1rem solid #5c5c5c;
    box-sizing: border-box;
    box-shadow: inset 0.4rem0.3rem 0.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 2.3rem 1.3rem;
    width: 100%;
    height: 100%;
    @include from992_ {
      padding: 3rem;
    }
    &__img {
      width: 9.2rem;
      height: 9.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      position: relative;
      @include from768_ {
        width: 14rem;
        height: 14rem;
      }

      img {
        pointer-events: none;
        mix-blend-mode: lighten;
      }
    }
    &:hover {
      background: linear-gradient(180deg, rgba(61, 61, 61, 0.6) 0%, rgba(46, 46, 46, 0.48) 100%);
    }

    &__title {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #a9a9a9;
      margin: 1.6rem 0 0.5rem;
      @extend .text-overflow-2-lines;
      @include from768_ {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
    &__price {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: var(--color-gray-8);
      // padding-top: 0.5rem;
      @include from768_ {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }
    &__discount {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      right: 1rem;
      width: 3.6rem;
      height: 4.7rem;
      background: linear-gradient(180deg, #676767 0%, rgba(133, 133, 133, 0) 100%);
      border-top: 0.3rem solid #d6b970;
      top: 0;

      @include from768_ {
        width: 5rem;
        height: 6.5rem;
      }
      &__percent,
      &__off {
        color: #ffffff;
        font-family: "MTD Balerno";
        font-size: 1.6rem;
        line-height: 1.7rem;
        @include from768_ {
          font-size: 2.2rem;
          line-height: 2.4rem;
        }
      }
    }
    &__plus {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
