.app-header {
  width: 100%;
  height: 12rem;
  display: flex;
  color: var(--color-white-1);
  background-color: var(--color-dark-2);
  padding: 3rem 5rem 2rem;
  align-items: center;
  .welcome {
    color: var(--color-white-1);
    font-size: 3.6rem;
    font-family: MTD Balerno;
    font-weight: 700;
    font-style: normal;
    margin-left: 11.4rem;
    .greeting {
      color: var(--color-gray-4);
      font-size: 1.6rem;
      font-family: Poppins;
    }
    .title {
      text-transform: capitalize;
    }
  }
  nav {
    margin-left: 3.45rem;
    ul {
      padding: 1.5rem 3.45rem;
      border-left: thin solid #454545;
      height: 100%;
      display: flex;
      align-items: center;
      li {
        cursor: pointer;
        font-size: 1.6rem;
        font-family: Poppins;
        text-transform: uppercase;
        color: var(--color-gray-6);
        .nav-item {
          padding: 1rem 0;
        }
        & + li {
          margin-left: 3rem;
        }
        &:hover {
          color: var(--color-gold-1);
        }
      }
      .selected {
        color: var(--color-gold-1);
        border-bottom: thin solid var(--color-gold-1);
      }
    }
  }
  .user-actions {
    display: flex;
    margin-left: auto;
    .checkout-cart {
      width: 4.6rem;
      height: 4.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-dark-1);
      border-radius: 50%;
      cursor: pointer;
    }
    .profile {
      margin-left: 1rem;
      cursor: pointer;
      img {
        width: 4.6rem;
        height: 4.6rem;
      }
    }
  }
}
.user-action-popover {
  .logout {
    border: 1px solid #a57a2b;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--color-gold-1);
    background-color: var(--color-dark-3);
    padding: 4px 2rem;
    &:hover {
      cursor: pointer;
      color: var(--color-white-1);
      background-color: var(--color-gold-1);
    }
  }
}
