.background-breadcrumbs {
  width: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  @extend .app-padding-left;
  @extend .app-padding-right;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include from992_ {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include from1440_ {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__banner {
    width: 100%;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;

    @include from992_ {
      margin-top: 1rem;
    }

    &__icon {
      background-color: $app-color;
      border-radius: 50%;
      padding: 1rem;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include from992_ {
        padding: 1.2rem;
        margin-right: 2rem;
      }

      img {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
      }
    }

    &__title {
      font-family: $app-font;
      font-style: normal;
      font-weight: bold;
      font-size: 2.4rem;
      color: #ffffff;

      @include from992_ {
        font-size: 3.6rem;
      }
    }
  }
}
