.opportunity {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__banner {
    // position: relative;
    height: 65rem;
    width: 100%;
    @include from992_ {
      height: 111.2rem;
    }
  }
  // img {
  //   width: 100%;
  //   max-height: 65rem;
  //   height: 765rem;
  //   object-fit: cover;
  //   @include from992_ {
  //     max-height: 111.2rem;
  //     height: 111.2rem;
  //   }
  // }

  &__title {
    @include app-title-color;
    font-family: "MTD Balerno";
    font-size: 3.4rem;
    line-height: 4rem;
    text-align: center;
    padding-top: 4rem;
    @include from992_ {
      font-size: 7.2rem;
      line-height: 8.4rem;
      padding-top: 8.3rem;
    }
  }
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend .app-padding-left;
    @extend .app-padding-right;
    top: -2rem;
    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
      top: 0;
    }
  }
  &__body {
    display: flex;
    &__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      &__text {
        @include from992_ {
          margin-top: 7rem;
        }
      }
    }
    &__right {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      @include from992_ {
        flex-direction: column;
      }
      &__text {
        @include from992_ {
          margin-top: 1rem;
          margin-left: 5.9rem;
          margin-bottom: 7rem;
        }
      }
    }
    &__img {
      position: relative;
      width: 16rem;
      height: 9.7rem;
      @include from992_ {
        width: 45rem;
        height: 27.6rem;
      }
      @include from1200_ {
        width: 52.3rem;
        height: 31.6rem;
      }
      img {
        border-radius: 0.5rem;
      }
      &__left {
        @include from992_ {
          margin-bottom: 7rem;
        }
      }
      &__right {
        @include from992_ {
          margin-left: -3rem;
        }
      }
    }
    &__title {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      color: #d6b970;
      font-family: "Poppins";
      margin: 1.2rem 0 0.5rem;
      @include from992_ {
        font-size: 2.4rem;
        line-height: 5.2rem;
        margin: 0;
      }
    }
    &__description {
      line-height: 2rem;
      color: var(--color-gray-10);
      font-family: "Poppins";
      font-size: 1.3rem;
      @include from1200_ {
        font-size: 1.8rem;
        line-height: 3.9rem;
      }
    }
  }

  &__btn-submit {
    background: #a57a2b;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 16.8rem;
    height: 4.8rem;
    font-weight: bold;
    margin: 2rem 0 4.6rem;
    cursor: pointer;
    @include from992_ {
      width: 23.3rem;
      height: 4.9rem;
      margin: 2rem 0 11rem;
    }
  }
}
