@import "../../styles/template";

.step-wrapper {
  --label-progress-color: #bdc6d7;
  --label-complete-color: #08c4e3;
  --label-background: var(--background-gray-1);
  --separator-style: dashed;
  --separator-color: var(--label-progress-color);
  --anim-delay: 0;
  --complete-percent: 50;
  --grid-template: 1fr 2fr;
  display: flex;
  flex-direction: column;
  margin-right: 0.8rem;
  .badge {
    display: grid;
    grid-template-columns: var(--grid-template);
    grid-template-rows: auto;
    align-items: center;
    grid-gap: 0.8rem;
    margin-bottom: 0.5rem;
    .step-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.9rem;
      height: 2.9rem;
      border: medium solid #6c778d;
      border-radius: 50%;
    }
    .step-state {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.9rem;
      height: 2.9rem;
      border: medium solid
        linear-gradient(
          0deg,
          var(--label-complete-color) calc(var(--complete-percent) * 1%),
          var(--label-progress-color) calc(100% - calc(var(--complete-percent) * 1%))
        );
      border-radius: 50%;
      background: linear-gradient(
        0deg,
        var(--label-complete-color) calc(var(--complete-percent) * 1%),
        var(--label-progress-color) calc(100% - calc(var(--complete-percent) * 1%))
      );
    }
    .separator {
      height: 0;
      width: 0;
      border: thin var(--separator-style) var(--separator-color);
      animation: grow 1s forwards;
      animation-delay: calc(var(--anim-delay) * 1s);
    }
  }
  .label {
    @include label-default-font(700);
    font-size: 1.4rem;
    color: var(--label-color);
  }
  .timestamp {
    font-size: 1.2rem;
    @include label-default-font;
    max-width: 100%;
  }
}
.complete {
  --separator-style: solid;
  --separator-color: var(--label-complete-color);
}
@keyframes grow {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}
