.card-why-us {
  &__item {
    background: linear-gradient(180deg, rgba(61, 61, 61, 0.6) 0%, rgba(46, 46, 46, 0) 100%);
    border-radius: 1.2rem;
    display: flex;
    padding: 1.8rem 1.5rem;

    @include from768_ {
      flex-direction: column;
      padding: 2rem 2.4rem;
    }
    @include from1440_ {
      padding: 3rem 4rem;
      height: 46.7rem;
    }
  }
  &__img {
    img {
      object-fit: cover;
      height: 9.3rem;
      width: 9.3rem;
      transition: transform 1s;
      &:hover {
        transform: scale(1.1);
        transition-duration: 1s;
      }
      @include from768_ {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__info {
    padding-left: 1.5rem;

    @include from768_ {
      padding-left: 0;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #ffffff;
    text-transform: uppercase;
    @include from768_ {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin: 2.1rem 0;
    }
    @include from1440_ {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  &__description {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #c8c8c8;
    margin-top: 0.3rem;
    @extend .text-overflow-4-lines;

    @include from768_ {
      font-size: 1.28rem;
      line-height: 1.92rem;
      margin-top: 0;
    }
    @include from1440_ {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    &-active {
      -webkit-line-clamp: 0 !important;
      font-size: 1.3rem;
      line-height: 1.7rem;
      color: #c8c8c8;
      margin-top: 0.3rem;
    }
  }
}
