.userinfo {
  background-color: #131313;
  // height: 40rem;
  .title {
    padding: 6rem 0;
    font-size: 4.6rem;
    line-height: 5.4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "MTD Balerno";
    background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content {
    max-width: 80rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;

    .des {
      font-family: Poppins;
      font-size: 1.6rem;
      line-height: 2.5rem;
      margin-bottom: 3.6rem;

      a {
        color: #00b0ff;
        border-bottom: 0.1rem solid #00b0ff;
      }
    }
    .item {
      display: flex;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #ffffff;
      padding-bottom: 3.6rem;

      &:last-child {
        padding-bottom: 13.7rem;
      }
      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        margin-right: 2.4rem;
      }
      .text {
        max-width: 73.6rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-family: Poppins;
        .name {
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
        .para {
          margin-left: 1rem;
        }
      }
    }
  }
}
