.warranty {
  background-color: #131313;
  padding-bottom: 11rem;
  // height: 40rem;

  .content {
    max-width: 79.3rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;

    .title {
      padding-top: 6rem;
      font-size: 4.6rem;
      line-height: 5.4rem;
      text-align: center;
      text-transform: uppercase;
      font-family: "MTD Balerno";
      background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .des {
      font-size: 2.4rem;
      line-height: 3.3rem;
      margin: 6rem 0 3.6rem;
      font-family: "MTD Balerno";
      background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .table {
      display: flex;
      font-family: Poppins;
      .left {
        width: 15.6rem;
        border: 0.1rem solid #535353;
        padding: 0.7rem;
      }
      .col {
        width: 31.8rem;
        border: 0.1rem solid #535353;
        padding: 0.7rem;
      }
    }
    .name {
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 2.7rem;
      text-transform: uppercase;
      text-align: center;
      background-color: #734a00;
      font-family: Poppins;
    }
    .text {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.7rem;
      padding-top: 3.7rem;
      font-family: Poppins;
    }
  }
}
