.showroom {
  @extend .app-padding-left;
  @extend .app-padding-right;
  div:nth-child(7)
    > div.MuiCollapse-container.MuiCollapse-entered
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(4) {
    border-bottom: 0;
  }
  &__title {
    font-size: 2.4rem;
    line-height: 3.3rem;
    @include app-title-color;
    font-family: "MTD Balerno";
    text-align: center;
    padding: 3.5rem 0 1.9rem;
    @include from992_ {
      font-size: 4.8rem;
      line-height: 6.5rem;
      padding: 7rem 0 6rem;
    }
  }
  &__icon {
    color: #d6b970;
  }
  &__item {
    color: var(--color-gray-10);
    font-size: 1.4rem;
    line-height: 3.9rem;
    font-family: "Poppins";
    padding: 1rem 0;
    text-transform: capitalize;
    @include from992_ {
      font-size: 1.8rem;
      line-height: 3.9rem;
    }
    border-bottom: 0.1rem solid rgba(189, 198, 215, 0.5);

    &:hover {
      background: linear-gradient(
        89.97deg,
        rgba(61, 61, 61, 0.9) -5.47%,
        rgba(46, 46, 46, 0.63) 107.28%
      );
      backdrop-filter: blur(0.4rem);
    }
    &__list {
      background: #282828;
      padding: 3.5rem 3rem;
      border: none;
    }
    &__title {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.5rem;
      display: flex;
      align-items: center;
      &:first-child {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #d6b970;
        font-weight: 400;
      }
      img {
        width: 4.3rem;
        height: 1.8rem;
      }
    }
    &__name {
      @include from992_ {
        padding-left: 2rem;
      }
    }
    span {
      text-align: center;
    }
  }
  &__name {
    color: #d6b970 !important;
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin: 3.5rem 0 1.6rem !important;
    @include from992_ {
      font-size: 1.8rem;
      margin-bottom: 0 !important;
      padding-left: 2rem !important;
    }
  }

  .MuiAccordion-rounded:last-child {
    padding-bottom: 4.3rem;
  }
  .MuiPaper-root {
    background: #131313;
  }

  .MuiAccordionSummary-root {
    justify-content: flex-start;
    height: 4.6rem;
    min-height: 4.6rem;
    max-height: 4.6rem;
    padding: 0;
    &:last-child {
      margin-bottom: 12rem;
    }
  }
  .MuiAccordion-root.Mui-expanded {
    margin: 0;
  }
  .MuiAccordionSummary-root.Mui-expanded {
    height: 4.6rem;
    min-height: 4.6rem;
    max-height: 4.6rem;
  }
  .MuiAccordion-root:before {
    height: 0;
  }
  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .MuiAccordionDetails-root {
    padding: 0;
  }
  .MuiAccordionSummary-content {
    flex-grow: 0;
    display: flex;
  }
  &-mobile {
    padding-bottom: 3.6rem;
    .MuiBottomNavigationAction-root {
      background: #282828;
      max-width: 100%;
      padding: 0;
      color: var(--color-gray-9);
    }
    .MuiBottomNavigationAction-label {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-family: "Poppins";
    }
    .Mui-selected {
      font-size: 1.4rem !important;
      line-height: 1.5rem !important;
      color: #ffffff !important;
      padding: 0 !important;
      background: linear-gradient(6.44deg, #a57a2b -8.97%, #ffe7aa 278.14%) !important;
    }

    &__list {
      @extend .app-padding-left;
      @extend .app-padding-right;
    }
    div:nth-child(6) > div:nth-child(5) {
      border-bottom: 0;
    }
  }
}
