.auth-form {
  height: 100vh;
  background: #131313;
  &__bg {
    position: relative;
    height: 100vh;
    img {
      width: 100%;
      height: 100vh;
    }
    &-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 26.4rem;

      &__btn-back {
        position: absolute;
        left: 5.4rem;
        top: 7.2rem;
        color: #afafaf;
      }
      &__check {
        top: 5.8rem;
        left: 0;
        position: absolute;
        // height: 100%;
        width: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          height: 9.9rem;
          // position: relative;
        }
        .auth-form__form__submit-btn {
          width: 26.5rem;
        }
        &__img {
          padding-top: 15.7rem;
          img {
            width: 8rem;
            height: 8rem;
          }
        }
        &__description {
          font-weight: 600;
          font-size: 2rem;
          line-height: 2.7rem;
          text-align: center;
          color: #dcdcdc;
          padding: 2.7rem 0;
        }
      }
    }
  }
  &__content {
    z-index: 1;
    top: 5.8rem;
    left: 0;
    position: absolute;
    // height: 100%;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    &__img {
      height: 9.9rem;
      // position: relative;
    }
  }
  &__title {
    font-size: 5.8rem;
    line-height: 6.8rem;

    @include app-title-color;
    font-family: MTD Balerno;
    padding: 4.5rem 0 0.7rem;
  }
  &__description {
    font-size: 1.8rem;
    line-height: 2.4rem;

    color: #959595;
    font-family: $app-font;
    text-align: center;
    a {
      color: #d6b970;
      text-decoration: underline;
    }
  }
  &__form {
    width: 53rem;
    padding-top: 4.5rem;

    &__control {
      color: #bebebe;
      padding-bottom: 3.4rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
    &__checkbox {
      color: #bebebe !important;
    }
    &__submit-btn {
      @extend .btn-confirm-style;
      height: 4.9rem;
    }
    &__forgetpw {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.9rem;
      text-transform: uppercase;
      color: #858585;
      padding-top: 3.4rem;
      text-align: center;
      a {
        color: #d6b970;
        padding-left: 0.5rem;
      }
    }
    .phone-input-group {
      display: grid;
      grid-template-columns: 1fr 6fr;
      grid-template-rows: auto;
      place-items: baseline;
      grid-gap: 1rem;
    }
    .form-text-field {
      margin-bottom: 1.6rem;

      .MuiInputBase-root {
        height: 5.6rem;

        background: linear-gradient(
          89.98deg,
          rgba(92, 92, 92, 0.2) 0.02%,
          rgba(57, 57, 57, 0) 106.03%
        );
        border: 0.1rem solid #535353;
        box-sizing: border-box;
        backdrop-filter: blur(0.4rem);
        border-radius: 0.6rem;
        .input {
          font-size: 1.4rem;
          line-height: 1.9rem;
          color: #959595;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: #959595 !important;
        }
      }
    }
    .form-select-field {
      margin-bottom: 1.6rem;

      .MuiSelect-root {
        height: 5.6rem;

        background: linear-gradient(
          89.98deg,
          rgba(92, 92, 92, 0.2) 0.02%,
          rgba(57, 57, 57, 0) 106.03%
        );
        border: 0.1rem solid #535353;
        box-sizing: border-box;
        backdrop-filter: blur(0.4rem);
        border-radius: 0.6rem;

        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #959595;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #959595 !important;
      }
      svg {
        fill: #c4c4c4;
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }
  &__pw {
    display: flex;
    justify-content: space-between;
    .form-text-field {
      width: 26rem;
    }
  }
  &__text {
    position: absolute;
    bottom: 2%;
    color: var(--color-white-1);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    // height: 100%;
    width: 100%;
  }
}
