@import "../../../styles/template.scss";
@import "../../../styles/text.scss";

.moneyTrans_list_item {
  width: 100%;
  padding: 2.4rem 2rem 2.4rem 2.4rem;
  display: grid;
  grid-template-columns: var(--tabular-template);
  align-items: center;
  background: var(--background-white);
  border-radius: 4px;
  background: #ffffff;
  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  .text {
    @include label-default-font(400);
    @extend .text-overflow-1-lines;
    font-size: 1.6rem;
    color: #272b2f;
  }
  .avatar_group {
    margin: -0.5rem;
    display: flex;
    align-items: center;
    .avatar {
      @include base-avatar(4rem);
      margin: 0.5rem;
    }
    .info_group {
      margin: 0.5rem;
      .title {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
  .status {
    display: flex;
    align-items: center;
    .dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      margin: 1rem 0.5rem;
    }
  }
  .icon_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
