.dancing-stone-intro {
  background: #020000;
  @extend .app-padding-top;
  &__bannerGroup {
    position: relative;
    display: flex;
    justify-content: center;
    height: 23.5rem;

    @include from992_ {
      height: 58.1rem;
    }

    &__content {
      position: absolute;
      display: flex;
      align-items: center;

      top: 2rem;
      @include from992_ {
        top: 7.3rem;
      }
      .bannerRing {
        width: 13rem;
        height: 13rem;
        mix-blend-mode: lighten;
        position: relative;
        @include from992_ {
          width: 31.1rem;
          height: 31.1rem;
        }
      }
      .bannerText {
        width: 16.7rem;
        height: 10.4rem;
        position: relative;
        @include from992_ {
          width: 37rem;
          height: 23.4rem;
        }
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.3rem;
    @include app-title-color(45deg);
    font-family: "MTD Balerno";
    text-transform: uppercase;
    @include from1440_ {
      font-size: 4.6rem;
      line-height: 6.5rem;
    }
  }
  &__btn {
    background: #a57a2b;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
    padding: 1.2rem 6.4rem;
  }
  &__content-1 {
    @extend .app-padding-left;
    @extend .app-padding-right;
    padding-bottom: 5.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include from992_ {
      flex-direction: row;
    }
    @include from1200_ {
      padding-bottom: 8.6rem;
    }
    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
    }
    &__left {
      @include from1200_ {
        display: flex;
        justify-content: flex-end;
      }
    }
    &__img {
      width: 34.1rem;
      height: 13.7rem;
      margin: 2rem 0;
      position: relative;
      @include from992_ {
        height: 57.7rem;
        margin: 0;
      }
      @include from1200_ {
        width: 46rem;
      }
      img {
        object-fit: cover;
        border-radius: 0.5rem;
        @include from992_ {
          object-fit: contain;
        }
      }
    }
    .dancing-stone-intro__title {
      text-align: center;
      @include from992_ {
        text-align: start;
      }
    }
    &__text {
      font-size: 1.3rem;
      line-height: 1.9rem;
      color: var(--color-gray-10);
      font-family: "Poppins";
      @include from992_ {
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin: 2.1rem 0 2.6rem;
      }
    }
  }
  &__product-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include from992_ {
      height: 106.7rem;
    }

    &__content {
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 100%;

      @include from992_ {
        position: absolute;
      }
      .dancing-stone-intro__title {
        text-align: center;
        @extend .app-padding-left;
        @extend .app-padding-right;
      }
    }
    &__listing {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
      grid-gap: 1.6rem 1.4rem;
      @extend .app-padding-left;
      @extend .app-padding-right;
      margin-top: 4.7rem;
      @include from576_ {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      }
      @include from992_ {
        grid-gap: 2.2rem;
        margin: 8.2rem 0 5.6rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }
      @include from1200_ {
        grid-template-columns: repeat(auto-fit, minmax(24.6rem, 1fr));
      }
      @include from1440_ {
        max-width: 144rem;
        margin: 8.2rem auto 5.6rem;
        grid-template-columns: repeat(auto-fit, minmax(26.9rem, 1fr));
      }
      .product-card-1 {
        margin: 0 auto;
        @include from768_ {
          height: 29rem;
        }
        @include from1200_ {
          height: 33.6rem;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      .dancing-stone-intro__btn {
        margin-top: 3.1rem;
      }
    }
  }
  &__content-2 {
    .dancing-stone-intro__title {
      text-align: center;
      padding: 7rem 0 5.1rem;
      @include from992_ {
        padding: 5.3rem 0;
      }
    }
    &__wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20.8rem;
      @include from992_ {
        height: 70.2rem;
      }
      @include from1200_ {
        align-items: flex-start;
      }

      &__item {
        position: absolute;
        &__img {
          width: 21.3rem;
          height: 25.6rem;
          position: relative;
          display: flex;
          justify-content: center;
          @include from992_ {
            width: 47rem;
            height: 56.4rem;
          }

          &-btn {
            position: absolute;
            width: 8rem;
            height: 8rem;

            @include from992_ {
              width: 17.7rem;
              height: 17.7rem;
            }
            img {
              &:hover {
                transform: scale(1.1);
                transition-duration: 1s;
              }
            }
          }
        }
      }
    }
    &__content {
      @extend .app-padding-left;
      @extend .app-padding-right;
      font-family: Poppins;
      font-size: 1.3rem;
      line-height: 1.9rem;
      color: var(--color-gray-10);
      display: flex;
      justify-content: space-between;
      margin: 2rem 0 5.1rem;
      @include from992_ {
        position: absolute;
        margin: 0;

        font-size: 1.8rem;
        line-height: 2.7rem;
      }
      @include from1440_ {
        max-width: 144rem;
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
    .dancing-stone-intro__btn {
      margin-top: 5rem;
    }
  }

  &__content-3 {
    @extend .app-padding-left;
    @extend .app-padding-right;
    padding-bottom: 10.7rem;
    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
    }
    .dancing-stone-intro__title {
      text-align: center;
      padding: 5rem 0 2rem;
      @include from992_ {
        padding: 9.1rem 0 5.4rem;
      }
    }
    &__item {
      display: flex;
      justify-content: center;
      @include from992_ {
        justify-content: start;
      }
    }
    &__text {
      font-size: 1.3rem;
      line-height: 1.9rem;
      font-family: Poppins;
      color: var(--color-gray-10);
      margin-bottom: 1.2rem;
      @include from992_ {
        max-width: 55.8rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 1.2rem;
      }
    }
    &__img {
      width: 34.1rem;
      height: 14.9rem;
      margin-bottom: 1.2rem;
      @include from992_ {
        width: 100%;
        height: 18.5rem;
        margin: 1.2rem;
      }
      @include from1200_ {
        height: 24.4rem;
        margin-bottom: 4rem;
      }
    }
  }
  &__dialog {
    .MuiBackdrop-root {
      background: rgba(125, 125, 125, 0.5);
    }
    .MuiDialog-paperWidthSm {
      width: 100%;
      height: 50%;
      @include from1200_ {
        max-width: 105.5rem !important;
        height: 59.6rem !important;
      }
    }
  }
}
