.agency-page {
  background: #131313;
  @extend .app-padding-top;

  @include from992_ {
    padding-top: 0;
  }
  &__banner {
    // position: relative;
    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  &__opportunity {
    position: relative;
    display: flex;
    justify-content: center;

    .swiper {
      position: absolute;
      margin-top: -2rem;
      @include from992_ {
        margin-top: -8rem;
      }
      .swiper-container {
        max-width: 30rem;
        max-height: 7rem;
        background: linear-gradient(180deg, rgba(61, 61, 61, 0.9) 0%, rgba(46, 46, 46, 0.9) 100%);
        backdrop-filter: blur(0.5rem);
        border-radius: 0.8rem;
        padding: 0.9rem 0;
        width: 30rem;
        @include from992_ {
          max-width: 48rem;
          max-height: 12.5rem;
          padding: 1.7rem;
          width: 48rem;
        }
        .swiper-slide {
          justify-content: center;
          display: flex;
        }

        .swiper-button-next {
          right: 0;
          &::after {
            font-size: 1.4rem;
            font-weight: bold;
            color: #898989;
            margin-left: 1rem;
            @include from992_ {
              font-size: 2rem;
              margin-left: 0;
            }
          }
        }
        .swiper-button-prev {
          left: 0;

          &::after {
            font-size: 1.4rem;
            font-weight: bold;
            color: #898989;
            margin-right: 1rem;
            @include from992_ {
              font-size: 2rem;
              margin-right: 0;
            }
          }
        }
      }

      &__img {
        width: 6.2rem;
        height: 5rem;
        position: relative;

        @include from992_ {
          width: 11.5rem;
          height: 9rem;
        }
        img {
          border-radius: 0.5rem;
        }
      }
    }
    .opportunity__title {
      padding-top: 11rem;
    }
  }
  &__special-offer {
    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
    }
  }
  &__special-products {
    .special-products__body {
      @include from1440_ {
        max-width: 144rem;
        margin: 0 auto;
      }
    }
  }
  &__showroom {
    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
    }
  }
}
