.address-form {
  width: 100%;

  &__radio-label {
    font-family: $app-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #727070;
  }

  &__check-box-label {
    font-family: $app-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #3c3b3b;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__cancel {
      @extend .btn-no-style;
      border: 1px solid #525560;
      border-radius: 0.4rem;
      font-family: $app-font;
      font-style: normal;
      font-weight: bold;
      font-size: 1.6rem;
      color: #525560;
      padding: 1.2rem 4rem;

      flex: 1;
    }
    &__submit {
      @extend .btn-no-style;
      margin-left: 2.4rem;
      border: 1px solid $app-color;
      background: $app-color;
      border-radius: 0.4rem;
      font-family: $app-font;
      font-style: normal;
      font-weight: bold;
      font-size: 1.6rem;
      color: #fff;
      padding: 1.2rem 4rem;

      flex: 1;
    }
  }
}
