.special-products {
  position: relative;
  display: flex;
  justify-content: center;

  @include from768_ {
    align-items: center;
  }

  &__banner {
    position: relative;
    height: 77rem;
    width: 100%;
    @include from768_ {
      height: 74rem;
    }
  }
  &__body {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    @extend .app-padding-left;
    @extend .app-padding-right;
    @include from768_ {
      flex-direction: row;
    }
  }
  &-right,
  &-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-left {
    margin-top: 12rem;
    @include from768_ {
      margin-top: 0;
      align-items: flex-start;
    }
    .btn-submit {
      background: #a57a2b;
      border-radius: 0.4rem;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 2.4rem;
      width: 16.8rem;
      height: 4.8rem;
      font-weight: bold;
      margin: 2rem 0 4.6rem;
      cursor: pointer;
      @include from992_ {
        width: 23.3rem;
        height: 4.9rem;
        margin: 2rem 0 11rem;
      }
    }
  }
  &-right {
    display: flex;
    justify-content: center;
    position: relative;
    &__show {
      width: 13.3rem;
      height: 13.3rem;
      margin-top: 10rem;
      @include from768_ {
        width: 20rem;
        height: 20rem;
        margin-top: 0;
      }
      @include from1200_ {
        width: 24rem;
        height: 24rem;
      }
      img {
        mix-blend-mode: lighten;
      }
    }
    &__images {
      position: absolute;
      width: 7.6rem;
      height: 7.6rem;
      border: 0.1rem solid #5f5f5f;
      box-sizing: border-box;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        box-sizing: border-box;
        box-shadow: inset 0.6rem 0.7rem 0.7rem rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(0.5rem);
        background: linear-gradient(180deg, rgba(61, 61, 61, 0.6) 0%, rgba(46, 46, 46, 0.42) 100%);
      }
      @include from992_ {
        width: 12rem;
        height: 12rem;
      }
      @include from1200_ {
        width: 14rem;
        height: 14rem;
      }
      .image {
        width: 5rem;
        height: 5rem;
        position: relative;
        @include from992_ {
          width: 8rem;
          height: 8rem;
        }
        img {
          mix-blend-mode: lighten;
        }
      }
    }
  }
  &__title {
    @include app-title-color;
    font-family: "MTD Balerno";
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-transform: uppercase;
    padding: 3.8rem 0 2.4rem;
    text-align: center;
    @include from992_ {
      font-size: 4.8rem;
      line-height: 6.5rem;
      text-align: start;
    }
  }
  &__list {
    &__item {
      display: flex;
      margin-bottom: 1.7rem;
      &__circle {
        background: linear-gradient(6.44deg, #a57a2b -8.97%, #ffe7aa 278.14%);
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        margin: 0.8rem 2rem 0 0;
      }
      &__text {
        width: 28rem;
        font-size: 1.3rem;
        line-height: 2.1rem;
        color: #ffffff;
        @include from576_ {
          width: 100%;
        }
        @include from992_ {
          font-size: 1.8rem;
          line-height: 3rem;
          max-width: 40rem;
        }
      }
    }
  }
}
