.appLayout {
  // height: 100%;
  // width: 100%;
  display: flex;
}
.appbar {
  box-shadow: none !important;
  border-bottom: 1px solid var(--color-gray-1);
  display: flex;

  .center {
    justify-content: space-between;
    display: flex;
  }
  .left {
    display: flex;
    align-items: center;
  }
  .title {
    font-family: Roboto;
    line-height: 3.6rem;
    font-weight: bold;
    font-size: 2.8rem;
    color: #070d14;
  }
  .user-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
    cursor: pointer;
  }
}
.nav-menu {
  height: 100%;
  padding-top: 3.4rem !important;
  display: flex;
  flex-direction: column;
  .nav-item {
    padding: 1rem !important;
    display: flex;
    // justify-content: center;
    // align-items: center;
    .nav-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 0.4rem;
    }
    .nav-icon-text {
      padding-left: 1rem;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      color: var(--color-dark-7);
    }
  }
  .away {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    max-width: 7.3rem;
  }
  .active {
    background-color: #08c4e3;
    filter: drop-shadow(0 0 0.75rem rgba(8, 196, 227, 0.4));
    svg {
      color: var(--color-white-1);
    }
  }
}

.main-wrapper {
  flex-grow: 1;
  background: #f3f5f9;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .main-section {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--color-gray-1);
  }
}
.main-wrapper-settings {
  flex-grow: 1;
  background: #f3f5f9;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6.4rem;
  .main-section {
    // flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-gray-1);
  }
}

.icon {
  color: #000;
  font-size: 2.2rem !important;
}
