.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  .sub-route-menu {
    width: var(--navbar-max-width);
    background-color: var(--background-white);
    display: flex;
    padding: 1.6rem 4.4rem;
    background: #ffffff;
    border-bottom: 1px solid var(--background-gray-1);
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-left: 1.8rem;
      margin-right: 1.8rem;
      color: #525560;
      padding: 0.8rem 1.6rem;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: #525560;
      }
      .icon {
        margin-left: 0.7rem;
        margin-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
      }
    }
    .selected {
      background-color: #6658f3;
      color: var(--color-white-1);
      box-shadow: -4px 0px 8px rgba(102, 88, 243, 0.24), 4px 0px 8px rgba(102, 88, 243, 0.24);
      border-radius: 2.5rem;
      &:hover {
        color: var(--color-white-1);
      }
    }
  }
}

.wrapperCol {
  width: 34.8rem;
  display: flex;
  background: #ffffff;
  height: 100%;
  .sub-route-menu {
    width: 100%;
    margin: 1rem 2rem;
    .nav-item {
      display: flex;
      align-items: center;
      height: 5.6rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #525560;
      padding: 1.2rem 1.4rem;
      .icon {
        margin-left: 0.7rem;
        margin-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }
    }
    .selected {
      background: #f0f3f8;
      border-radius: 0.6rem;
      font-weight: bold;
      color: #2d3742;
      .icon {
        background: #e53935;
        border-radius: 50%;
      }
    }
  }
}
