@import "../../../../styles/template.scss";

.specification {
  background: #f0f3f8;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 5.4rem 0;
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 6.2rem;
    .title {
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 3.6rem;
      color: #070d14;
    }
    .groupSearch {
      display: flex;
      align-items: center;

      .search {
        height: 4.8rem;
        width: 40rem;
        background: #ffffff;
        box-shadow: 0px 10px 30px rgba(146, 151, 163, 0.2);
        border-radius: 0.4rem;
        fieldset {
          border: none !important;
        }
        input {
          color: #bdc6d7;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
      .btnFilter {
        width: 8.6rem;
        height: 4.8rem;
        background: #ffffff;
        box-shadow: 0 0.4rem 1.2rem rgba(111, 125, 145, 0.16);
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 0 2.6rem 0 1.2rem;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
  .list {
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #525560;

    .name {
      width: 35%;
    }
    .group {
      width: 30%;
    }
    .quantity {
      width: 35%;
    }
  }
  .listHeader {
    margin-bottom: 1.6rem;
  }
  .item {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #272b2f;
    background: #ffffff;
    border-radius: 0.4rem;
    padding: 3rem 4.4rem;
    margin-bottom: 1.2rem;
    font-weight: normal;
    cursor: pointer;
  }
}

.floatingBtnItem {
  position: absolute;
  bottom: 3.2rem;
  right: 5.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: #39d0e9;
  border-radius: 50%;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* Specification Form */
.specificationFrom {
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .form {
    width: 53rem;
    margin: 0 auto;
    flex: 1;
    overflow: hidden auto;
    overscroll-behavior: contain;
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 6rem 0;
    .add {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #6c778d;
      cursor: pointer;
    }
    .addValue {
      margin: 2.6rem 1rem 0;
      font-weight: 500;
      color: #6658f3;
    }
    .group {
      background: #f0f3f8;
      padding: 2.3rem;
      margin-top: 2rem;
      input {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #bdc6d7;
        background: #ffffff;
      }
      .line {
        border: 0.1rem dashed #bdc6d7;
        margin: 1.5rem 0 2rem;
      }
      .item {
        margin-bottom: 2.8rem;
      }
      .label {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-transform: uppercase;
        color: #6c778d;
      }
    }
  }
  .appFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #bdc6d7;
    .title {
      margin: 1.5rem auto;
      font-weight: bold;
      font-size: 2.7rem;
      text-transform: capitalize;
      color: #070d14;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
    }
    .closeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .appFormFooter {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 6rem;
    box-shadow: 6px 5px 21px rgba(108, 72, 58, 0.2);
    .btn {
      @extend .btn-no-style;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1.2rem 4.5rem;

      &.delete {
        background-color: #fff;
        border: 1px solid #e53935;
        border-radius: 0.4rem;
        color: #f84948;
      }

      &.cancel {
        margin-left: auto;
        margin-right: 1.6rem;
        background-color: #fff;
        color: #444c53;
      }

      &.save {
        background: #08c4e3;
        color: #ffffff;
        border-radius: 0.4rem;
      }
    }
  }
}
