.size-instructions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #020000;
  border-radius: 0.4rem;
  font-family: $app-font;
  &__text-title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
    text-align: start;
    padding: 3rem 0 0 3rem;
  }
  &__table {
    &-left {
      padding-left: 3rem;
    }
    &-center {
      border-left: 0.1rem solid #6c6c6c;
      border-right: 0.1rem solid #6c6c6c;
      height: 32.5rem;
      padding-left: 2.5rem;
    }
    &-right {
      padding-left: 5rem;
    }
  }
  &__dialog {
    .MuiBackdrop-root {
      background: rgba(125, 125, 125, 0.5);
    }
    .MuiDialog-paperWidthSm {
      @include from992_ {
        max-width: 101.5rem;
        height: 58.6rem;
      }
    }
  }
  &__name {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #b0895b;
  }
  &__title {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--color-gray-9);
    margin: 1.7rem 0 0.9rem;
  }
  &__text {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--color-gray-9);
  }
  &__img {
    width: 33rem;
    height: 12rem;
    position: relative;
  }
}
