@import "../../../styles/template.scss";
@import "../../../styles/media.scss";
.productUpdate {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: none;

  &Form {
    height: 100%;
    overflow: hidden auto;
  }
  &__container {
    height: 100%;
  }
  &__left {
    padding: 4rem 4.5rem 4rem 4.5rem;
    // background-color: #f0f3f8;
  }

  &__center {
    padding: 4.5rem 8rem 4rem 4rem;
    border-right: 1px solid #bdc6d7;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 2.3rem;
      color: #070d14;
      padding-bottom: 3rem;
    }
  }

  &__right {
    padding: 7.5rem 4rem 4.5rem 4rem;

    &__tabs {
      border-bottom: 1px solid #6c778d;
      margin-bottom: 2rem;

      .MuiButtonBase-root {
        min-width: 72px;

        .MuiTab-wrapper {
          font-style: normal;
          font-weight: normal;
          font-size: 1.5rem;
          color: #272b2f;
          text-transform: none;
        }
      }

      .MuiTabs-indicator {
        background-color: #272b2f;
      }
    }
    .variant-tab {
      .attribute-select {
        display: flex;
        align-items: center;
        margin: 2rem auto;
        label {
          display: flex;
          align-items: center;
        }
        .attribute-label {
          display: flex;
          flex-direction: column;
          margin: 0 0.5rem;
          flex-grow: 1;
          flex-basis: 10rem;
        }
        .attribute-value {
          display: flex;
          flex-direction: column;
          margin: 0 1rem;
          flex-grow: 1;
          flex-basis: 15rem;
          max-width: 19rem;
          .chip {
            @include label-default-font(normal);
            margin-right: 5px;
            min-width: 4rem;
            font-size: 1.4rem;
            background: var(--background-gray-1);
          }
        }
        .attribute-remove {
          cursor: pointer;
          flex-grow: 1;
          max-width: 2rem;
        }
      }
    }
    .variant-settings {
      font-size: 24px;
      color: #070d14;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .add-value-btn {
      font-size: 1.6rem;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      padding-left: 0;
      color: #6658f3;
      font-weight: bold;
      border: none;
      background: none;
      cursor: pointer;
    }

    .create-variant-btn {
      width: 100%;
      font-size: 1.6rem;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      padding-left: 0;
      color: #6658f3;
      font-weight: bold;
      background: none;
      cursor: pointer;
      border-radius: 4px;
      height: 3rem;
    }

    &__publish {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &__allow {
        display: flex;
        align-items: center;
      }
    }
  }

  &__footer {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 1.6rem 6rem;
    box-shadow: 6px 5px 21px rgba(108, 72, 58, 0.2);

    .btn {
      @extend .btn-no-style;

      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1.2rem 4.5rem;

      &.delete {
        background-color: #fff;
        border: 1px solid #e53935;
        border-radius: 0.4rem;
        color: #f84948;
      }

      &.cancel {
        margin-left: auto;
        margin-right: 1.6rem;
        background-color: #fff;
        color: #444c53;
      }

      &.save {
        @extend .btn-confirm-style;
      }
    }
  }

  &__editor {
    .MuiDialog-paper {
      overflow: hidden;
    }
  }

  .appFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #bdc6d7;
    .title {
      margin: 1.5rem auto;
      font-weight: bold;
      font-size: 2.7rem;
      text-transform: capitalize;
      color: #070d14;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
    }
    .closeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .appFormFooter {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 6rem;
    box-shadow: 6px 5px 21px rgba(108, 72, 58, 0.2);
    .btn {
      @extend .btn-no-style;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1.2rem 4.5rem;

      &.delete {
        background-color: #fff;
        border: 1px solid #e53935;
        border-radius: 0.4rem;
        color: #f84948;
      }

      &.cancel {
        margin-left: auto;
        margin-right: 1.6rem;
        background-color: #fff;
        color: #444c53;
      }

      &.save {
        background: #08c4e3;
        color: #ffffff;
        border-radius: 0.4rem;
      }
    }
  }
}
.flex {
  display: flex;
}

.labelTextField {
  position: relative;
  display: inline-block;
  width: 100%;
  > &__root {
    input {
      padding-left: 3rem !important;
    }
  }
}

.form_autocomplete_select_field {
  font-size: 1.6rem !important;
  margin-bottom: 1.6rem;

  .MuiInputBase-root {
    height: 4.8rem;
    font-size: inherit;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    .MuiChip-root {
      padding: 0.4rem 1.2rem;
      margin: 0 3px;
      font-size: inherit;
      background: #f0f3f8;
      border-radius: 10rem;

      font-style: normal;
      font-weight: 500;
      color: #272b2f;
    }

    .MuiInputBase-input {
      padding: 0 0.4rem !important;
    }
  }

  &_label {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.app-check-box {
  color: $app-color !important;
}
