@import "../../../styles/template.scss";
@import "../../../styles/media.scss";

.productListing {
  --tabular-template: 16% 40% 14% 16% 14%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__category {
    overflow: hidden;
    height: 100%;
    width: 34rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2.4rem;

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3rem;

      .title {
        padding-left: 1.2rem;
        font-weight: bold;
        font-size: 1.9rem;
        color: #070d14;
      }
    }

    &__list {
      width: 100%;
      overflow: auto;
    }

    &__item {
      cursor: pointer;
      width: 100%;
      padding: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &.active {
        background: #f0f3f8;
        border-radius: 6px;
        .product-listing__category__item__name {
          font-weight: 500;
        }
      }

      &__name {
        padding-left: 2rem;
        font-size: 1.5rem;
        color: #272b2f;
      }
    }
  }

  &__content {
    flex: 1;
    background: #f0f3f8;
    height: 100%;
    padding: 5rem 5.4rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__header {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &__title {
        font-weight: bold;
        font-size: 2.7rem;
        color: #070d14;
      }

      &__actions {
        display: flex;
        align-items: center;
        .search-input {
          width: 30rem;
          height: 4.8rem;
          display: flex;
          justify-content: center;
          background: #ffffff;
          box-shadow: 0px 4px 12px rgb(111 125 145 / 16%);
          border-radius: 5px;
          .input {
            font-size: 1.5rem;
          }

          .notchedOutline {
            border: none;
          }
        }
        &__filter {
          @extend .btn-no-style;
          margin-left: 2.4rem;
          font-size: 1.7rem;
          color: #2d3742;
          padding: 0 1.2rem;
          height: 4.8rem;

          display: flex;
          justify-content: center;
          align-items: center;

          box-shadow: 0px 4px 12px rgba(111, 125, 145, 0.16);
          border-radius: 4px;
          background: #ffffff;
        }
      }
    }

    &__list {
      min-height: 3rem;
      width: 100%;
      margin-top: 4rem;
      &__code {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__name {
        text-align: left;
        min-width: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: -0.5rem;
        .avatar {
          @include base-avatar(4rem);
          margin: 0.5rem;
        }
        .label {
          //   @extend .text-overflow-1-lines;
          margin: 0.5rem;
        }
      }
      &__variants {
        text-align: center;
      }
      &__status {
        font-weight: bold;
        display: flex;
        align-items: center;
        min-width: 0;
        .productStatus {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 1rem;
        }
      }

      &__price {
        text-align: right;
      }

      &__header {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        display: grid;
        grid-template-columns: var(--tabular-template);
        // display: grid;
        // justify-content: flex-start;
        // align-items: center;
        padding: 0 5rem 1.6rem 5rem;

        .text {
          font-weight: 500;
          font-size: 1.4rem;
          color: #525560;
        }
      }

      &__item {
        width: 100%;
        padding: 2.4rem 5rem;
        display: grid;
        grid-template-columns: var(--tabular-template);
        align-items: center;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        background: #ffffff;
        border-radius: 4px;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }

        .productText {
          font-size: 1.6rem;
          color: #272b2f;
        }
      }
    }
  }
}

.floatingBtnItem {
  position: absolute;
  bottom: 3.2rem;
  right: 5.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: #39d0e9;
  border-radius: 50%;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
