@import "../../../styles/template.scss";
@import "../../../styles/media.scss";

.productDetail {
  background: #f0f3f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__body {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    padding: 3rem 4.8rem 5rem 4.8rem;
    .body {
      &__box {
        width: 100%;
        background-color: #fff;
        padding: 3rem 4rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }

      &__title {
        @include label-default-font(bold);
        font-size: 2.3rem;
        color: #070d14;
        margin-bottom: 2rem;
      }

      &__group_info_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }

      &__infoBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;
      }

      &__subTitle {
        @include label-default-font(bold);
        color: #272b2f;
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
      }

      &__text {
        @include label-default-font(normal);
        color: #272b2f;
        font-size: 1.5rem;
      }
    }

    &__left {
      flex: 0.6 1;
      min-width: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1.5rem 5rem 1.5rem 5rem;
      position: sticky;
      top: 0;

      &__product {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__img {
          @include base-avatar(12rem);
          padding: 1rem;
          img {
            box-shadow: 0px 0px 8px rgba(23, 23, 37, 0.04), 0px 16px 20px rgba(146, 151, 163, 0.32);
            border-radius: 10000px;
          }
        }

        &__name {
          margin: 2rem 0;
          font-weight: bold;
          font-size: 2.7rem;
          color: #070d14;
        }

        &__sale {
          padding-top: 3.5rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
          }
          &__value {
            font-style: normal;
            font-weight: bold;
            font-size: 2.3rem;
            text-align: center;
            color: #272b2f;
          }
          &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 1.3rem;
            text-align: center;
            color: #272b2f;
          }
        }
      }

      &__actions {
        width: 100%;
        justify-content: center;
        align-items: center;
        .edit {
          width: 100%;
          @extend .btn-no-style;
          @include label-default-font(bold);
          height: 4.8rem;
          font-size: 1.6rem;
          color: #fff;
          background: #08c4e3;
          border-radius: 0.4rem;
          box-shadow: 0px 8px 20px rgba(8, 196, 227, 0.4);
        }
      }

      &__review {
        @extend .btn-no-style;
        width: 100%;
        height: 4.8rem;

        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        color: #272b2f;
        background: #ffffff;
        box-shadow: 0px 4px 12px rgba(111, 125, 145, 0.16);
        border-radius: 0.4rem;
      }
    }
    &__center {
      flex: 1.8;

      &__summary {
        padding: 4rem 4.8rem !important;
        @extend .body__box;

        &__title {
          @extend .body__title;
          width: 100%;
          margin-bottom: 3.2rem !important;
        }

        &__col_1 {
          flex: 1.8;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
        }
        &__col_2 {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        &__image {
          &__list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            max-height: 26rem;
            overflow-y: auto;
            overscroll-behavior: contain;

            .img {
              min-width: 12rem;
              max-width: 12rem;
              height: 12rem;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 0.8rem 0.8rem 0;

              & img {
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
              }
            }
          }
        }

        &__tags {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;

          &__item {
            @extend .body__text;
            margin: 0 1rem 0.5rem 0;
            padding: 0.4rem 1.2rem;
            background: #f0f3f8;
            border-radius: 10rem;
          }
        }
      }
    }
    &__right {
      flex: 1;
      margin-left: 2rem;

      &__setting {
        @extend .body__box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__title {
          @extend .body__title;
          width: 100%;
        }

        &__publish {
          &__status {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }

      &__variants {
        @extend .body__box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        max-height: 43.5rem;

        &__title {
          @extend .body__title;
          width: 100%;
          cursor: pointer;
        }

        &__item {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          place-items: center;
          cursor: pointer;
          padding: 1rem 0;
          margin: -0.5rem;

          .avatar {
            // @include base-avatar(4.3rem);
            margin: 0.5rem;
            flex-grow: 1;
          }
          &__info {
            flex-grow: 2;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            &__value {
              @include label-default-font(700);
              color: #272b2f;
              font-size: 1.6rem;
              text-decoration: underline;
            }
            &__code {
              @include label-default-font(normal);
              color: #272b2f;
              font-size: 1.6rem;
            }
          }
        }
      }

      &__attributes {
        @extend .body__box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
          @extend .body__title;
          width: 100%;
        }

        &__item {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 1.4rem 0;
          font-size: 1.4rem;
          font-weight: 700;

          &__img {
            min-width: 3rem;
            max-width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            & img {
              max-width: 100%;
              max-height: 100%;
              height: 100%;
              object-fit: contain;
              pointer-events: none;
              border-radius: 50%;
            }
          }
          &__name {
            @extend .body__text;
            padding-left: 0.8rem;
          }

          &__value {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;

            .attribute-value {
              min-width: 7.1rem;
              padding: 0.4rem 1.2rem;
              text-align: center;
              background: #f0f3f8;
              border-radius: 10rem;
              font-size: 1.6rem;
              margin-right: 0.4rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  &__full-description-modal {
    &__header {
      height: 4.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bdc6d7;

      &__title {
        margin: auto;
        @include label-default-font(bold);
        font-size: 2.3rem;
        text-transform: capitalize;
        color: #070d14;
      }

      &__close {
        @extend .btn-no-style;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
