@import "../../../styles/template.scss";
@import "../../../styles/media.scss";

.productCreate {
  background: var(--color-white-1);
  height: 100%;
  display: flex;
  flex-direction: column;
  &Form {
    height: 100%;
    overflow: hidden auto;
    background: var(--color-white-1);
  }
  &__container {
    height: 100%;
  }
  &__center {
    padding: 4.5rem 8rem 4rem 4rem;
    border-right: 1px solid #bdc6d7;
  }

  &__title {
    @include label-default-font(bold);
    font-size: 2.3rem;
    color: #070d14;
    padding: 4rem 0 3rem 0;
  }
  &__right {
    padding: 4.5rem 4rem 4.5rem 4rem;
    &__publish {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &__allow {
        display: flex;
        align-items: center;
      }
    }
  }

  .appFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #bdc6d7;
    .title {
      margin: 1.5rem auto;
      font-weight: bold;
      font-size: 2.7rem;
      text-transform: capitalize;
      color: #070d14;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
    }
    .closeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .appFormFooter {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 6rem;
    box-shadow: 6px 5px 21px rgba(108, 72, 58, 0.2);
    .btn {
      @extend .btn-no-style;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1.2rem 4.5rem;

      &.cancel {
        margin-left: auto;
        margin-right: 1.6rem;
        background-color: #fff;
        color: #444c53;
      }

      &.save {
        background: #08c4e3;
        color: #ffffff;
        border-radius: 0.4rem;
      }
    }
  }
}

.labelTextField {
  position: relative;
  display: inline-block;
  width: 100%;
  > &__root {
    input {
      padding-left: 3rem !important;
    }
  }
}

.form_autocomplete_select_field {
  font-size: 1.6rem !important;
  margin-bottom: 1.6rem;

  .MuiInputBase-root {
    height: 4.8rem;
    font-size: inherit;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    .MuiChip-root {
      padding: 0.4rem 1.2rem;
      margin: 0 3px;
      font-size: inherit;
      background: #f0f3f8;
      border-radius: 10rem;

      font-style: normal;
      font-weight: 500;
      color: #272b2f;
    }

    .MuiInputBase-input {
      padding: 0 0.4rem !important;
    }
  }

  &_label {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
