.special-offer {
  @extend .app-padding-left;
  @extend .app-padding-right;
  padding: 2.2rem auto 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include from992_ {
    padding: 8.5rem 0 11rem;
  }

  &__title {
    @include app-title-color;
    font-family: "MTD Balerno";
    font-size: 2.4rem;
    line-height: 3.3rem;
    margin: 2.2rem 0 3.8rem;
    text-align: center;
    @include from992_ {
      font-size: 4.8rem;
      line-height: 6.5rem;
    }
  }
  &__body {
    &__top {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      @include from992_ {
        flex-direction: row;
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      // align-items: center;
      @include from992_ {
        flex-direction: row;
        margin-top: -2rem;
      }
    }
  }
  &__item {
    width: 34.5rem;
    height: 17rem;
    background: linear-gradient(180deg, rgba(61, 61, 61, 0.9) 0%, rgba(46, 46, 46, 0.63) 100%);
    backdrop-filter: blur(0.4rem);
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 2.9rem 1.5rem 4.6rem;
    @include from576_ {
      width: 100%;
    }
    @include from992_ {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30rem;
      margin: 0 1.5rem;
      height: 40rem;
    }
    @include from1200_ {
      width: 37.5rem;
      height: 40rem;
    }
    &__img {
      width: 7.15rem;
      height: 6rem;
      @include from992_ {
        width: 12rem;
        height: 12rem;
      }
    }
    &__content {
      font-family: "Poppins";
      margin-left: 2.4rem;
      width: 80%;
      @include from768_ {
        width: 100%;
      }
      @include from992_ {
        text-align: center;
        margin: 1.5rem 2.2rem 0;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.4rem;
      color: #d6b970;
      text-transform: uppercase;
      margin-bottom: 0.8rem;
      @include from1200_ {
        font-size: 2.4rem;
        line-height: 5.2rem;
      }
    }
    &__description {
      font-size: 1.3rem;
      line-height: 2.1rem;
      color: var(--color-gray-10);
      @include from992_ {
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
  }
}
