.page-footer {
  background: #131313;

  &__divider {
    background-color: transparent;
    width: 100%;
    min-height: 4rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      184.39deg,
      rgba(31, 31, 31, 0.42) 3.56%,
      rgba(61, 61, 61, 0.6) 162.89%
    );
    backdrop-filter: blur(4px);
    @extend .app-padding-left;
    @extend .app-padding-right;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    margin-top: auto;
    @include from992_ {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 6rem;
      padding-bottom: 4rem;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.7rem;
    color: $app-color;
    text-transform: uppercase;
    @include from992_ {
      font-size: 2rem;
      line-height: 2.3rem;
      padding-bottom: 1rem;
    }
  }

  &__general-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include from992_ {
      max-width: 26rem;
    }
    @include from1200_ {
      max-width: 29rem;
    }

    &__store {
      display: flex;
      flex-direction: column;

      &__block {
        margin-bottom: 1rem;
        @include from992_ {
          margin-bottom: 1.6rem;
        }
        &__label {
          font-weight: bold;
          font-size: 1.2rem;
          color: #c8c8c8;
          line-height: 1.8rem;
          @include from992_ {
            font-size: 1.4rem;
            line-height: 2.1rem;
          }
        }

        &__value {
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: #c8c8c8;
          font-family: $app-font;
          @include from992_ {
            font-size: 1.4rem;
            line-height: 2.1rem;
          }
        }
      }
      .value-name {
        padding: 1.6rem 0;
      }
    }
  }

  &__url-info {
    &__link {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      color: #c8c8c8;
      margin-top: 1rem;
      line-height: 1.8rem;
      font-family: $app-font;
      @include from992_ {
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-top: 2.1rem;
      }
    }
  }

  &__social-info {
    @include from992_ {
      margin-top: 0;
    }

    &__btn-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include from992_ {
        margin-top: 3.6rem;
      }
      a {
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include from992_ {
          justify-content: flex-start;
        }
      }
    }
  }

  &__view {
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding-bottom: 1.9rem;
    @include from992_ {
      flex-direction: column;
    }
    &__item {
      width: 45%;
      @include from992_ {
        width: 100%;
      }
      &__right {
        display: flex;
        flex-direction: column-reverse;
        @include from992_ {
          flex-direction: column;
        }
      }
    }
  }
}
