@import "../../styles/template.scss";

.delete_modal_wrapper {
  .deleteModal {
    height: 100%;
    padding: 6rem 7.2rem 4.8rem 7.2rem;
    .icon {
      display: grid;
      place-items: center;
    }
    .title {
      margin-top: 3.1rem;
      font-weight: bold;
      text-align: center;
      font-size: 3.5rem;
      line-height: 122%;
      letter-spacing: -0.016em;
      color: #171725;
    }
    .content {
      margin-top: 1.2rem;
      text-align: center;
      font-size: 1.9rem;
      line-height: 140%;
      letter-spacing: -0.012em;
      color: #272b2f;
    }
    .actions {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 4rem;
      place-items: center;
      margin-top: 4.5rem;
      .cancel {
        @extend .btn-cancel-style;
        border: 1px solid #272b2f;
        min-width: 20rem;
      }
      .confirm {
        @extend .btn-confirm-style;
        min-width: 20rem;
      }
    }
  }
}

.notification_icon_box {
  width: 10.8rem;
  height: 10.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.green {
    background-color: #2ac769;
  }
  &.yellow {
    background-color: #ffd74b;
  }
  &.red {
    background-color: #f84948;
  }
  &.purple {
    background-color: #6658f3;
  }
}
