.pulse {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.green {
    animation: pulse-green 2s linear infinite;
  }
  &.purple {
    animation: pulse-purple 2s linear infinite;
  }
  &.yellow {
    animation: pulse-yellow 2s linear infinite;
  }
  &.red {
    animation: pulse-red 2s linear infinite;
  }
  &.blue {
    animation: pulse-blue 2s linear infinite;
  }
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 255, 227, 1), 0 0 0 0 rgba(228, 255, 227, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(228, 255, 227, 0.4), 0 0 0 0 rgba(228, 255, 227, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(228, 255, 227, 0), 0 0 0 5px rgba(228, 255, 227, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 255, 227, 0), 0 0 0 5px rgba(228, 255, 227, 0);
  }
}

@keyframes pulse-purple {
  0% {
    box-shadow: 0 0 0 0 rgba(248, 247, 255, 1), 0 0 0 0 rgba(248, 247, 255, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(248, 247, 255, 0.8), 0 0 0 0 rgba(248, 247, 255, 0.8);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(248, 247, 255, 0.6), 0 0 0 5px rgba(248, 247, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(248, 247, 255, 0), 0 0 0 5px rgba(248, 247, 255, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 245, 220, 1), 0 0 0 0 rgba(255, 245, 220, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(255, 245, 220, 0.4), 0 0 0 0 rgba(255, 245, 220, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(255, 245, 220, 0), 0 0 0 5px rgba(255, 245, 220, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 245, 220, 0), 0 0 0 5px rgba(255, 245, 220, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 241, 240, 1), 0 0 0 0 rgba(255, 241, 240, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(255, 241, 240, 0.4), 0 0 0 0 rgba(255, 241, 240, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(255, 241, 240, 0), 0 0 0 5px rgba(255, 241, 240, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 241, 240, 0), 0 0 0 5px rgba(255, 241, 240, 0);
  }
}

@keyframes pulse-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(64, 153, 237, 1), 0 0 0 0 rgba(64, 153, 237, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(64, 153, 237, 0.4), 0 0 0 0 rgba(64, 153, 237, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(64, 153, 237, 0), 0 0 0 5px rgba(64, 153, 237, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(64, 153, 237, 0), 0 0 0 5px rgba(64, 153, 237, 0);
  }
}
