.registration {
  height: 100%;
  display: flex;
  background: #131313;
  &__dialog {
    .MuiBackdrop-root {
      background: rgba(125, 125, 125, 0.5);
    }
    .MuiDialog-paperWidthSm {
      @include from992_ {
        max-width: 87rem;
        height: 64rem;
      }
    }
  }
  &__title {
    font-size: 3.6rem;
    line-height: 4.9rem;
    @include app-title-color;
    font-family: "MTD Balerno";
    margin-bottom: 3.3rem;
    text-transform: uppercase;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include from992_ {
      align-items: flex-end;
    }
  }
  &__img {
    width: 39.4rem;
    height: 64rem;
  }
  &__form {
    @extend .app-padding-left;
    @extend .app-padding-right;
    padding-top: 2.4rem;
    @include from992_ {
      padding: 0;
      max-width: 35rem;
      margin: 2rem 6.3rem 5.3rem;
    }
    .form-text-field,
    .form-textarea-field {
      margin-bottom: 2.5rem;
      background: linear-gradient(
        89.98deg,
        rgba(92, 92, 92, 0.2) 0.02%,
        rgba(57, 57, 57, 0) 106.03%
      );
      border: 0.1rem solid #535353;
      box-sizing: border-box;
      backdrop-filter: blur(0.4rem);
      border-radius: 0.6rem;
      input,
      textarea {
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #959595;
      }
    }
    &__submit-btn {
      background: #a57a2b;
      border-radius: 0.4rem;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: bold;
      width: 100%;
      height: 4.6rem;
    }
  }
}
