.project-card-1 {
  padding-bottom: 3rem;
  @include from768_ {
    padding-bottom: 5rem;
  }
  @include from992_ {
    padding-bottom: 7rem;
  }
  &__info {
    position: relative;

    &__img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__note {
      width: 85%;
      background: #f0f3f8;
      position: absolute;
      bottom: 0;
      @include from992_ {
        width: 90%;
      }
    }
    &__name {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.9rem;
      padding: 1.1rem 2rem;
      @include from992_ {
        font-size: 2.4rem;
        line-height: 3.3rem;
        padding: 1.7rem 3rem;
      }
    }
  }
}
