@import "../../styles/media.scss";

.homepage {
  padding: 5.5rem;
  .table {
    display: flex;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;
    width: 100%;
  }

  .imagepig {
    width: 17.5rem;
    height: 17.5rem;
  }
  .imageicon {
    width: 4.9rem;
    height: 4.9rem;
    position: absolute;
    left: 2rem;
    @include from1200_ {
      left: 4rem;
    }
  }
  .imageintroduction {
    width: 39rem;
    height: 23.9rem;
  }

  .item {
    position: relative;
    height: 35rem;
    background: linear-gradient(0deg, rgba(46, 46, 46, 0) 0%, #333232 100%);
    border-radius: 2.2rem;
    margin-right: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include from1440_ {
      min-width: 38.9rem;
    }
    .icon {
      position: absolute;
      right: 2.8rem;
      top: 2.8rem;
    }
  }
  .itemicon {
    background: linear-gradient(180deg, rgba(61, 61, 61, 0.7) 0%, rgba(46, 46, 46, 0.49) 100%);
    box-shadow: inset 0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    height: 10.1rem;
    color: $app-color;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    @include from1440_ {
      min-width: 38.8rem;
    }
  }
  .itemcontent {
    text-align: center;
    .text {
      color: #999999;
      font-size: 2.4rem;
      font-family: $app-font;
      line-height: 3.2rem;
    }
    .price {
      font-weight: bold;
      font-size: 3.4rem;
      line-height: 4.9rem;
      font-family: $app-font-MTD;
      color: $app-color;
      text-transform: uppercase;
      @include from1200_ {
        font-size: 3.6rem;
      }
    }
  }

  .list {
    margin-top: 4.2rem;
    .btn-group__item:not(:last-child) {
      margin-right: 2.2rem;
      padding: 0;
    }
  }
}
