.intro-down-app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 77.5rem;
  @include from992_ {
    align-items: center;
  }

  &__content {
    position: absolute;
    @extend .app-padding-left;
    @extend .app-padding-right;

    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
    }
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include from992_ {
      align-items: flex-start;
    }
  }
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3.2rem;
    line-height: 4.1rem;
    text-transform: uppercase;
    margin: 0;
    @include from1440_ {
      font-size: 4.8rem;
      line-height: 7.6rem;
    }
  }
  &__description {
    font-family: $app-font;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #c8c8c8;
    font-weight: 400;
    margin: 1.1rem 0 3.7rem;
    text-align: center;
    @include from768_ {
      font-size: 1.8rem;
      line-height: 3.7rem;
    }
    @include from992_ {
      max-width: 46.6rem;
      text-align: start;
    }
  }
  &__btn-group {
    display: flex;
    justify-content: center;
    @include from992_ {
      justify-content: flex-start;
      flex-direction: column;
    }
    @include from1440_ {
      flex-direction: row;
    }
  }
  &__btn {
    width: 16.7rem;
    height: 4.8rem;
    border: 0.676495px solid #b1b1b1;
    border-radius: 0.6rem;
    background: transparent;
    display: flex;
    color: #c8c8c8;
    justify-content: space-around;
    text-align: start;
    align-items: center;
    margin: 0 0.3rem;
    cursor: pointer;
    @include from576_ {
      margin: 0 1rem;
    }
    @include from768_ {
      width: 31.5rem;
      height: 6.3rem;
      margin: 0 2rem 0 0;
    }
    img {
      width: 3rem;
      height: 3.5rem;
    }
    &__get {
      font-size: 1rem;
      line-height: 1.6rem;
      font-weight: 400;
      @include from992_ {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
    &__name {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      @include from992_ {
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }
  }
  .btn-right {
    @include from992_ {
      margin-top: 1rem;
    }
    @include from1440_ {
      margin-top: 0;
    }
  }
  &__right {
    display: flex;
    justify-content: center;

    &__img {
      position: relative;
      width: 20.6rem;
      height: 40.5rem;
      margin-top: 6rem;
      @include from992_ {
        width: 36.8rem;
        height: 72.9rem;
        margin-top: 5rem;
      }
    }
  }
}
