.login-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  .main {
    flex-grow: 1;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .login-form {
      display: flex;
      flex-direction: column;
    }
    .title {
      font-weight: 700;
      font-size: 4.1rem;
      font-family: Roboto;
      color: #2d3742;
      text-align: center;
    }
    .forgotpw {
      font-size: 1.3rem;
      width: 40rem;
      cursor: pointer;
    }
    .img {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }
    .btn {
      background-color: #fff;
      width: 11.5rem;
      border-radius: 0.4rem;
      height: 4rem;
      font-size: 1.5rem;
      outline: none;
      margin: 1.4rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .password-recovery {
      width: 40rem;
    }
    .login {
      width: 40rem;
      color: #ffffff;
      background: #08c4e3;
      font-weight: bold;
      font-size: 1.5rem;
      box-shadow: 0px 8px 20px rgba(8, 196, 227, 0.4);
      height: 4.8rem;
      border-radius: 4px;
      outline: none;
      border: none;
      margin-top: 2rem;
    }
    .gg {
      border: 1px solid #1890ff;
      color: #1890ff;
    }
    .fb {
      color: rgb(29, 82, 180);
      border: 1px solid rgb(29, 82, 180);
    }
    .ap {
      color: #2d3742;
      border: 1px solid #2d3742;
    }
    .group {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .provision {
      font-size: 1.5rem;
      text-align: center;
      .link {
        color: rgb(102, 88, 243);
      }
    }
    &__pw {
      font-size: 1.5rem !important;
    }
    .divider {
      font-size: 1.5rem;
      margin: 2rem;
      display: flex;
      justify-content: center;
      .line {
        border: 0.1rem solid #eeeeee;
        width: 4rem;
        height: 0.1rem;
        margin: 1rem;
      }
    }
  }

  .side {
    flex-basis: 50%;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    background-image: url("/images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include to_576 {
      display: none;
    }
  }
  .form-text-field {
    margin: 1rem 0 !important;
    width: 40rem !important;
  }

  .form-text-field {
    .MuiInputBase-root {
      height: 4.8rem;

      .input {
        font-size: 1.8rem;
        padding: 0 14px;
      }

      .MuiInputAdornment-root {
        .MuiTypography-root {
          font-size: 1.8rem;
          color: #272b2f;
        }
      }
    }

    .MuiFormHelperText-root {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.2rem;

      &.Mui-error {
        color: #c6050e;
      }
    }
  }
}
