.agency-app {
  font-family: $app-font;
  .MuiPaper-root {
    background-color: transparent;
  }
  .special-offer {
    padding: 7rem 0 1.3rem;
    .special-offer__item {
      width: 27rem;
      margin: 0 1rem;
      padding: 2.9rem 1rem 4.6rem;
      height: 40rem;
      @include from1200_ {
        width: 33rem;
        margin: 0 1.5rem;
      }
      @include from1440_ {
        width: 37.5rem;
      }
    }
  }
}
