@import "../../../../styles/template";
@import "../../../../styles/text";

.goldTrans_page {
  --tabular-template: 10% 20% 14% 14% 15% 14% 13%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5rem;
    padding: 0 4.8rem 1rem 4.8rem;
    height: 100%;
    background: #f0f3f8;
    .header {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .title {
        @include label-default-font(bold);
        font-size: 2.7rem;
        color: #070d14;
      }
      .actions {
        display: flex;
        align-items: center;
        .search-input {
          width: 30rem;
          height: 4.8rem;
          display: flex;
          justify-content: center;
          background: #ffffff;
          box-shadow: 0px 4px 12px rgb(111 125 145 / 16%);
          border-radius: 5px;
          .input {
            font-size: 1.5rem;
          }
          .notchedOutline {
            border: none;
          }
        }
        .filter {
          @extend .btn-no-style;
          margin-left: 2.4rem;
          font-size: 1.7rem;
          color: #2d3742;
          padding: 0 1.2rem;
          height: 4.8rem;

          display: flex;
          justify-content: center;
          align-items: center;

          box-shadow: 0px 4px 12px rgba(111, 125, 145, 0.16);
          border-radius: 4px;
          background: #ffffff;
        }
      }
    }

    &__list {
      min-height: 3rem;
      width: 100%;
      margin-top: 4rem;

      .header {
        margin-top: 0;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        display: grid;
        grid-template-columns: var(--tabular-template);
        padding: 0 2rem 1.6rem 2.4rem;

        .text {
          @include label-default-font(500);
          font-size: 1.4rem;
          color: #525560;

          &.status {
            text-align: center;
          }
        }
      }
    }
  }
}
