@import "../../../../styles/template.scss";
@import "../../../../styles/media.scss";
.withdraw-update {
  background: #f0f3f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: none;

  .container {
    width: 100%;
    padding: 3.3rem 6rem;
    overflow: auto;
    height: 100%;

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &__title {
          font-weight: bold;
          font-size: 3.1rem;
          color: #2d3742;
          text-transform: uppercase;
        }
        &__sub-title {
          font-size: 1.5rem;
          color: #272b2f;
        }
      }
    }

    &__body {
      .body {
        &__box {
          width: 100%;
          background-color: #fff;
          padding: 3rem 4rem;

          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }

        &__title {
          @include label-default-font(bold);
          font-size: 2.3rem;
          color: #070d14;
          margin-bottom: 2rem;
        }
        &__group_info_box {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
        }

        &__infoBox {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 2rem;
        }

        &__subTitle {
          @include label-default-font(bold);
          color: #272b2f;
          font-size: 1.3rem;
          padding-bottom: 0.5rem;
        }

        &__text {
          @include label-default-font(normal);
          color: #272b2f;
          font-size: 1.5rem;
        }
      }

      .summary,
      .transactionList {
        padding: 4rem 4.8rem !important;
        @extend .body__box;

        &__title {
          @extend .body__title;
          width: 100%;
          margin-bottom: 3.2rem !important;
        }
      }
    }
  }

  .appFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #bdc6d7;
    .title {
      margin: 1.5rem auto;
      font-weight: bold;
      font-size: 2.7rem;
      text-transform: capitalize;
      color: #070d14;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
    }
    .closeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .appFormFooter {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 6rem;
    box-shadow: 6px 5px 21px rgba(108, 72, 58, 0.2);
    .btn {
      @extend .btn-no-style;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1.2rem 4.5rem;

      &.add {
        background-color: #fff;
        border-radius: 0.4rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 1.6rem;
        @include label-default-font(bold);
        display: flex;
        align-items: center;
        .icon {
          font-size: 2rem;
          margin-left: 0.5rem;
        }
      }

      &.confirm-payment {
        margin-left: auto;
        margin-right: 1.6rem;
        background-color: #fff;
        color: #08c4e3;
        border: 1px #08c4e3 solid;
        border-radius: 4px;
      }

      &.confirm-deli {
        background: #08c4e3;
        color: #ffffff;
        border-radius: 0.4rem;
      }
    }
  }
}
