.left-nav-settings {
  border-right: 0.1rem solid #454545;
  padding: 5.8rem 5.8rem 4.7rem;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      max-width: 7.9rem;
      height: 7.9rem;
      border: 0.7rem solid #545454;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        border-radius: 50%;
      }
      .icon {
        position: absolute;
        bottom: -1rem;
        right: -1rem;
      }
    }
    .name {
      font-size: 2.4rem;
      line-height: 3.7rem;
      color: #e6e6e6;
      margin-top: 2.7rem;
      text-align: center;
    }
    .state {
      font-size: 1.6rem;
      line-height: 2.5rem;
      color: #40dd7f;
    }
  }
  .bottom {
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 3.6rem;
      cursor: pointer;
      &:nth-child(5) {
        margin-bottom: 0;
      }

      .image {
        margin-right: 1.9rem;
      }
      .text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #8b8b8b;
      }

      &.active {
        .text {
          color: $app-color;
        }
      }
    }
    .btn-logout {
      width: 100%;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-align: center;
      letter-spacing: -0.012em;
      text-transform: uppercase;
      color: #d6b970;
      border: 0.1rem solid #d6b970;
      box-sizing: border-box;
      border-radius: 0.4rem;
      background: transparent;
      height: 4.8rem;
      margin-top: 9.3rem;
    }
  }
}
