@import "../../styles/template.scss";
@import "../../styles/media.scss";

.cartPage {
  background: #020000;
  font-family: "Poppins";
  padding-top: 4.1rem;
  @extend .app-padding-left;
  @extend .app-padding-right;
  &__stepper {
    margin-bottom: 3.6rem;
  }
  .body {
    display: flex;
    justify-content: space-between;
    color: #d8d8d8;
    margin-top: 3.6rem;
    .cartList {
      background: #2d2d2d;
      border-radius: 1rem;

      height: fit-content;
    }
    .left {
      width: 100%;
      .cartList {
        padding: 3.2rem;
        .cartIcon {
          color: #cacaca;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.4rem;
          display: flex;
          align-items: center;
          padding-bottom: 2rem;

          border-bottom: 1px solid #535353;
        }
        .noneProd {
          margin: 6rem auto 7.5rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .content {
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: bold;
            margin-bottom: 1.6rem;
          }
          .text {
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
      }
      .suggest {
        &_header {
          color: #d8d8d8;
          font-size: 2.4rem;
          line-height: 3.6rem;
          @include label-default-font(700);
          margin: 4rem 0;
        }
      }
    }
    .right {
      &Action {
        background: #2d2d2d;
        border-radius: 1rem;
        .coupon_group {
          background: #3b3b3b;
          padding: 2rem 2.4rem;
          .form_text_field {
            background: #474747;
            border: 0.1rem solid #a6a6a6;
            border-radius: 0.4rem;
            padding: 8px 0 8px 8px;
            .input {
              @include label-default-font(400);
              color: #a6a6a6;
              font-size: 1.4rem;
              line-height: 2rem;
              padding: 0;
            }
            .applyBtn {
              @include label-default-font(700);
              color: #d6b970;
              font-size: 1.4rem;
              text-transform: none;
            }

            .noBorder {
              border: none;
              padding: 0 !important;
            }
          }
        }
        .payment {
          padding: 2rem 2.4rem 0;
          .summary {
            @include label-default-font(600);
            font-size: 1.6rem;
            padding-bottom: 2.2rem;
            border-bottom: 1px solid #535353;
          }
          .provisional,
          .coupon,
          .total {
            @include label-default-font(600);
            &:not(.provisional, .total) {
              border-bottom: 1px solid #535353;
            }

            &.provisional {
              padding: 3rem 0 1.5rem;
            }

            &.coupon {
              padding: 0 0 1.5rem;
            }
            padding: 2rem 0 3rem;
            font-size: 1.4rem;
          }

          .coupon_value {
            color: #a57a2b;
          }
        }
        .nextStep {
          display: flex;
          justify-content: center;
          padding: 2.4rem;
          .nextBtn {
            background: #a57a2b;
            border-radius: 0.4rem;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: bold;
            padding: 1.2rem 6.4rem;
          }
        }
      }

      &Note {
        background: #2d2d2d;
        border-radius: 1rem;
        margin-top: 1rem;
        padding: 2.4rem;
        &_title {
          @include label-default-font(700);
          font-size: 1.4rem;
          color: #d8d8d8;
          margin-bottom: 2rem;
        }

        &_text {
          border: 1px solid #a6a6a6;
          border-radius: 4px;
          .input {
            @include label-default-font(400);
            color: #d8d8d8;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
