@import "../../../styles/media.scss";
@import "../../../styles/text.scss";

.statistics {
  font-family: $app-font;
  padding: 5.5rem;
  position: relative;
  .top {
    display: flex;
    .left {
      min-width: 42.9rem;
      .table {
        background: linear-gradient(360deg, rgba(46, 46, 46, 0.4) 0%, #333232 100%);
        border-radius: 0.6rem;

        .row {
          display: flex;
          justify-content: space-between;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #9b9b9b;
          padding: 0 6rem 3.9rem 6rem;
          &:first-child {
            padding: 1.3rem 6rem 1.5rem 2.7rem;
            border-bottom: 0.1rem solid #464646;
          }
          &:nth-child(2) {
            padding-top: 2.6rem;
          }
          &:last-child {
            padding-bottom: 2.6rem;
          }
          .name {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #d6b970;
          }
          .groupprice {
            display: flex;
            width: 50%;
            justify-content: space-between;
          }
          .price {
            font-size: 1.4rem;
            line-height: 2.1rem;
            font-family: $app-font;
            color: #cbcbcb;
            span {
              display: flex;
            }
            img {
              margin: -0.4rem 0.2rem 0 0;
              object-fit: contain;
            }
          }

          .incre {
            color: #08d2a2;
          }
          .decre {
            color: #e53935;
          }
        }
      }
    }
    .text {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #a9a9a9;
      margin-bottom: 1.6rem;
    }
    .textcolor {
      color: $app-color;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    .group {
      display: flex;
      justify-content: space-between;
    }

    .right {
      padding-left: 2.1rem;
    }
  }
  .bottom {
    .text {
      margin: 4.1rem 0 2.4rem;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #a9a9a9;
    }
    .item {
      width: 30.6rem;
      text-align: start;
      position: relative;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 1.5rem;
        position: absolute;
        top: 1.3rem;
        right: 1.1rem;
        background: rgba(2, 2, 2, 0.2);
        border-radius: 0.2rem;
      }
      .image {
        // position: relative;
        img {
          border-radius: 0.9rem;
        }
      }
      .cate {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 1.7rem;
        color: $app-color;
      }
      .name {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #c6c6c6;
        margin: 0.5rem 0 1.4rem;
        @extend .text-overflow-2-lines;
      }
      .view {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #b0b0b0;
      }
    }
  }
  .sort {
    position: absolute;
    width: 6.1rem;
    height: 23.7rem;
    left: 73.1rem;
    bottom: 0;
    background: #292929;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    .textTime {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: #999999;
    }
  }
}
