.branch-map {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background: #1b1b1b 50%;

  @include from992_ {
    flex-direction: row;
    height: 71rem;
  }

  &__info {
    flex: 1;
    overflow: hidden;
    padding: 4.8rem 0;
    display: flex;
    flex-direction: column;

    @include from992_ {
      padding: 6rem 0;
    }

    &__title {
      font-family: MTD Balerno;
      @include app-title-color;
      font-style: normal;
      font-weight: bold;
      font-size: 3.2rem;
      text-align: left;
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0 2rem;

      @include from992_ {
        padding: 0 4rem;
        margin-bottom: 2rem;
        font-size: 3rem;
      }

      @include from1200_ {
        padding: 0 6rem;
      }

      @include from1440_ {
        font-size: 4.8rem;
      }
    }

    &__container {
      overflow: hidden auto;
      overscroll-behavior: contain;

      @include to_992 {
        max-height: 35rem;
      }
    }

    &__branch {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 1rem 2rem;

      @include from992_ {
        padding: 1.8rem 4rem;
      }

      @include from1200_ {
        padding: 1.8rem 6rem;
      }

      &:hover {
        background: #020000;
      }

      &__img {
        max-width: 21rem;
        max-height: 12rem;
        height: 12rem;
        display: none;
        justify-content: center;
        align-items: center;

        @include from992_ {
          display: flex;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__info {
        margin-left: 0;

        @include from992_ {
          margin-left: 2.5rem;
          max-width: 18.3rem;
        }

        @include from1200_ {
          margin-left: 4rem;
          max-width: 25rem;
        }
        @include from1440_ {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 12rem;
        }

        &__name {
          font-family: $app-font;
          font-style: normal;
          font-weight: bold;
          font-size: 1.5rem;
          color: #ffffff;
          padding-bottom: 1rem;

          @include from992_ {
            font-size: 1.8rem;
            padding-bottom: 1.2rem;
          }
        }

        &__text {
          font-family: $app-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1.2rem;
          line-height: 2.2rem;
          color: #ffffff;

          @include from992_ {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  &__gg-map {
    width: 100%;
    height: 30rem;

    @include from992_ {
      width: 40%;
      height: 100%;
      min-width: 58rem;
    }
  }
}
