.product-listing {
  background: #020000;

  &__banner {
    margin: 0 auto;
    padding: 7.4rem 0 2.7rem;
    @include from992_ {
      padding: 14.4rem 0 2.7rem;
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .app-padding-left;
    @extend .app-padding-right;

    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
      padding: 0 15rem;
    }
    &__count {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Poppins";
      margin-left: 1rem;
    }
    &-right {
      display: flex;
      width: 80%;
      @include from576_ {
        width: 90%;
      }
      @include from992_ {
        width: 60%;
      }
      @include from1200_ {
        width: 50%;
      }
    }
    &__search-input {
      background: #292929;
      border-radius: 3.8rem;

      input {
        border: none;
        outline: none;
        color: #999999;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
    .MuiFormControl-root {
      @include from992_ {
        margin-right: 1.2rem;
      }
      .MuiOutlinedInput-root {
        margin-left: 0;
      }
    }
    .MuiOutlinedInput-root {
      background: #292929;
      border-radius: 3.8rem;

      @include from992_ {
        margin-left: 1.2rem;
      }
    }
    .MuiSelect-icon {
      color: #999999;
      top: calc(50% - 8px);
    }
    &__select {
      div {
        color: #999999;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
      &__menu {
        .MuiMenu-list {
          padding: 0;
        }
        .MuiMenu-paper {
          background: #292929;
        }
        .MuiMenuItem-root {
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #999999;
          font-family: "Poppins";
          padding: 1rem;
        }
        .MuiListItem-root.Mui-selected {
          background: transparent;
          &:hover {
            background: rgba(92, 92, 92, 0.6);
          }
        }
      }
    }
    &__sort {
      position: relative;
      background: #d6b970;
      border-radius: 3.8rem;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 4.8rem;
      height: 4.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  &__list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
    grid-gap: 1.6rem 1.4rem;
    @extend .app-padding-left;
    @extend .app-padding-right;
    margin-bottom: 4.3rem;
    @include from576_ {
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
    @include from768_ {
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    }
    @include from992_ {
      margin-top: 4.3rem;
      grid-gap: 2.2rem;
      grid-template-columns: repeat(auto-fit, minmax(26.4rem, 1fr));
    }

    @include from1440_ {
      max-width: 144rem;
      margin: 4.3rem auto 0;
    }
    .product-card-1 {
      margin: 0 auto;
    }
    &__btn {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &-submit {
        background: #a57a2b;
        border-radius: 0.4rem;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 1.6rem;
        line-height: 2.4rem;
        width: 16.8rem;
        height: 4.8rem;
        font-weight: bold;
        margin: 0 0 8rem;
        cursor: pointer;
        @include from992_ {
          width: 26.4rem;
          margin-top: 6rem;
        }
      }
      .MuiLinearProgress-barColorPrimary {
        background-color: #a57a2b;
      }
    }
    &__text {
      font-size: 1.8rem;
      line-height: 1.9rem;
      color: #888888;
      margin-top: 6.2rem;
      font-family: "Poppins";
    }
    &__category {
      margin: 2.6rem 0;
      // display: flex;
      display: none;
      justify-content: center;
      &__item {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #999898;
        text-transform: uppercase;
      }
      .active {
        color: #ffffff;
        background: linear-gradient(6.44deg, #a57a2b -8.97%, #ffe7aa 278.14%);
        border-radius: 3.2rem;
        padding: 0.4rem 1rem;
      }
    }
  }
}
