.checkout-stepper {
  background: $bg-component;
  border-radius: 3.6rem;
  display: flex;
  min-width: 24rem;
  width: 24rem;
  height: 3.2rem;

  @include from992_ {
    // min-width: 90rem;
    width: 88.8rem;
    // width: 94rem;
    height: 4rem;
  }

  &__step {
    font-family: $app-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-10);
    flex: 1;
    height: 100%;
    background-color: transparent;

    &.active {
      font-weight: bold;
      color: #ffffff;
      background-color: $app-color;
      border-radius: 3.6rem;
    }
  }
  &__form {
    background: #ffffff;
    padding: 1.4rem 0 1.2rem;
    position: relative;
    @include from768_ {
      margin-bottom: 0.8rem;
    }
    @include from992_ {
      background: transparent;
      padding: 0;
    }
    .icon {
      position: absolute;
    }

    &__title {
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #262525;
      font-weight: bold;
      text-align: center;
    }
  }
}
