.policy {
  background-color: #131313;
  // height: 40rem;
  .content {
    max-width: 80rem;
    margin: 0 auto;
    .title {
      padding-top: 6rem;
      font-size: 4.6rem;
      line-height: 5.4rem;
      text-align: center;
      text-transform: uppercase;
      font-family: "MTD Balerno";
      margin-bottom: 3.6rem;
      background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .item {
      display: flex;
      justify-content: space-between;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: var(--color-white-1);
      padding-bottom: 3.6rem;

      &:last-child {
        padding-bottom: 10rem;
      }
      img {
        width: 4rem;
        height: 4rem;
        // object-fit: contain;
      }
      .text {
        max-width: 73.6rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-family: Poppins;
        .name {
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
        .paragraph {
          margin-left: 2rem;
        }
      }
    }
  }
}
