.accuracy-stepper {
  &__step {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: transparent;
    &:last-child {
      .MuiDivider-vertical {
        display: none;
      }
    }
    .name {
      color: #8b8b8b;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      line-height: 1.9rem;
      font-family: $app-font;
    }
    .number {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      border: 0.1rem solid #8b8b8b;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.4rem;
    }
    &.active {
      .name {
        color: $app-color;
      }
      .number {
        background-color: $app-color;
        border: 0.1rem solid $app-color;
        color: #ffffff;
      }
    }
  }
}
