.partner {
  @extend .app-padding-left;
  @extend .app-padding-right;
  @include from1440_ {
    max-width: 144rem;
    margin: 0 auto;
  }
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 7.3rem 0 3.6rem;
    @include from1440_ {
      font-size: 4.8rem;
      line-height: 7.6rem;
      margin: 8.3rem 0 5.6rem;
    }
  }
  &__list {
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.2rem, 1fr));
    grid-gap: 3.4rem 3.6rem;
    @include from992_ {
      margin-bottom: 17rem;
      grid-template-columns: repeat(auto-fit, minmax(14.4rem, 1fr));
      grid-gap: 6rem 11.3rem;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    position: relative;
    .img-white {
      width: 8.2rem;
      height: 4.6rem;
      @include from992_ {
        width: 14.4rem;
        height: 8rem;
      }
    }
    .img-color {
      display: none;
      width: 8.2rem;
      height: 4.6rem;
      @include from992_ {
        width: 14.4rem;
        height: 8rem;
      }
    }
    &:hover {
      background: #fff;
      .img-white {
        display: none;
      }
      .img-color {
        display: block;
      }
    }
  }
}
