.download-app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #131313;
  position: relative;

  .body {
    position: absolute;
    top: 3.7rem;
    .icon-back {
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      line-height: 3.2rem;
      text-transform: capitalize;
      color: #ffffff;
      font-family: $app-font-MTD;
    }
    .image {
      width: 37.6rem;
      height: 22.4rem;
      margin: 0 auto;
    }
    .title {
      font-size: 3rem;
      line-height: 4.5rem;
      text-transform: uppercase;
      font-family: $app-font-MTD;
      @include app-title-color;
      text-align: center;
    }
    .text {
      font-size: 16px;
      line-height: 2.4rem;
      color: var(--color-gray-10);
      text-align: center;
      margin: 1.4rem 0 4.2rem;
    }
    .btn-group {
      display: flex;
      justify-content: center;
      .btn {
        width: 15.2rem;
        height: 4.8rem;
        border: 0.1rem solid #b1b1b1;
        border-radius: 0.6rem;
        background: transparent;
        display: flex;
        color: #c8c8c8;
        justify-content: space-around;
        text-align: start;
        align-items: center;
        margin-right: 0.8rem;
        cursor: pointer;
        &:nth-child(2) {
          margin-right: 0;
        }
        img {
          width: 3rem;
          height: 3.5rem;
        }
        &__get {
          font-size: 1rem;
          line-height: 1.6rem;
          font-weight: 400;
        }
        &__name {
          font-weight: bold;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
  }
}
