@import "../../../styles/template.scss";
@import "../../../styles/media.scss";

.detailPage {
  &__info {
    @extend .app-padding-left;
    @extend .app-padding-right;
    &__left {
      padding-right: 6.4rem;
      border-right: 1px solid #454545;
    }

    &__right {
      padding-left: 6.4rem;
    }
    &__generals {
      color: var(--color-gray-9) !important;
      &__title {
        @include label-default-font(400);
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 2rem 0;
        border-bottom: 1px solid #6c6c6c;
        color: #fff;
      }

      &__table {
        padding: 1.2rem 0 2.2rem;
        border-bottom: 1px solid #6c6c6c;
        .cell {
          padding: 2rem 0;
          color: var(--color-gray-9) !important;
          @include label-default-font(400);
          font-size: 1.4rem;

          &:first-child {
            min-width: 10rem;
          }
          .sizesList,
          .colorList,
          .materialList {
            display: flex;
            border: 1px solid #bdc6d7;
            border-radius: 0.4rem;
            width: fit-content;
            &_item {
              margin: 1rem 0;
              padding: 0 1.6rem;
              &:not(:last-child, :nth-child(4)) {
                border-right: 0.8px solid #ffffff;
              }

              &:not(:first-child, :nth-child(5)) {
                display: flex;
                justify-content: center;
              }

              &.active {
                @include label-default-font(bold);
                color: #d6b970;
              }
            }
          }
        }
      }
    }

    &__cartWrap {
      @include label-default-font(400);
      font-size: 1.4rem;
      padding: 4.2rem 0 2.2rem;
      &_price {
        font-size: 2.4rem;
        @include label-default-font(bold);
        color: #d6b970;
      }
      &_cost {
        font-size: 2.4rem;
        color: #a9a9a9;
        text-decoration-line: line-through;
      }

      &__actions {
        margin-top: 2.5rem;
        &__btnGroup {
          width: 12rem;
          height: 6rem;
          background: transparent;
          border: 0.1rem solid #535353;
          border-radius: 0.4rem;
          @include from1200_ {
            width: 15.7rem;
          }
          input {
            height: 6rem;
            background: transparent;
            border: 0.1rem solid #535353;
            font-size: 1.6rem;
            color: var(--color-gray-9);
          }
          .MuiSvgIcon-root {
            color: var(--color-gray-9);
            font-size: 1.6rem !important;
          }
        }
        &_right {
          display: flex;
          align-items: center;
        }

        &__btn {
          font-weight: bold;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #ffffff;
          background: #a57a2b;
          border-radius: 0.4rem;
          border: none;
          width: 28.5rem;
          height: 4.2rem;
          @include from992_ {
            width: 29.5rem;
            height: 6rem;

            margin-right: 2.4rem;
          }
        }

        &__addToCart {
          width: 4.2rem;
          height: 4.2rem;
          background: #454545;
          border-radius: 3rem;
          border: none;

          @include from992_ {
            width: 6rem;
            height: 6rem;
            border-radius: 0.4rem;
            background: transparent;
            border: 0.1rem solid #535353;
          }
        }
      }
    }

    &__accordion {
      background: transparent !important;
      font-size: 1.4rem !important;
      line-height: 2.2rem !important;
      color: var(--color-gray-9) !important;
      margin-top: 2.4rem;
      &__title {
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: #fff !important;
        margin-top: 3rem;
        padding: 0 !important;
        @include from992_ {
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
        border-bottom: 0.1rem solid #6c6c6c !important;
      }

      &__description {
        font-size: 1.4rem;
        @include label-default-font(400, Poppins);
        line-height: 2.2rem;
        padding: 2rem 0 !important;
      }

      &__icon {
        color: #656565;
      }
    }

    &__specifications {
      color: #a6a6a6;
      font-size: 1.4rem;
      @include label-default-font(400, Poppins);
      .description {
        @include label-default-font(700, Poppins);
        margin: 1.2rem 0;
      }

      &__container {
        padding: 2rem 0;
      }

      &__title {
        @include label-default-font(400);
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 2rem 0;
        border-bottom: 1px solid #6c6c6c;
        color: #fff;
      }
    }
  }

  &__swiper {
    width: 90vw;
    height: 80%;
    display: grid;
    margin-bottom: 3.5rem;
    &Slide {
      height: 100%;
      display: flex;
      align-items: baseline;
      justify-content: center;
      transition: all 200ms linear;
      transform: scale(0.75);
      padding: 7.2rem 5.5rem;
      &_img {
        width: 80%;
        object-fit: contain;
        top: -40% !important;
      }

      &.swiper_active {
        &_img {
          width: 120%;
        }
        border-top: 1px solid #dcd6d6;
        transform: scale(1) translate3d(0, 0, 0);
        background: linear-gradient(
          179.97deg,
          rgba(46, 46, 46, 0) -23.39%,
          rgba(61, 61, 61, 0.8) 99.98%
        );
        padding: 3.5rem 5.5rem 7.2rem;
      }
    }
  }
}

.noBorder {
  border: none !important;
}

.product {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &_type {
    text-transform: uppercase;
    @include label-default-font(400, Poppins);
    color: #878787;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  &_name {
    text-transform: uppercase;
    @include label-default-font(bold, MTD Balerno);
    color: #fff;
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
  }

  &_product {
    @include label-default-font(500, Poppins);
    color: #d6b970;
    font-size: 3.2rem;
  }
}
