@import "../../../styles/template.scss";
@import "../../../styles/media.scss";

.productsPage {
  &__banner {
    @extend .app-padding-left;
    @extend .app-padding-right;
    margin-top: 4.5rem;
    &__list {
      img {
        width: 100%;
        cursor: pointer;
        &:hover {
          opacity: 0.5 !important;
          -webkit-transition: 0.3s ease-in-out !important;
          transition: 0.3s ease-in-out !important;
        }
      }
    }

    &__imgRight {
      padding-right: 0 !important;
    }

    &__imgLeft {
      padding-left: 0 !important;
    }
  }

  &__swiper {
    @extend .app-padding-left;
    @extend .app-padding-right;
    margin: 4.3rem 0 5.7rem;
    &Slide {
      cursor: pointer;
      text-align: center;
      font-size: 1.4rem;
      padding: 1.2rem 0;
      // padding: 0 2.6rem 2.6rem;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      background: linear-gradient(180deg, #3d3d3d 0%, rgba(46, 46, 46, 0) 99.99%);
      border-radius: 1rem;
      color: #fff;
      width: 100%;
      &:hover {
        opacity: 0.5 !important;
        -webkit-transition: 0.3s ease-in-out !important;
        transition: 0.3s ease-in-out !important;
      }

      .imgCate {
        position: relative;
        width: 7rem;
        height: 7rem;
      }

      &_name {
        @include label-default-font(400);
        font-size: 1.4rem;
        max-width: 9rem;
        margin: 1rem 0;
      }

      &_active {
        background: linear-gradient(6.44deg, #a57a2b -8.97%, #ffe7aa 278.14%);
        border-radius: 10.1538px;
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .app-padding-left;
    @extend .app-padding-right;

    @include from1440_ {
      margin: 0 auto;
    }
    &__count {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Poppins";
      margin-left: 1rem;
    }
    &_right {
      display: flex;
      width: 80%;
      @include from576_ {
        width: 90%;
      }
      @include from992_ {
        width: 60%;
      }
      @include from1200_ {
        width: 50%;
      }
    }
    &__search-input {
      background: #292929;
      border-radius: 3.8rem;

      input {
        border: none;
        outline: none;
        color: #999999;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
    .MuiFormControl-root {
      @include from992_ {
        margin-right: 1.2rem;
      }
      .MuiOutlinedInput-root {
        margin-left: 0;
      }
    }
    .MuiOutlinedInput-root {
      background: #292929;
      border-radius: 3.8rem;

      @include from992_ {
        margin-left: 1.2rem;
      }
    }
    .MuiSelect-icon {
      color: #999999;
      top: calc(50% - 8px);
    }
    &__select {
      span {
        color: #999999;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
      &__menu {
        .MuiMenu-list {
          padding: 0;
        }
        .MuiMenu-paper {
          background: #292929;
        }
        .MuiMenuItem-root {
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #999999;
          font-family: "Poppins";
          padding: 1rem;
        }
        .MuiListItem-root.Mui-selected {
          background: transparent;
          &:hover {
            background: rgba(92, 92, 92, 0.6);
          }
        }
      }
    }
    &__sort {
      background: #d6b970;
      border-radius: 3.8rem;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      max-width: 4.8rem;
      max-height: 4.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 2rem;
      }
    }
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  &__list {
    width: 100%;
    margin-top: 3.2rem !important;
    @extend .app-padding-left;
    @extend .app-padding-right;

    @include from1440_ {
      padding: 0 20rem;
    }

    &__btn {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &_submit {
        background: #a57a2b;
        border-radius: 0.4rem;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 1.6rem;
        line-height: 2.4rem;
        width: 16.8rem;
        height: 4.8rem;
        font-weight: bold;
        margin: 0 0 8rem;
        cursor: pointer;
        @include from992_ {
          width: 26.4rem;
          margin-top: 6rem;
        }
      }
      .MuiLinearProgress-barColorPrimary {
        background-color: #a57a2b;
      }
    }
    &__text {
      font-size: 1.8rem;
      line-height: 1.9rem;
      color: #888888;
      margin-top: 6.2rem;
      font-family: "Poppins";
    }

    &__bar {
      background-color: #a57a2b !important;
    }
  }
}
