.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2.5rem;
    padding: 0 4.8rem 1rem 4.8rem;
    height: 100%;
  }
  .controller {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .action-list {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      place-items: center;
      grid-gap: 1rem;
    }
    .search-input {
      background-color: var(--color-white-1);
      color: var(--color-dark-6);
    }
  }
  .table {
    min-height: 10rem;
    width: 100%;
    overflow: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    .header {
      padding: 0 4.5rem;
      font-weight: 500;
      font-size: 1.6rem;
      color: var(--color-dark-7);
      font-family: Roboto;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #f3f5f9;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 2rem 1.6rem 2.4rem;
    }
    .body {
      margin-top: 1.2rem;
      .item {
        padding: 3.6rem 4.5rem;
        display: flex;
        background-color: var(--color-white-1);
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: #272b2f;
      }
      .item + .item {
        margin-top: 8px;
      }
    }
    .code {
      width: 12%;
    }
    .status {
      width: 15%;
      text-align: left;
    }
    .source {
      width: 10%;
      text-align: center;
      text-transform: capitalize;
    }
    .create {
      width: 15%;
      text-align: left;
    }
    .customer {
      padding-left: 2.5rem;
      width: 22%;
      text-align: left;
    }
    .paid {
      margin-left: auto;
      width: 8%;
      text-align: center;
    }
    .total {
      margin-left: auto;
      width: 10%;
      text-align: right;
    }
  }
}
