@import "../../../../styles/template.scss";
@import "../../../../styles/media.scss";

.confirmOrder {
  background: #020000;
  padding-top: 4.1rem;
  height: 100%;
  @extend .app-padding-left;
  @extend .app-padding-right;
  .body {
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;
    .left {
      width: 100%;
      .cartList {
        background: #2d2d2d;
        border-radius: 1rem;
        height: fit-content;
        padding: 3.2rem;
        margin: 1.2rem;
        .cartIcon {
          color: #cacaca;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.4rem;
          display: flex;
          align-items: center;
          padding-bottom: 2rem;

          border-bottom: 1px solid #535353;
        }
      }

      .delivery {
        background: #2d2d2d;
        border-radius: 1rem;
        margin: 1.2rem;
        padding: 2.4rem 3.2rem;
        &_title {
          @include label-default-font(700);
          font-size: 1.4rem;
          color: #d8d8d8;
          border-bottom: 1px solid #535353;
          padding-bottom: 1.6rem;
        }

        &_Address {
          color: #d8d8d8;
          width: 100%;
          &_title {
            display: flex;
            justify-content: space-between;
            .name {
              @include label-default-font(600);
              font-size: 1.6rem;
              color: #d8d8d8;
            }
            .isDefault {
              @include label-default-font(400);
              font-size: 1.4rem;
              color: #08d2a2;
            }
          }
          &_info {
            @include label-default-font(400);
            font-size: 1.4rem;
            color: #d8d8d8;
          }
          &_edit {
            @include label-default-font(400);
            display: flex;
            justify-content: flex-end;
            color: #a57a2b;
            text-decoration-line: underline;
            font-size: 1.4rem;
            cursor: pointer;
          }
        }
      }
      .method {
        background: #2d2d2d;
        border-radius: 1rem;
        margin: 1.2rem;
        padding: 2.4rem 3.2rem;
        &_title {
          @include label-default-font(700);
          font-size: 1.4rem;
          color: #d8d8d8;
          border-bottom: 1px solid #535353;
          padding-bottom: 1.6rem;
        }

        &_list {
          &_info {
            width: 100%;
            padding: 1.2rem 0;
            .circleChecked {
              color: #a57a2b;
              &Style {
                color: #a57a2b;
              }
            }
            .circle {
              color: #9a9999;
            }
          }

          &_label {
            @include label-default-font(400);
            font-size: 1.6rem;
            color: #d8d8d8;
          }
        }
      }
    }
    .right {
      color: #d8d8d8;
      &Action {
        background: #2d2d2d;
        border-radius: 1rem;
        .coupon_group {
          background: #3b3b3b;
          padding: 2rem 2.4rem;
          .form_text_field {
            background: #474747;
            border: 0.1rem solid #a6a6a6;
            border-radius: 0.4rem;
            padding: 8px 0 8px 8px;
            .input {
              @include label-default-font(400);
              color: #a6a6a6;
              font-size: 1.4rem;
              line-height: 2rem;
              padding: 0;
            }
            .applyBtn {
              @include label-default-font(700);
              color: #d6b970;
              font-size: 1.4rem;
              text-transform: none;
            }

            .noBorder {
              border: none;
              padding: 0 !important;
            }
          }
        }
        .payment {
          padding: 2rem 2.4rem 0;
          .summary {
            @include label-default-font(600);
            font-size: 1.6rem;
            padding-bottom: 2.2rem;
            border-bottom: 1px solid #535353;
          }
          .provisional,
          .coupon,
          .deliFee,
          .total {
            @include label-default-font(600);
            &:not(.provisional, .total, .coupon) {
              border-bottom: 1px solid #535353;
            }

            &.provisional {
              padding: 3rem 0 1.5rem;
            }

            &.deliFee,
            &.coupon {
              padding: 0 0 1.5rem;
            }
            padding: 2rem 0 3rem;
            font-size: 1.4rem;
          }

          .coupon_value {
            color: #a57a2b;
          }
        }
        .nextStep {
          display: flex;
          justify-content: center;
          padding: 2.4rem;
          .nextBtn {
            background: #a57a2b;
            border-radius: 0.4rem;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: bold;
            padding: 1.2rem 6.4rem;
          }
        }
      }

      &Note {
        background: #2d2d2d;
        border-radius: 1rem;
        margin-top: 1rem;
        padding: 2.4rem;
        &_title {
          @include label-default-font(700);
          font-size: 1.4rem;
          color: #d8d8d8;
          margin-bottom: 2rem;
        }

        &_text {
          border: 1px solid #a6a6a6;
          border-radius: 4px;
          .input {
            @include label-default-font(400);
            color: #d8d8d8;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
