.order-product-cart {
  font-family: $app-font;
  padding: 0rem 1.6rem;
  @include from992_ {
    padding: 0rem 1.9rem;
  }
  &__item {
    height: 12.8rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding: 2.4rem 0;
  }
  &__img {
    width: 6rem;
    height: 6rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__group-quantity {
    margin-left: 1.2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include from576_ {
      width: 100%;
    }
    @include from768_ {
      width: 30%;
    }
    @include from992_ {
      width: 20%;
    }
    .quantity-btn-group {
      justify-content: flex-start;
      height: auto;
      @include from768_ {
        justify-content: flex-end;
      }
      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
    .minus {
      border-radius: 0.4rem 0 0 0.4rem;
      border: 1px solid #c3c2c2;
      width: 2.8rem;
      height: 2.8rem;
      flex: 0;
    }
    .plus {
      border-radius: 0 0.4rem 0.4rem 0;
      border: 1px solid #c3c2c2;
      width: 2.8rem;
      height: 2.8rem;
      flex: 0;
    }
    .quantity-btn-group__value {
      border-top: 1px solid #c3c2c2;
      border-bottom: 1px solid #c3c2c2;
      width: 2.8rem;
      height: 2.8rem;
      font-size: 1.4rem !important;
      font-weight: 400 !important;
      @include from992_ {
        width: 3.2rem;
      }
    }
  }
  &__group-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name {
    color: #d8d8d8;
    font-size: 1.4rem;
    font-weight: 400;
    @include from768_ {
      margin-left: 1.2rem;
    }
    @include from992_ {
      width: 100%;
      margin-left: 5.2rem;
    }
  }
  &__price {
    color: #d8d8d8;
    font-weight: bold;
    font-size: 1.2rem;
    @include from992_ {
      font-size: 1.8rem;
    }
    sup {
      font-size: 1rem;
      font-weight: 400;
      @include from992_ {
        font-size: 1.2rem;
      }
    }
  }
  &__delete {
    font-size: 1rem;
    font-weight: 400;
    color: #9a9999;
  }
  &__group-img {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
