.notification-modal {
  --grid-columns: 1fr;
  height: 100%;
  padding: 6rem 7.2rem 4.8rem 7.2rem;
  background-color: var(--color-dark-5);
  .icon {
    display: grid;
    place-items: center;
  }
  .title {
    margin-top: 3.1rem;
    font-weight: bold;
    text-align: center;
    font-size: 3.5rem;
    line-height: 122%;
    letter-spacing: -0.016em;
    color: var(--color-gray-7);
  }
  .content {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.9rem;
    line-height: 140%;
    letter-spacing: -0.012em;
    color: var(--color-gray-8);
  }
  .actions {
    width: 100%;
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: auto;
    grid-gap: 4rem;
    place-items: center;
    margin-top: 4.5rem;
    .cancel {
      @extend .btn-cancel-style;
      border: 1px solid #272b2f;
      min-width: 20rem;
    }
    .confirm {
      @extend .btn-confirm-style;
      text-transform: uppercase;
      min-width: 20rem;
    }
  }
}

.pulse {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.green {
    animation: pulse-green 2s linear infinite;
  }
  &.purple {
    animation: pulse-purple 2s linear infinite;
  }
  &.yellow {
    animation: pulse-yellow 2s linear infinite;
  }
  &.red {
    animation: pulse-red 2s linear infinite;
  }
  &.blue {
    animation: pulse-blue 2s linear infinite;
  }
  &.gold {
    animation: pulse-gold 2s linear infinite;
  }
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 255, 227, 1), 0 0 0 0 rgba(228, 255, 227, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(228, 255, 227, 0.4), 0 0 0 0 rgba(228, 255, 227, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(228, 255, 227, 0), 0 0 0 5px rgba(228, 255, 227, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 255, 227, 0), 0 0 0 5px rgba(228, 255, 227, 0);
  }
}

@keyframes pulse-purple {
  0% {
    box-shadow: 0 0 0 0 rgba(248, 247, 255, 1), 0 0 0 0 rgba(248, 247, 255, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(248, 247, 255, 0.8), 0 0 0 0 rgba(248, 247, 255, 0.8);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(248, 247, 255, 0.6), 0 0 0 5px rgba(248, 247, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(248, 247, 255, 0), 0 0 0 5px rgba(248, 247, 255, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 245, 220, 1), 0 0 0 0 rgba(255, 245, 220, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(255, 245, 220, 0.4), 0 0 0 0 rgba(255, 245, 220, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(255, 245, 220, 0), 0 0 0 5px rgba(255, 245, 220, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 245, 220, 0), 0 0 0 5px rgba(255, 245, 220, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 241, 240, 1), 0 0 0 0 rgba(255, 241, 240, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(255, 241, 240, 0.4), 0 0 0 0 rgba(255, 241, 240, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(255, 241, 240, 0), 0 0 0 5px rgba(255, 241, 240, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 241, 240, 0), 0 0 0 5px rgba(255, 241, 240, 0);
  }
}

@keyframes pulse-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(64, 153, 237, 1), 0 0 0 0 rgba(64, 153, 237, 1);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(64, 153, 237, 0.4), 0 0 0 0 rgba(64, 153, 237, 0.4);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(64, 153, 237, 0), 0 0 0 5px rgba(64, 153, 237, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(64, 153, 237, 0), 0 0 0 5px rgba(64, 153, 237, 0);
  }
}
@keyframes pulse-gold {
  0% {
    box-shadow: 0 0 0 0 var(--color-gold-1), 0 0 0 0 var(--color-gold-1);
  }
  40% {
    box-shadow: 0 0 0 20px var(--color-gold-1), 0 0 0 0 var(--color-gold-1);
  }
  80% {
    box-shadow: 0 0 0 20px var(--color-gold-1), 0 0 0 5px var(--color-gold-1);
  }
  100% {
    box-shadow: 0 0 0 0 var(--color-gold-1), 0 0 0 5px var(--color-gold-1);
  }
}
.notification-icon-box {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.green {
    background-color: #2ac769;
  }
  &.yellow {
    background-color: #ffd74b;
  }
  &.red {
    background-color: #f84948;
  }
  &.purple {
    background-color: #6658f3;
  }
  &.gold {
    background: linear-gradient(6.44deg, var(--color-gold-1) -8.97%, var(--color-gold-2) 278.14%);
  }
}
