.cart-summary {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include from992_ {
    border: 1px solid #bdc6d7;
  }

  &__title {
    font-family: UTM Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    color: #262525;
    text-align: left;
  }

  &__products {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: 1.5rem 0;

    @include from992_ {
      padding: 3rem;
    }

    &__empty {
      font-family: $app-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      color: #6c778d;
      padding: 2rem 0;

      @include from992_ {
        padding: 0;
      }
    }

    &__item {
      &:not(:first-child) {
        padding-top: 2.5rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 2.5rem;
      }

      &__header {
        .product-name {
          font-family: $app-font;
          font-style: normal;
          font-weight: bold;
          font-size: 1.8rem;
          text-transform: capitalize;
          color: #262525;
        }
      }
      &__body {
        padding-top: 0.5rem;
        font-family: $app-font;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        text-transform: capitalize;
        color: #525560;
      }

      &__actions {
        padding-top: 1.2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .delete {
          font-family: $app-font;
          font-style: normal;
          font-weight: 500;
          font-size: 1.4rem;
          color: #f84948;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__price {
        font-family: $app-font;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        color: #262525;
      }
    }
  }

  &__calc {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;

    @include from992_ {
      padding: 3rem;
    }

    &__price {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: #262525;

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &:last-child {
        margin-top: 2rem;
        color: $app-color;
      }

      .label {
        min-width: 11.5rem;
        font-family: $app-font;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        text-transform: capitalize;
        color: inherit;
      }
      .value {
        font-family: $app-font;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        color: inherit;
      }
    }
  }
}
