.table-value {
  @extend .app-padding-left;
  @extend .app-padding-right;
  font-family: $app-font;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: transparent;
  @include from1440_ {
    max-width: 144rem;
    margin: 0 auto;
  }
  &__group-input-curren {
    @include from992_ {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #cbcbcb;
    text-transform: uppercase;
    padding-bottom: 1.3rem;
    @include from768_ {
      font-size: 1.92rem;
      line-height: 2.32rem;
    }
    @include from1440_ {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }
  &__textfield {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #adadad;
    align-items: center;
    padding-bottom: 2.1rem;
    @include from576_ {
      font-size: 1.28rem;
      line-height: 1.44rem;
    }
    @include from1440_ {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
    .equal {
      padding: 0 1rem;
      @include from576_ {
        padding: 0 2.2rem;
      }
    }
  }

  .MuiOutlinedInput-inputAdornedEnd {
    color: #adadad !important;
    font-size: 1.2rem;
    line-height: 1.3rem;
    @include from768_ {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
  .MuiOutlinedInput-adornedEnd {
    border: 0.1rem solid #ffffff !important;
    border-radius: 0.3rem !important;
  }

  .MuiSelect-select.MuiSelect-select {
    color: #adadad !important;
    font-size: 1rem !important;
    line-height: 1.1rem !important;
    @include from768_ {
      font-size: 1.6rem !important;
      padding-top: 1.5rem !important;
    }
  }
  &__table {
    font-family: $app-font;
    border-top: 0.1rem solid #cbcbcb;
    @include from992_ {
      padding-top: 3.5rem;
    }
    &__item {
      @include from992_ {
        flex-direction: row;
        border-right: 0.1rem solid #cbcbcb;
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        &:last-child {
          border: none;
          padding-right: 0;
        }
        &:first-child {
          padding-left: 0;
        }
      }
      @include from1200_ {
        padding: 0 5rem;
      }
    }
    &__group {
      display: flex;
    }

    &__group__price {
      margin-left: 2.2rem;
      @include from1440_ {
        margin-left: 4rem;
      }
    }
    &__name {
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: #cbcbcb;
      margin: 2.1rem 0 1.5rem;
      @include from768_ {
        font-size: 1.44rem;
        line-height: 1.76rem;
      }
      @include from992_ {
        margin: 0;
      }
      @include from1440_ {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    }
    &__text {
      color: #777777;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 400;
      margin-bottom: 0.7rem;
      &:last-child {
        margin: 0;
      }
      @include from768_ {
        line-height: 1.8rem;
        margin-bottom: 1rem;
      }
      @include from1440_ {
        line-height: 2.1rem;
      }
    }
    &__number {
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 0.7rem;
      &:last-child {
        margin: 0;
      }
      @include from768_ {
        line-height: 1.8rem;
        margin-bottom: 1rem;
      }

      @include from1440_ {
        line-height: 2.1rem;
      }
    }
    .number-color {
      color: $app-color;
    }
  }
}
