.address-card-1 {
  padding: 1.8rem 0;
  border-bottom: 1px solid #bdc6d7;

  display: flex;
  flex-direction: column;

  position: relative;

  &__default {
    position: absolute;
    top: 1.8rem;
    right: 0;

    font-family: $app-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #40dd7f;
    text-align: right;
  }

  &__info {
    color: #d8d8d8;
    &__name {
      padding-bottom: 1.2rem;
      font-family: $app-font;
      font-style: normal;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: capitalize;
    }
    &__address {
      @extend .text-overflow-2-lines;
      font-family: $app-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      text-transform: capitalize;
    }
    &__phone {
      font-family: $app-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      text-transform: capitalize;
    }
  }

  &__actions {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &__delete {
      cursor: pointer;
      font-family: $app-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      text-transform: capitalize;
      text-decoration: underline;
      color: #f84948;
    }

    &__update {
      cursor: pointer;
      font-family: $app-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      text-transform: capitalize;
      text-decoration: underline;
      color: #3c3b3b;
    }

    &__choose {
      cursor: pointer;
      padding: 0.6rem 1.2rem;
      font-family: $app-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      text-transform: capitalize;
      color: $app-color;
      border: 1px solid $app-color;
      border-radius: 0.4rem;
    }
  }
}
.selected {
  border-color: #d8d8d8 !important;
}
