.collection {
  position: relative;
  width: 100%;
  background: #131313;
  &__body {
    position: relative;
    // width: 108rem;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 144rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10rem 0;
  }
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3.2rem;
    line-height: 135%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    @include from1440_ {
      font-size: 4.8rem;
    }
  }
  &__description {
    font-size: 18px;
    line-height: 2.7rem;
    text-align: center;
    font-family: $app-font;
    color: var(--color-gray-10);
    margin: 1.5rem 0 4.2rem;
  }
  &__select {
    margin-top: 8rem;
    width: 48.3rem;
    height: 48.3rem;
    position: relative;
    img {
      mix-blend-mode: lighten;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-family: $app-font;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.7rem;
      text-align: center;

      margin-bottom: 0.5rem;
      color: #ffffff;
      @include from992_ {
        font-size: 2.4rem;
        line-height: 3.6rem;
      }
    }
    &__desc {
      color: #888888;
      font-size: 1.8rem;
      line-height: 2.7rem;
      margin-bottom: 4.5rem;
      text-align: center;
    }
  }
  &__list {
    width: 100%;
    &__item {
      position: absolute;
      border: 1px solid #655d5d;
      box-sizing: border-box;
      border-radius: 50%;
      width: 15.9rem;
      height: 15.9rem;
      cursor: pointer;
      mix-blend-mode: lighten;
      &:hover {
        background: linear-gradient(180deg, rgba(61, 61, 61, 0.6) 0%, rgba(46, 46, 46, 0.42) 100%);
        border: 1px solid #5f5f5f;
        box-sizing: border-box;
        box-shadow: inset 5px 6px 6px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
      }
      img {
        border-radius: 50%;
        width: 15.9rem;
        height: 15.9rem;
        mix-blend-mode: lighten;
      }
    }
  }
  .collect {
    &-bg {
      position: relative;
      width: 100%;
      height: 79.8rem;
      object-fit: cover;
    }
    &__body {
      position: absolute;

      top: 9rem;
      width: 100%;
    }

    &__list {
      &__item {
        border-radius: 50%;
        width: 8.2rem;
        height: 8.2rem;
        padding: 1rem;
        border: 0.324976px solid #655d5d;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: lighten;
        img {
          width: 5.8rem;
          height: 5.8rem;
          object-fit: cover;
          mix-blend-mode: lighten;
        }
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-between;
    }
    .btn-group__item:not(:last-child) {
      margin-right: 1rem;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__select {
      margin-top: 3.5rem;
      img {
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        mix-blend-mode: lighten;
      }
    }
  }
}
@keyframes beat {
  to {
    transform: scale(1.25);
  }
}
