@import "../../../../styles/template.scss";
@import "../../../../styles/media.scss";

.pricesApp {
  padding: 5.2rem 5.7rem 10.9rem;
  font-family: Poppins;
  .title {
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #a9a9a9;
    margin-bottom: 3.5rem;
  }
  .item {
    background: linear-gradient(360deg, rgba(46, 46, 46, 0.4) 0%, #333232 100%);
    border-radius: 0.6rem;
    height: 6.4rem;
    margin-bottom: 1.5rem;
    .name {
      margin-left: 2rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #d6b970;
    }
    .datetime {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #6d6c68;
    }
    .price {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #cbcbcb;
      display: flex;
    }
    span {
      display: flex;
      align-items: flex-start;
    }
    .incre {
      color: #08d2a2;
    }
    .decre {
      color: #e53935;
    }
  }
}
