.comingsoon-comp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #131313;
  position: relative;

  @include from992_ {
    padding: 10rem 8rem 7.8rem;
  }
  &__dialog {
    .MuiBackdrop-root {
      background: rgba(125, 125, 125, 0.5);
    }
    .MuiDialog-paperWidthSm {
      @include from992_ {
        max-width: 78.4rem !important;
        height: 67.3rem !important;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.6rem;

    &__title {
      font-family: "Poppins";
      font-style: normal;
      color: #ffffff;
      font-size: 2.4rem;
      text-align: center;
      line-height: 3.2rem;
    }
    &__back {
      @extend .btn-no-style;
      font-family: "Poppins";
      font-weight: bold;
      font-size: 1.6rem;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #a57a2b;
      border-radius: 0.4rem;
      margin-top: 3.6rem;
      width: 36rem;
      height: 4.9rem;
      text-transform: uppercase;
    }
  }

  &__close {
    position: absolute !important;
    right: 0;
    top: 0;
  }
}
