@import "../../styles/template";

.image_upload {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  &__upload_btn {
    @extend .btn-no-style;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0.8rem 0;
    background: #ffffff;
    border: 1px dashed #6c778d;
    border-radius: 0.4rem;
  }

  &__input {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 1rem 0.8rem 0;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
    label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      background: #ffffff;
      border: 1px dashed #6c778d;
      border-radius: 0.4rem;
    }
  }

  &__img {
    position: relative;
    min-width: 8rem;
    max-width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0.8rem 0;
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    & img {
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
      border-radius: 2px;
    }

    &:hover {
      .image_upload__img__actions {
        display: flex;
      }

      .image_upload__img__unselected {
        display: unset;
      }
    }

    &__actions {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.8rem;
      border-radius: 2px;

      button {
        @extend .btn-no-style;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__selected {
      @extend .btn-no-style;
      position: absolute;
      top: -0.8rem;
      right: -1.8rem;
    }

    &__unselected {
      @extend .btn-no-style;
      position: absolute;
      top: -0.8rem;
      right: -1.8rem;
      display: none;
    }
  }

  &__preview {
    &__body {
      width: 100%;
      padding: 0 4rem 0 4rem;

      &__upload {
        margin-top: 4rem;
        width: 100%;
        height: 35rem;
        border: 1px dashed #525560;
        border-radius: 0.4rem;
        padding: 1.5rem;

        &__img {
          position: relative;
          min-width: 100%;
          max-width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            object-fit: contain;
            pointer-events: none;
          }

          &:hover {
            .image_upload__preview__body__upload__img__actions {
              display: flex;
            }
          }

          &__actions {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 0.8rem;
            border-radius: 2px;

            button {
              @extend .btn-no-style;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      &__input {
        position: relative;
        width: 100%;
        height: 100%;

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          cursor: pointer;
        }
        label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &__alt {
        margin-top: 4rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 1.3rem;
        color: #272b2f;
      }
    }
    &__actions {
      padding: 0.8rem 4rem 4rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__save {
        margin-left: 3rem;
        @extend .btn-no-style;
        height: 4.8rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
        padding: 0 3.5rem;
        background: #08c4e3;
        border-radius: 0.4rem;

        &:disabled {
          cursor: not-allowed;
          background-color: #f3f5f9;
        }
      }
    }
  }
}
