@import "../../styles/template";

.app_form_header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #bdc6d7;
  .title {
    margin: 1.5rem auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.7rem;
    text-transform: capitalize;
    color: #070d14;
  }
  .sr_only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .close {
    @extend .btn-no-style;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
