.app-sidebar {
  font-size: 1.4rem;
  width: 11.4rem;
  height: 100%;
  background-color: var(--color-dark-3);
  color: var(--color-gray-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  .nav-item {
    display: flex;
    padding: 3rem 1rem 1.4rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    .label {
      margin-top: 1.5rem;
    }
    &:hover {
      background: linear-gradient(90deg, var(--color-dark-4) -3.62%, rgba(64, 64, 64, 0) 100%);
    }
  }
  .selected {
    border-left: thin solid var(--color-gold-1);
    background: linear-gradient(90deg, var(--color-dark-4) -3.62%, rgba(64, 64, 64, 0) 100%);
  }

  @include to_576 {
    display: none;
  }
}
