@import "../../styles/template.scss";
@import "../../styles/text.scss";
@import "../../styles/media.scss";

.advisory {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111rem;
  @include from576_ {
    height: 95rem;
  }
  .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    padding: 1rem 0 3rem;
    font-size: 3.4rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "MTD Balerno";
    background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include from992_ {
      font-size: 5.6rem;
      line-height: 7.6rem;
      padding: 5rem 0 3rem;
    }
  }
  .list {
    position: relative;
    width: 100% !important;
    max-width: 37.5rem;
    color: #ffffff;
    display: flex;
    @include from576_ {
      max-width: 57.6rem;
    }
    @include from768_ {
      max-width: 76.8rem;
    }
    @include from992_ {
      max-width: 87.3rem;
      margin: 0 auto;
      height: 75rem;
    }
    .swiper {
      :global(.swiper-slide-next) {
        width: 30rem !important;
        height: 30rem;
      }
    }
    .button {
      @extend .btn-no-style;
      z-index: 1;
      position: absolute;
      left: 6%;
      top: 11%;
      width: 4rem;
      height: 4rem;
      color: #ffffff;
      background-image: url("../../public/images/consultant/btn_prev.png");
      @include from992_ {
        top: 18%;
        left: -5%;
      }
      @include from1200_ {
        left: -10%;
      }
      &::after {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .button-next {
      @extend .btn-no-style;
      z-index: 1;
      position: absolute;
      right: 6%;
      top: 11%;
      width: 4rem;
      height: 4rem;
      color: #ffffff;
      background-image: url("../../public/images/consultant/btn_next.png");
      @include from992_ {
        top: 18%;
        right: -5%;
      }
      @include from1200_ {
        right: -10%;
      }
      &::after {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .des {
      width: 100%;
      color: #fff;
      @extend .app-padding-left;
      @extend .app-padding-right;
      padding-top: 4rem;
      text-align: start;
      @include from992_ {
        width: 100vh;
        max-width: 87.3rem;
        padding-left: 0;
        padding-right: 0;
      }
      .name {
        font-family: MTD Balerno;
        font-weight: bold;
        font-size: 2rem;
        line-height: 3.1rem;
        text-align: center;
        text-transform: uppercase;
        background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include from992_ {
          font-size: 2.4rem;
          line-height: 3.7rem;
        }
      }
      .des_name {
        font-weight: bold;
      }
    }
    .item {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .image {
        width: 18rem;
        height: 18rem;
        @include from992_ {
          width: 27rem;
          height: 27rem;
        }
      }
      .imageact {
        width: 28.5rem;
        height: 28.5rem;
      }
    }
  }
}
