.about-us {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__banner {
    position: relative;
    height: 77.6rem;
    width: 100%;
    @include from992_ {
      height: 74.4rem;
    }
  }
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3.2rem;
    line-height: 4.1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
    @include from1440_ {
      font-size: 5.6rem;
      line-height: 7.6rem;
      margin: 0;
    }
  }
  &__content {
    position: absolute;
    max-width: 83.5rem;
    @extend .app-padding-left;
    @extend .app-padding-right;
    @include from992_ {
      padding: 0;
    }
  }
  &__description {
    font-family: $app-font;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #c8c8c8;
    font-weight: 400;
    @include from768_ {
      font-size: 1.4rem;
      line-height: 2.3rem;
    }
  }
  &__top {
    display: flex;
    justify-content: center;
    @include from992_ {
      justify-content: space-between;
    }
    &__left {
      display: flex;
      justify-content: center;
      @include from992_ {
        justify-content: flex-start;
      }
    }
    @include from992_ {
      margin-top: 3.5rem;
    }
    &__img {
      max-width: 11.8rem;
      max-height: 13.2rem;
      @include from992_ {
        max-width: 26rem;
        max-height: 29rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__bottom {
    @include from992_ {
      margin-top: 5rem;
    }
    &__title {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 1.7rem;
      color: #c8c8c8;
      margin-top: 2rem;
      @include from992_ {
        margin-bottom: 2rem;
        line-height: 2.4rem;
      }
    }
  }
}
