.size {
  background-color: #131313;
  .content {
    max-width: 80rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
    .title {
      padding: 6rem 0;
      font-size: 4.6rem;
      line-height: 5.4rem;
      text-align: center;
      text-transform: uppercase;
      font-family: "MTD Balerno";
      background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .des {
      font-family: Poppins;
      font-size: 1.6rem;
      line-height: 2.5rem;
      margin-bottom: 3.6rem;
      background: -webkit-linear-gradient(180deg, #d6b970, #ffffff);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      a {
        border-image: linear-gradient(to left, #d6b970, #ffffff) 1;
        border-style: solid;
        border-width: 0 0 0.1rem 0;
      }
    }
    .item {
      display: flex;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #ffffff;
      padding-bottom: 3.6rem;

      &:last-child {
        padding-bottom: 13.7rem;
      }
      .imgicon {
        width: 4rem;
        height: 4rem;
        margin-right: 2.4rem;
      }

      .text {
        max-width: 73.6rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        .imgRing {
          margin-top: 2.5rem;
        }
        .imgSize {
          margin: 3.6rem 0;
        }
        .imgRuler {
          margin: 2.4rem 0;
        }
        .imgcord {
          margin: 2.3rem 0 2.1rem;
        }
        .imgBracelet {
          margin: 3.6rem 0 2.4rem;
        }
        .name {
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 2.8rem;
        }

        .tableitem {
          border: 0.1rem solid #ffffff;
          padding: 1.6rem 2.4rem;
          &:nth-child(3) {
            border-top: 0;
            border-bottom: 0;
          }
        }
      }
    }
  }
}
