@import "../../styles/media.scss";
@import "../../styles/text.scss";
@import "../../styles/template.scss";

.newdetail {
  color: #d2d2d2;
  background-color: #131313;
  @extend .app-padding-left;
  @extend .app-padding-right;
  padding-top: 10rem;
  padding-bottom: 4.4rem;
  @include from992_ {
    padding-top: 13rem;
    padding-bottom: 11.3rem;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: MTD Balerno;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .content {
    font-size: 1.4rem;
    line-height: 2.2rem;
    @include from992_ {
      display: flex;
      justify-content: space-between;
    }
    @include from1440_ {
      justify-content: center;
    }
    .left {
      @include from992_ {
        width: 60%;
      }
      @include from1200_ {
        width: 70%;
      }
      @include from1440_ {
        width: 100%;
        max-width: 75.3rem;
      }
      .leftTop {
        @include from992_ {
          display: flex;
          flex-direction: column-reverse;
        }
        .cate {
          color: $app-color;
          font-size: 1.2rem;
          line-height: 1.8rem;
          text-transform: uppercase;
          @include from992_ {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }

        .name {
          font-size: 2rem;
          line-height: 3rem;
          color: #e6e6e6;
          margin: 0.5rem 0 0.8rem;
          font-weight: 600;
          @include from992_ {
            font-size: 3.2rem;
            line-height: 4.8rem;
          }
        }
        .view {
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: #868686;
          @include from992_ {
            font-size: 1.4rem;
            line-height: 2.1rem;
          }
        }
      }
      .image {
        padding: 2.6rem 0;
      }
      .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tag {
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #b1b1b1;
          background: #313131;
          border-radius: 3.4rem;
          padding: 0.2rem 1.2rem;
          margin-right: 1rem;
        }
        .groupIcon {
          display: flex;
          .icon {
            width: 4rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            border: 0.1rem solid #6c778d;
            box-sizing: border-box;
            border-radius: 50%;
            padding: 0.8rem;
            margin-left: 1.4rem;
          }
        }
      }
    }
    .right {
      @include from992_ {
        padding-left: 7.5rem;
      }
      .titleRelated {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2.6rem;
        color: #a9a9a9;
        @include from992_ {
          padding-bottom: 2.1rem;
        }
        a {
          color: $app-color;
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }
      .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        cursor: pointer;
        .name {
          font-size: 1.4rem;
          line-height: 2.2rem;
          color: #e6e6e6;
          @extend .text-overflow-3-lines;
          width: 19.3rem;
        }
        .view {
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: #868686;
        }
      }
      .itemMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .image {
          height: 12rem;
          width: 16.4rem;
          margin-bottom: 1.7rem;
          img {
            border-radius: 0.4rem;
          }
        }
        .name {
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #9e9e9e;
          max-width: 16.3rem;
          @extend .text-overflow-3-lines;
          white-space: normal;
          height: 6.9rem;
          text-align: start;
        }
      }
    }
  }
}
