@import "../../styles/media.scss";
@import "../../styles/text.scss";
@import "../../styles/template.scss";

.news {
  background-color: #131313;
  .cate {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $app-color;
    text-transform: uppercase;
  }
  .name {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #e6e6e6;
  }
  .view {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #868686;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    background: rgba(2, 2, 2, 0.2);
    border-radius: 0.4rem;
  }
  .banner {
    position: relative;
    height: 58rem;
    @include from992_ {
      height: 78.5rem;
    }
    .content {
      position: absolute;
      bottom: 5rem;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @extend .app-padding-left;
      @extend .app-padding-right;
      @include from992_ {
        bottom: 6rem;
      }
      @include from1440_ {
        padding: 0 15rem;
      }

      .title {
        @include app-title-color;
        font-size: 3.4rem;
        line-height: 4rem;
        text-align: center;
        font-family: "MTD Balerno";
        text-transform: uppercase;
        padding-bottom: 3rem;
        @include from992_ {
          font-size: 7.2rem;
          line-height: 8.4rem;
        }
      }
      .text {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #a9a9a9;
        padding-bottom: 1.2rem;
        @include from992_ {
          font-size: 1.8rem;
          line-height: 2.7rem;
          padding-bottom: 2.3rem;
        }
      }
      .para {
        display: flex;
        .itemMobile {
          width: 31.2rem;
          text-align: start;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 1.5rem;
            position: absolute;
            top: 1.3rem;
            right: 1.1rem;
            background: rgba(2, 2, 2, 0.2);
            border-radius: 0.2rem;
          }
          .image {
            position: relative;
            img {
              border-radius: 0.9rem;
            }
          }
          .cate {
            margin-top: 1.7rem;
          }
          .name {
            font-size: 1.8rem;
            line-height: 2.8rem;
            padding: 0.5rem 0 1.4rem;
            white-space: normal;
            @extend .text-overflow-2-lines;
          }
          .view {
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: #b0b0b0;
          }
        }
        .left {
          .image {
            height: 37.6rem;
            width: 45.8rem;
            position: relative;
            @include from1200_ {
              width: 55.8rem;
            }

            img {
              border-radius: 0.9rem;
            }
          }
          .des {
            position: absolute;
            bottom: 2.5rem;
            left: 3rem;

            .name {
              margin: 0.5rem 0 1rem;
              font-size: 2.4rem;
              line-height: 3.7rem;
              max-width: 47.8rem;
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 37.6rem;
          padding-left: 5.9rem;

          .item {
            display: flex;
            width: 100%;
            .des {
              width: 100%;
              .name {
                margin: 0.5rem 0 1rem;
                @extend .text-overflow-2-lines;
              }
              .view {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
          }
          .image {
            margin-right: 4rem;
            border-radius: 0.6rem;

            img {
              border-radius: 0.6rem;
            }
          }
        }
      }
    }
  }
  .body {
    padding-top: 2.3rem;
    padding-bottom: 5rem;
    @include from992_ {
      padding-top: 4.8rem;
      padding-bottom: 10.9rem;
    }
    .listCate {
      @extend .app-padding-left;
      @extend .app-padding-right;
      @include from1440_ {
        padding: 0 15rem;
      }
      .itemcate {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #a9a9a9;
        cursor: pointer;
        margin-bottom: 2.4rem;
        @include from992_ {
          font-size: 1.8rem;
          line-height: 2.7rem;
          margin-bottom: 3.9rem;
        }
      }
      .active {
        color: $app-color;
        border-bottom: 0.1rem solid $app-color;
      }
    }

    .list {
      flex: 1;
      display: grid;
      grid-row-gap: 1.9rem;
      @include from768_ {
        grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
        grid-row-gap: 3.5rem;
        column-gap: 3.1rem;
        padding: 0 3rem;
      }
      @include from1440_ {
        grid-template-columns: repeat(auto-fit, minmax(35.8rem, 1fr));
        grid-row-gap: 9rem;
        padding: 0 15rem;
      }

      .item {
        display: flex;
        padding-bottom: 2.2rem;
        border-bottom: 0.1rem solid #373737;
        @extend .app-padding-left;
        @extend .app-padding-right;
        &:last-child {
          border-bottom: 0;
        }
        @include from768_ {
          flex-direction: column;
          max-width: 34rem;
          border-bottom: 0;
          padding: 0;
          margin: 0 auto;
        }
        @include from1440_ {
          max-width: 35.8rem;
        }
        .image {
          position: relative;
          max-width: 9.1rem;
          height: 9.1rem;
          margin-right: 1.2rem;
          width: -webkit-fill-available;
          @include from768_ {
            margin: 0 0 1.7rem 0;
            width: 100%;
            height: 18.2rem;
            max-width: 35.8rem;
          }
          img {
            border-radius: 0.9rem;

            @include from768_ {
              border-radius: 0.4rem;
            }
          }
        }
        .des {
          .cate {
            @include from992_ {
              margin-top: 1.7rem;
            }
          }
          .name {
            margin: 0.5rem 0 1rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
            @extend .text-overflow-2-lines;
            white-space: normal;
          }
          .view {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      .submit {
        background: #946207;
        border-radius: 0.4rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        border: none;
        padding: 1.2rem 9rem;
        margin-top: 4.7rem;
        cursor: pointer;
        @include from768_ {
          margin-top: 7.7rem;
        }
      }
    }
  }
}
