@import "../../../styles/template.scss";

.customer {
  background: #f0f3f8;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 5.4rem 0;
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 6.2rem;
    .title {
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 3.6rem;
      color: #070d14;
    }
    .groupSearch {
      display: flex;
      align-items: center;

      .search {
        height: 4.8rem;
        width: 40rem;
        background: #ffffff;
        box-shadow: 0px 10px 30px rgba(146, 151, 163, 0.2);
        border-radius: 0.4rem;
        color: #6c778d;
        fieldset {
          border: none !important;
        }
        input {
          color: #6c778d;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
      .btnFilter {
        width: 8.6rem;
        height: 4.8rem;
        background: #ffffff;
        box-shadow: 0 0.4rem 1.2rem rgba(111, 125, 145, 0.16);
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 0 2.6rem 0 1.2rem;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }

  .listHeader {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: capitalize;
    color: #525560;
  }
  .item {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #272b2f;
    background: #ffffff;
    border-radius: 0.4rem;
    padding: 3rem 3.2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    align-items: center;
    width: 100%;
    .name {
      font-weight: bold;
      color: #2d3742;
      padding-left: 3.1rem;
      span {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #7a869a;
        font-weight: normal;
      }
    }
    .activity {
      color: #08c4e3;
    }
    .invalid {
      color: #f84948;
    }
    .unconfirmed {
      color: #ffb300;
    }
  }
}

.floatingBtnItem {
  position: absolute;
  bottom: 3.2rem;
  right: 5.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: #39d0e9;
  border-radius: 50%;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
