@import "../../../styles/template.scss";

.customerDetail {
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .bodyInfo {
    background: #f0f3f8;
    padding: 3rem 8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #525560;
    flex: 1;
    overflow: hidden auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .title {
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: #2d3742;
      display: inline-flex !important;
    }
    .value {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #2d3742;
      margin-bottom: 3rem;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      .borderImg {
        width: 15.7rem;
        height: 15.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-radius: 50%;
        .image {
          width: 13rem;
          height: 13rem;
          border-radius: 50%;
          position: relative;
          // padding: 1.5rem;
          filter: drop-shadow(0.4rem 0.4rem 2rem rgba(91, 91, 91, 0.5));
        }
      }

      .name {
        font-weight: bold;
        font-size: 3.6rem;
        line-height: 4.4rem;
        color: #2d3742;
        margin: 2.1rem 0 3.1rem;
      }
      .btnEdit {
        background: #08c4e3;
        box-shadow: 0 0.4rem 1.6rem rgba(66, 78, 87, 0.16);
        border-radius: 0.4rem;
        padding: 1.2rem 4.9rem;
        color: #ffffff;
        border: none;
        height: 4.8rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .center {
      .box {
        background: #ffffff;
        margin-bottom: 2.4rem;
        box-shadow: 1rem 2rem 3rem rgba(146, 151, 163, 0.1);
        border-radius: 0.6rem;
        padding: 3.1rem 4.9rem 0;
        .label {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #525560;
        }
        .check {
          border-radius: 0.4rem;
          width: 16.2rem;
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.4rem;
          color: #000000;
          display: flex;
          align-items: center;
          padding: 0.5rem 0.7rem;
          margin: 0.6rem 0 2.6rem;
          cursor: pointer;
        }
        .check1 {
          background: #edf7eb;
        }
        .check2 {
          background: #ffe7ec;
        }
        .check3 {
          background: #fff7da;
          cursor: pointer;
        }
      }

      .drop {
        background: transparent !important;
        box-shadow: none;
      }
      .listCard {
        display: flex;
        padding-bottom: 3.4rem;

        .card {
          padding: 2.1rem 2.3rem 0;
          box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.12);
          border-radius: 0.6rem;
          margin-right: 4.4rem;
          &:last-child {
            margin-right: 0;
          }
          img {
            padding-bottom: 1.4rem !important;
          }
        }
      }
    }
    .right {
      .box {
        background: #ffffff;
        padding: 3.5rem 0 3.5rem 2rem;
        box-shadow: 1rem 2rem 3rem rgba(146, 151, 163, 0.1);
        border-radius: 0.6rem;
      }
    }
  }
}
.popover {
  // height: 15.5rem;
  .menuItem {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #272b2f;
    padding: 1.1rem 1.3rem;
    cursor: pointer;
  }
}
