.news-card-1 {
  width: 100%;
  height: 12rem;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 3rem;

    @include from992_ {
      margin-bottom: 4.5rem;
    }
  }

  @include from992_ {
    height: 17.5rem;
  }

  &__img {
    width: 14.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;

    @include from992_ {
      width: 27rem;
      margin-right: 2.5rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__title {
      @extend .text-overflow-2-lines;
      font-family: $app-font;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      color: #000000;
      padding-bottom: 0.8rem;

      @include from992_ {
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
      }
    }

    &__content {
      @extend .text-overflow-2-lines;
      font-family: $app-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      color: #000000;

      @include from992_ {
        -webkit-line-clamp: 4;
      }
    }

    &__created {
      margin-top: auto;
      font-family: $app-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      color: #6c778d;
    }
  }
}
