.home-page__product {
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    @include from992_ {
      margin-bottom: 0;
    }
    @include from1440_ {
      font-size: 4.8rem;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
    @extend .app-padding-left;
    @extend .app-padding-right;
    @include from992_ {
      flex-direction: row;
      margin-bottom: 9rem;
    }
    @include from1440_ {
      max-width: 144rem;
      margin: 7rem auto 9rem;
    }
  }
  &__categories {
    display: flex;

    margin-bottom: 4.7rem;
    @include from992_ {
      margin-bottom: 10rem;
    }
    &__item {
      $root: &;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
      width: 9.5rem;
      height: 10.4rem;
      cursor: pointer;
      @include from768_ {
        padding: 3.8rem 0;
        width: 13.4rem;
        height: 16.6rem;
      }
      @include from992_ {
        width: 13.4rem;
      }
      &__title {
        margin-top: 1rem;
        font-family: $app-font;
        color: #999898;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        @include from992_ {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
      &--active {
        background: linear-gradient(
          180deg,
          rgba(36, 36, 36, 0) 0%,
          #393939 48.96%,
          rgba(36, 36, 36, 0) 100%
        );
        & > #{$root}__title {
          color: #d6b970;
        }
      }
      img {
        width: 4.1rem;
        height: 4.1rem;
        object-fit: cover;
        @include from768_ {
          width: 5.8rem;
          height: 5.8rem;
        }
      }
    }
  }

  &__list {
    &__item {
      width: 24.3rem;
      height: 35.7rem;
      position: relative;
      background: linear-gradient(180deg, rgba(61, 61, 61, 0.6) 0%, rgba(46, 46, 46, 0.42) 100%);
      // box-shadow: inset 3.57235px 4.28682px 4.28682px rgba(0, 0, 0, 0.25);
      // backdrop-filter: blur(2.85788px);
      border: 0.1rem solid #5f5f5f;
      box-sizing: border-box;
      border-radius: 0.8rem;
      margin-bottom: 3.8rem;

      @include from992_ {
        background: transparent;
        padding: 3.5rem;
        border: none;
        width: 34rem;
        height: 50rem;
        &:hover {
          background: linear-gradient(
            180deg,
            rgba(61, 61, 61, 0.6) 0%,
            rgba(46, 46, 46, 0.42) 100%
          );
          box-shadow: inset 5px 6px 6px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(4px);
          border-radius: 12px;
          border: 1.20885px solid #5f5f5f;
        }
      }
      &__img {
        padding: 5.1rem 5.8rem 5rem;
        @include from992_ {
          padding: 7rem 0;
        }
        img {
          width: 12.6rem;
          height: 12.6rem;
          @include from992_ {
            width: 17.6rem;
            height: 17.6rem;
          }
        }
      }
      &__title {
        color: #ffffff;
        font-family: $app-font;
        font-weight: bold;
        line-height: 2.3rem;
        font-size: 1.5rem;
        white-space: normal;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin: 0 2.7rem 1rem;
        @include from992_ {
          line-height: 3.3rem;
          font-size: 2.2rem;
        }
      }
      &__description {
        color: #c8c8c8;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: left;
        margin: 0 2.7rem;
        @include from992_ {
          font-size: 2rem;
          line-height: 2.9rem;
        }
      }
      &-discount {
        position: absolute;
        right: 3rem;
        top: 0;
        width: 6.3rem;
        height: 8.3rem;
        border-top: 3px solid #d6b970;
        font-size: 2.6rem;
        font-family: "MTD Balerno";
        color: #ffffff;
        background: linear-gradient(180deg, #676767 0%, rgba(133, 133, 133, 0) 100%);
        &__percent {
          height: 3rem;
          span:last-child {
            font-size: 1.1rem;
          }
        }
        &__off {
          font-size: 1.6rem;
        }
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    .btn {
      @extend .btn-confirm-style;
      width: 23.2rem;
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: none;
      padding: 1rem;
      text-align: center;
    }
  }
}
