.quantity-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__value {
    width: 34%;
    font-family: $app-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    color: #a6a6a6;
    background-color: #282828;
    text-align: center;
    border: none;
  }

  &__btn {
    color: #a6a6a6;
    background-color: #282828;
    @extend .btn-no-style;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
      cursor: not-allowed;
    }
  }
}
