.product-detail {
  background: #000;
  position: relative;
  &-page {
    @extend .app-padding-left;
    @extend .app-padding-right;
    @extend .app-padding-top;
    @include from1440_ {
      max-width: 144rem;
      margin: 0 auto;
    }
  }

  &__swiper {
    &__img {
      width: 7.4rem;
      height: 7.4rem;
      position: relative;
      border: 0.1rem solid #535353;
      border-radius: 0.2rem;
      @include from992_ {
        border-radius: 0.6rem;
      }
      @include from992_ {
        width: 10.6rem;
        height: 10.6rem;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    @include from992_ {
      flex-direction: row;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      @include from992_ {
        margin-right: 3rem;
        align-items: flex-start;
        margin-bottom: 0;
      }
      @include from1200_ {
        margin-right: 9rem;
      }

      .swiper-container {
        max-width: 36rem;
        width: 36rem;
        margin-top: 2.8rem;
        @include from576_ {
          max-width: 100%;
          width: 100%;
        }
        @include from992_ {
          margin-top: 1.7rem;
          max-width: 48.5rem;
          width: 48.5rem;
        }
        .swiper-slide {
          display: flex;
          @include from992_ {
            justify-content: flex-start;
          }
        }
      }
      .swiper-button-prev {
        display: none;
      }
      .swiper-button-next {
        display: none;
        height: 100%;
        background: #535353;
        border-radius: 0px 0.5rem 0.5rem 0px;
        top: calc(50% - 5.3rem);
        margin-top: 0;
        right: 0;
        @include from992_ {
          display: flex;
        }
        &::after {
          font-size: 1.4rem;
          font-weight: bold;
          color: #898989;
          @include from992_ {
            font-size: 2rem;
          }
        }
      }
      .swiper-button-disabled {
        opacity: 1;
      }
    }
    &__img {
      &-show {
        width: 37rem;
        height: 37rem;
        position: relative;
        border: 0.1rem solid #535353;
        border-radius: 0.6rem;
        @include from992_ {
          width: 48.5rem;
          height: 48.5rem;
        }
      }
    }
  }
  &__order {
    color: var(--color-gray-9);
    font-family: $app-font;
    &__text-category {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #a57a2b;
      font-family: $app-font;
    }
    &__name {
      font-weight: bold;
      font-family: MTD Balerno;
      font-size: 2.8rem;
      line-height: 3.8rem;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0.7rem 0 2.6rem;
      @include from992_ {
        font-size: 3.6rem;
        line-height: 5rem;
        margin: 2rem 0 3rem;
      }
    }
    &__select {
      background: linear-gradient(
        89.98deg,
        rgba(92, 92, 92, 0.2) 0.02%,
        rgba(57, 57, 57, 0) 106.03%
      );
      border: 0.1rem solid #535353;
      box-sizing: border-box;
      border-radius: 3rem !important;
      width: 100%;
      height: 4.2rem;
      margin-top: 2.8rem;
      @include from992_ {
        width: 14.4rem;
        height: 3.6rem;
        border-radius: 0.4rem !important;
        margin-top: 0;
      }

      .MuiSelect-icon {
        color: #f0f3f8;
        top: calc(50% - 8px);
      }
      span {
        color: #999999;
        font-size: 1.4rem;
        line-height: 1.9rem;
      }
      &__menu {
        .MuiMenu-list {
          padding: 0;
        }
        .MuiMenu-paper {
          background: transparent;
        }
        .MuiMenuItem-root {
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #999999;
          font-family: "Poppins";
          justify-content: center;
          padding: 1rem;
          &:hover {
            background: rgba(92, 92, 92, 0.6);
            border-radius: 0.4rem;
          }
        }

        &-col {
          background: #292929;
          border-radius: 0.4rem;
          margin: 0 0.1rem !important;
          max-width: 48% !important;
          flex-basis: 48% !important;
          width: 7.2rem;
        }
      }
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: transparent;
    }
    &__group {
      &__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
        &__size {
          text-decoration: underline;
        }
        &__price {
          font-weight: 600;
          font-size: 2.4rem;
          line-height: 2.5rem;
          color: #a57a2b;
        }
      }
    }
    &__actions {
      .quantity-btn-group {
        width: 12rem;
        height: 6rem;
        background: transparent;
        border: 0.1rem solid #535353;
        border-radius: 0.4rem;
        @include from1200_ {
          width: 15.7rem;
        }
        input {
          height: 6rem;
          background: transparent;
          border: 0.1rem solid #535353;
          font-size: 1.6rem;
          color: var(--color-gray-9);
        }
        .MuiSvgIcon-root {
          color: var(--color-gray-9);
          font-size: 1.6rem !important;
        }
      }
      &-right {
        display: flex;
        align-items: center;
      }
    }
    &__btn {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #ffffff;
      background: #a57a2b;
      border-radius: 0.4rem;
      border: none;
      width: 28.5rem;
      height: 4.2rem;
      @include from992_ {
        width: 29.5rem;
        height: 6rem;

        margin-right: 2.4rem;
      }
    }
    &__add-to-cart {
      width: 4.2rem;
      height: 4.2rem;
      background: #454545;
      border-radius: 3rem;
      border: none;

      @include from992_ {
        width: 6rem;
        height: 6rem;
        border-radius: 0.4rem;
        background: transparent;
        border: 0.1rem solid #535353;
      }
    }
    &__table {
      font-family: $app-font;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: var(--color-gray-9);

      &__name {
        margin-top: 1.2rem;
        &:first-child {
          margin-top: 0;
        }
        @include from992_ {
          margin-top: 3.3rem;
        }
      }
      &__description {
        font-weight: bold;
        margin-top: 1.2rem;
        &:first-child {
          margin-top: 0;
        }
        @include from992_ {
          margin-top: 3.3rem;
        }
      }
    }
  }
  &__same-field {
    margin-top: 7.8rem;
    &__list {
      margin-top: 3.2rem;
      .product-card-1 {
        max-width: 16.5rem;
        @include from992_ {
          max-width: 26.7rem;
        }
      }
    }
    &__card {
      height: 22.1rem;
      max-width: 16.5rem;
      @include from992_ {
        height: 33.6rem;
        max-width: 26.7rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__item {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 0.1rem solid #5c5c5c;
    box-sizing: border-box;
    box-shadow: inset 0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 2.3rem 1.3rem;
    width: 100%;
    height: 100%;
    @include from992_ {
      padding: 3rem;
    }

    &:hover {
      background: linear-gradient(180deg, rgba(61, 61, 61, 0.6) 0%, rgba(46, 46, 46, 0.48) 100%);
    }
    &__img {
      max-width: 9.2rem;
      height: 9.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      @include from992_ {
        max-width: 14rem;
        height: 14rem;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        mix-blend-mode: lighten;
      }
    }
    &__title {
      font-size: 1.4rem;
      line-height: 2.5rem;
      color: #a9a9a9;
      margin-top: 3rem;
      @extend .text-overflow-2-lines;
      @include from992_ {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
    &__price {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: var(--color-gray-8);
      margin-top: 0.5rem;
      @include from992_ {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $app-font;
    text-transform: uppercase;
    color: #ffffff !important;
  }
  &__describe {
    margin-top: 4rem;
    justify-content: space-between;
    @include from992_ {
      margin-top: 10rem;
    }
    .MuiAccordionSummary-root.Mui-expanded {
      min-height: 0;
    }
    .MuiAccordionSummary-content.Mui-expanded {
      margin: 0.9rem 0;
    }
    .MuiAccordionSummary-root {
      padding: 0;
      border-bottom: 0.1rem solid #6c6c6c;
    }
    .MuiAccordionDetails-root {
      padding: 2rem 0;
      @include from992_ {
        padding: 3.3rem 0;
      }
    }
    .MuiPaper-root {
      background: transparent;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: var(--color-gray-9);
    }
    .MuiSvgIcon-root {
      color: #656565;
    }
    &__right {
      background: linear-gradient(180deg, rgba(56, 56, 56, 0.6) 0%, rgba(46, 46, 46, 0.12) 100%);
      border-radius: 0.4rem;
      padding: 3rem;
    }
    &__table {
      font-family: $app-font;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: var(--color-gray-9);

      &__name {
        margin-top: 1.2rem;
        &:first-child {
          margin-top: 0;
        }
        @include from992_ {
          margin-top: 3.3rem;
        }
      }
      &__description {
        font-weight: bold;
        margin-top: 1.2rem;
        &:first-child {
          margin-top: 0;
        }
        @include from992_ {
          margin-top: 3.3rem;
        }
      }
    }
  }
  &__favorite {
    margin-top: 4.5rem;
    padding-bottom: 10rem;
    &__list {
      margin-top: 3.2rem;
      .product-card-1 {
        max-width: 16.5rem;
        @include from992_ {
          max-width: 26.7rem;
        }
      }
    }
    &__card {
      height: 22.1rem;
      max-width: 16.5rem;
      @include from992_ {
        height: 33.6rem;
        max-width: 26.7rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__group-order {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    height: 10rem;
    width: 100vw;
    bottom: 0;
    @extend .app-padding-left;
    @extend .app-padding-right;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -23.45%, #000000 40.21%);
  }
}
