.category-card-1 {
  cursor: pointer;
  width: 100%;
  padding: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.active {
    background: #f0f3f8;
    border-radius: 6px;
    .category-card-1__name {
      font-weight: 500;
    }
  }

  &__name {
    padding-left: 2rem;
    font-size: 1.5rem;
    color: #272b2f;
  }

  &__action {
    margin-left: auto;
  }
}
