.btn-group {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    cursor: grab;
  }

  &.grab {
    cursor: grabbing;
    .btn {
      cursor: grab;
    }
  }

  &__item {
    @extend .btn-no-style;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.15s ease;

    &:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
}
