.nav-header {
  background-color: #fff;
  .app-form-header {
    width: 100% !important;
    display: flex !important;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #bdc6d7 !important;
    // position: fixed;
    // top: 0rem;
    // width: 100vw;
    // height: 22.3rem;
    // z-index: 3;
    // background-color: transparent;
    // box-shadow: none;
    // transition: all 0.5s ease;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .title {
      margin: 1.5rem auto;
      font-weight: bold;
      font-size: 2.7rem;
      text-transform: capitalize;
      color: #070d14;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
    }
    .closeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .group {
    padding: 2.4rem 4.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      display: flex;
      align-items: center;
      .name {
        margin-left: 2.3rem;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.8rem;
        color: #2d3742;
        text-transform: capitalize;
        span {
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #525560;
          font-weight: normal;
        }
      }
    }
    .nav-header-list {
      display: flex;
      margin-top: 2.7rem;
      &__step {
        .item {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #6c778d;
          display: flex;
          align-items: center;
          padding: 1.1rem 1.6rem;
        }
        &.active {
          .item {
            color: #ffffff;
            background: #6658f3;
            box-shadow: -4px 0px 8px rgba(102, 88, 243, 0.24), 4px 0px 8px rgba(102, 88, 243, 0.24);
            border-radius: 1000px;
          }
        }
      }
    }
    .total {
      display: flex;
      .text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: capitalize;
        color: #525560;
        text-align: center;
        margin-left: 6.2rem;
        .number {
          font-weight: bold;
          text-transform: none;
          font-size: 3.2rem;
          line-height: 4rem;
          color: #6658f3;
        }
        .spent {
          color: #2ac769;
        }
        .income {
          color: #2b94f8;
        }
      }
    }
  }
}
