.service-page {
  background: #131313;
  @extend .app-padding-top;
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4.6rem;
    @include from992_ {
      margin-top: 0;
      font-size: 7.6rem;
      line-height: 7.7rem;
    }
  }
  &__des {
    font-size: 2.6rem;
    line-height: 3.9rem;
    @include app-title-color;
    font-family: MTD Balerno;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.2rem;
    @include from992_ {
      font-size: 4.2rem;
      line-height: 4.9rem;
    }
  }
  &__category {
    display: flex;
    flex-direction: column;
    @extend .app-padding-left;
    @extend .app-padding-right;
    margin-bottom: 6.8rem;
    @include from768_ {
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }
    &__row {
      display: flex;
      justify-content: center;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      // max-width: 8.5rem;
      margin: 3rem 2rem 0;
      @include from576_ {
        // max-width: 10rem;
      }
      @include from992_ {
        margin: 3rem 3.8rem 0;
      }
    }
    &__img {
      max-width: 7.8rem;
      max-height: 7.8rem;
      @include from576_ {
        max-width: 10rem;
        max-height: 10rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__text {
      font-size: 1.3rem;
      line-height: 1.9rem;
      font-weight: 400;
      color: var(--color-gray-10);
      text-align: center;
    }
  }

  &__list {
    @extend .app-padding-left;
    @extend .app-padding-right;
    padding-bottom: 5.7rem;
    background: linear-gradient(
      184.39deg,
      rgba(31, 31, 31, 0.42) 3.56%,
      rgba(61, 61, 61, 0.6) 162.89%
    );
    @include from992_ {
      padding-top: 7.5rem;
      padding-bottom: 13rem;
    }
    &__layout {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include from992_ {
        flex-direction: row;
        justify-content: space-between;
      }
      @include from1440_ {
        max-width: 144rem;
        margin: 0 auto;
      }
    }
    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include from992_ {
        width: 46%;
        align-items: flex-start;
      }
    }

    &__title {
      font-size: 2.4rem;
      line-height: 3.6rem;
      @include app-title-color;
      font-family: "MTD Balerno";
      margin: 5rem 0 6rem;
      text-align: center;
      @include from992_ {
        font-size: 3rem;
        line-height: 4.3rem;
        margin-top: 0;
        text-align: start;
      }
      @include from1200_ {
        font-size: 3.2rem;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 5rem;
      &__img {
        width: 9rem;
        height: 7.3rem;
        @include from1200_ {
          width: 15rem;
          height: 12rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__content {
        font-family: "Poppins";
      }
      &__number {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: var(--color-gray-10);
        @include from992_ {
          font-size: 2.4rem;
          line-height: 3.6rem;
        }
      }
      &__title {
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: var(--color-gray-9);
        @include from992_ {
          font-size: 1.8rem;
          line-height: 2.7rem;
          height: 4rem;
        }
      }
    }
  }
  &__btn-submit {
    background: #a57a2b;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 34.3rem;
    height: 4.9rem;
    font-weight: bold;
    @include from992_ {
      width: 44.3rem;
    }
  }
}
