.home {
  &-page {
    width: 100%;
    background: #131313;

    // > div {
    //   &:not(:last-child) {
    //     margin-bottom: 4rem;

    //     @include from992_ {
    //       margin-bottom: 6rem;
    //     }
    //   }
    // }
    .swiper-slide-active {
      display: flex;
      justify-content: center;
    }
    .swiper-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bg {
      // width: 100vw;
      // position: relative;
      height: 66.7rem;
      @include from992_ {
        height: 76rem;
      }
      @include from1200_ {
        height: 100rem;
      }

      &__banner {
        margin-top: 18rem;
        @extend .app-padding-left;
        @extend .app-padding-right;
        @include from768_ {
          margin-top: 35rem;
        }
        @include from992_ {
          margin-top: 33rem;
        }
        @include from1200_ {
          margin-top: 44rem;
          height: 26.8rem;
        }
        @include from1440_ {
          margin-top: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__image {
        top: 10rem;
        position: absolute;

        img {
          height: 33rem;
          object-fit: cover;
          @include from576_ {
            height: 38rem;
            object-fit: cover;
          }
          @include from992_ {
            height: 42rem;
            object-fit: cover;
          }
          @include from1200_ {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        @include from768_ {
          top: 29rem;
        }
        @include from1200_ {
          top: 39rem;
        }
        @include from1440_ {
          top: -5rem;
        }
        &__top-left {
          top: 22rem;
          left: 2%;
          @include from576_ {
            top: 24rem;
            left: 16%;
          }
          @include from768_ {
            top: 42rem;
            left: 15%;
          }
          @include from992_ {
            top: 43rem;
            left: 21%;
          }
          @include from1200_ {
            top: 51rem;
            left: 25%;
          }
          @include from1440_ {
            top: 9.5rem;
            left: 29%;
          }
        }
        &__bottom-left {
          bottom: -10rem;
          left: 0;
          @include from576_ {
            left: 6%;
          }
          @include from768_ {
            bottom: -6rem;
          }
          @include from992_ {
            left: 10%;
          }
          @include from1200_ {
            bottom: -7rem;
            left: 18%;
          }
          @include from1440_ {
            left: 25%;
          }
        }
        &__top-right {
          top: 15rem;
          right: 6%;
          @include from576_ {
            top: 16rem;
            right: 19%;
          }
          @include from768_ {
            top: 32rem;
            right: 15%;
          }
          @include from992_ {
            right: 22%;
            top: 33rem;
          }
          @include from1200_ {
            top: 41rem;
            right: 29%;
          }
          @include from1440_ {
            top: 3.5rem;
            right: 30%;
          }
        }
        &__bottom-right {
          right: 2%;
          bottom: 0;
          @include from576_ {
            right: 5%;
          }
          @include from992_ {
            right: 16%;
            bottom: -5rem;
          }
          @include from1200_ {
            right: 20%;
          }
          @include from1440_ {
            bottom: 0;
            right: 25%;
          }
        }
      }
    }
    &__banner {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .img-item {
        position: absolute;

        img {
          width: 15rem;
          height: 100%;
          object-fit: cover;
          @include from768_ {
            width: 100%;
          }
        }
      }

      &__social-info {
        position: absolute;
        right: 5rem;
        top: 25rem;
        @include from1200_ {
          top: 34rem;
        }
        @include from1440_ {
          top: 39rem;
        }
        &__btn-group {
          display: flex;
          flex-direction: column;
          a {
            width: 3.2rem;
            height: 3.2rem;
            margin-top: 2.5rem;
          }
        }
      }
      @include from1440_ {
        max-width: 144rem;
        margin: 0 auto;
        top: 49.6rem;
      }

      &__content {
        @extend .app-padding-left;
        @extend .app-padding-right;
        position: absolute;
        text-align: center;
        top: 42rem;
        z-index: 2;
        width: 100%;
        height: max-content;

        @include from576_ {
          top: 45rem;
        }
        @include from768_ {
          top: 12rem;
        }
        &__title {
          @include app-title-color;
          font-family: MTD Balerno;
          font-size: 3.2rem;
          line-height: 3.7rem;
          text-transform: uppercase;
          margin-bottom: 1rem;
          @include from1200_ {
            font-size: 7.2rem;
            line-height: 8.4rem;
          }
        }
        &__description {
          font-family: $app-font;
          font-size: 1.6rem;
          line-height: 2.2rem;
          color: #cbcbcb;
          font-weight: 400;
          @include from992_ {
            width: 78.2rem;
            margin: 0 auto;
          }
          @include from1200_ {
            font-size: 1.8rem;
            line-height: 2.5rem;
          }
        }
      }
    }

    &__block {
      &__title {
        @include app-title-color;
        font-family: MTD Balerno;
        font-style: normal;
        font-weight: bold;
        font-size: 3.2rem;
        text-align: center;
        color: #fff;
        text-transform: uppercase;

        @include from1440_ {
          font-size: 4.8rem;
        }
      }
    }

    &__news {
      display: flex;
      flex-direction: column;

      &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        @extend .app-padding-left;
        @extend .app-padding-right;

        @include from768_ {
          flex-direction: row;
        }
      }

      &__list-link {
        background: #a57a2b;
        border-radius: 4px;
        width: max-content;
        height: max-content;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        color: #ffffff;
        padding: 1.2rem 4rem;

        @include to_768 {
          margin-top: 1.2rem;
        }
      }

      &__container {
        width: 100%;
      }

      &__item {
        padding: 2rem;
        max-width: 34.4rem;
        border-radius: 1.2rem;
        border: 1.20885px solid transparent;
        &:hover {
          background: linear-gradient(
            180deg,
            rgba(61, 61, 61, 0.6) 0%,
            rgba(46, 46, 46, 0.42) 100%
          );
          box-shadow: inset 5px 6px 6px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(4px);
          border-radius: 1.2rem;
          border: 1.20885px solid #5f5f5f;
          box-sizing: border-box;
        }
        &__img {
          width: 30rem;
          height: 22rem;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__title {
          @extend .text-overflow-2-lines;
          margin-top: 1.8rem;
          font-family: $app-font;
          font-style: bold;
          font-weight: 700;
          font-size: 1.8rem;
          color: #c8c8c8;
          height: 4.7rem;
          text-align: left;
          white-space: normal;
        }

        &__description {
          @extend .text-overflow-4-lines;
          margin-top: 1rem;
          font-family: $app-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #c8c8c8;
          text-align: left;
          white-space: normal;
        }
      }
    }
  }
}
