.appLayout {
  height: 100%;
  width: 100%;
  display: flex;
  .mainLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-2);
    .content {
      height: 100%;
      overflow: hidden auto;
      margin-left: 11.4rem;
      border-top: 0.1rem solid #454545;
    }
  }
  .hasBackground {
    background: url("https://res.cloudinary.com/unibiz/image/upload/v1624712983/HNG/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .app-header {
      background-color: transparent;
      position: fixed;
      top: 0;
    }
    .content {
      background-color: transparent;
      // margin-top: 12rem;
      & * {
        background-color: transparent;
      }
    }
  }
}
