@import "../../../../styles/media.scss";
@import "../../../../styles/template.scss";

.private {
  font-family: $app-font;
  padding: 0 5.5rem;
  .left,
  .right {
    padding: 4.7rem 0 22.4rem;
    .des {
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: #a0a0a0;
    }
    .formtextfield {
      @extend .form-text-field;
    }
    .formselectfield {
      @extend .form-select-field;
      height: auto;
      svg {
        color: #ffffff;
        top: calc(50% - 8px);
      }
    }
    .form-text-field,
    .form-select-field {
      margin-bottom: 3.5rem;
      background: linear-gradient(
        89.98deg,
        rgba(92, 92, 92, 0.2) 0.02%,
        rgba(57, 57, 57, 0) 106.03%
      );
      border: 0.1rem solid #535353;
      border-radius: 0.6rem;
    }
    input {
      font-size: 1.6rem;
      color: #ffffff;
      line-height: 2.4rem;
    }
  }
  .left {
    border-right: 0.1rem solid #454545;
    .title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #a9a9a9;
    }
    .des {
      margin: 1.8rem 0 5.8rem;
    }
  }
  .right {
    padding-left: 4.7rem;

    .title {
      color: #ffffff;
      font-size: 3.6rem;
      line-height: 4.9rem;
      text-transform: capitalize;
      font-family: $app-font-MTD;
    }
    .des {
      margin: 0.3rem 0 4.1rem;
    }
    .btn {
      @extend .btn-confirm-style;
    }
  }
}

.verify {
  font-family: $app-font;
  padding: 0 5.5rem;
  .left,
  .right {
    padding: 4.7rem 0 22.4rem;
    .des {
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: #a0a0a0;
    }
  }
  .left {
    border-right: 0.1rem solid #454545;
    .title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #a9a9a9;
    }
    .des {
      margin: 1.8rem 0 5.8rem;
    }
  }
  .right {
    padding-left: 4.7rem;

    .title {
      color: #ffffff;
      font-size: 2.4rem;
      line-height: 3.7rem;
      font-weight: bold;
    }
    .des {
      margin: 0.8rem 0 5.3rem;
    }
    .text {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: #a0a0a0;
      margin-bottom: 2rem;
    }
    .item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.1rem dashed #616161;
      padding: 0.5rem;
      max-width: 37.2rem;
      .icon {
        display: flex;
        position: absolute;
        width: 12.2rem;
        justify-content: space-between;
      }
    }
    .btn {
      @extend .btn-confirm-style;
      margin-top: 8rem;
      background: #535353;
    }
  }
}

.avata {
  font-family: $app-font;

  padding: 0 5.5rem;
  .left,
  .right {
    padding: 4.7rem 0 22.4rem;
    .des {
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: #a0a0a0;
    }
  }
  .left {
    border-right: 0.1rem solid #454545;
    .title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #a9a9a9;
    }
    .des {
      margin: 1.8rem 0 5.8rem;
    }
  }

  .right {
    padding-left: 4.7rem;

    .title {
      color: #ffffff;
      font-size: 2.4rem;
      line-height: 3.7rem;
      font-weight: bold;
    }
    .des {
      margin: 0.8rem 0 13.8rem;
    }
    .text {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: #a0a0a0;
      margin-bottom: 2rem;
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.1rem dashed #616161;
      border-radius: 50%;
      width: 26rem;
      height: 26rem;

      .icon {
        display: flex;
        position: absolute;
        width: 12.2rem;
        justify-content: space-between;
      }
    }
    .btn {
      @extend .btn-confirm-style;
      padding: 1.2rem 9rem !important;
      margin-top: 6.6rem;
      width: auto;
    }
  }
}

.accuracy {
  font-family: $app-font;

  padding: 0 5.5rem;
  .left,
  .right {
    padding-bottom: 24.4rem;
  }
  .left {
    border-right: 0.1rem solid #454545;
    padding-top: 4.7rem;
    .title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #a9a9a9;
    }
    .des {
      margin: 1.8rem 0 5.8rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: #a0a0a0;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 19rem;
    padding-left: 4.7rem;
    // .image {
    //   max-width: 15rem;
    //   height: 15rem;
    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: contain;
    //   }
    // }
    .title {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.7rem;
      color: #e6e6e6;
      margin: 3rem 0 1.8rem;
    }
    .des {
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: #a0a0a0;
      text-align: center;
      @include from1200_ {
        font-size: 1.6rem;
      }
    }
    .btn {
      @extend .btn-confirm-style;
      padding: 1.2rem 9rem !important;
      margin-top: 5rem;
      width: auto;
    }

    .accountverified {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .avata {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9.6rem;
      }
      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: contain;
      // }
      .image {
        position: absolute;
        // max-width: 15rem;
        // height: 15rem;
      }
      .icon {
        position: absolute;
        top: 90%;
        // max-width: 5.4rem;
        // height: 5.4rem;
      }
      .title {
        margin: 5.5rem 0 2.8rem;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.7rem;
        color: #e6e6e6;
      }
      .text {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #adadad;
        display: flex;
        justify-content: space-between;
        .passed {
          color: #08d2a2;
        }
        .failed {
          color: #c6050e;
        }
      }
    }
  }
}
