@import "../../../styles/media.scss";

.stores {
  font-family: $app-font;
  display: flex;
  .left {
    padding: 3rem 3.5rem 0 4.2rem;
    min-width: 44.4rem;
    max-width: 44.4rem;

    .searchinput {
      background: linear-gradient(
        89.98deg,
        rgba(92, 92, 92, 0.2) 0.02%,
        rgba(57, 57, 57, 0) 106.03%
      );
      border-radius: 0.6rem;
      margin-bottom: 2rem;
      border: 1px solid #535353;

      .input {
        border: none;
        outline: none;
        color: #999999;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
    .list {
      overflow: hidden auto;
      overscroll-behavior: contain;
      &::-webkit-scrollbar {
        display: none;
      }

      @include from992_ {
        max-height: 68rem;
      }
    }
    .item {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 1.5rem 1rem;
      margin-bottom: 1rem;
      &:hover {
        background: #282828;
        border-radius: 0.8rem;
      }
      .image {
        width: 33.8rem;
        height: 17rem;
      }
      .location {
        max-width: 33.8rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1.4rem;
        .info {
          max-width: 24.6rem;
          .name {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 3.4rem;
            color: #d6b970;
          }
          .text {
            font-size: 14px;
            line-height: 2.2rem;
            color: #e7e7e7;
          }
        }
        img {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
  .right {
    width: 100%;
    .ggmap {
      height: 100%;
      width: 100%;
    }
  }
}
