.why-us {
  width: 100%;
  @extend .app-padding-left;
  @extend .app-padding-right;
  padding-top: 1rem;
  padding-bottom: 4.9rem;
  background: #131313;

  @include from1440_ {
    max-width: 144rem;
    margin: 0 auto;
  }
  &__body {
    display: flex;
    flex-direction: column;
    @include from992_ {
      margin: 0 7rem;
    }
    @include from1440_ {
      margin: 0 auto;
    }
    @include from768_ {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &-left {
      @include from768_ {
        padding-right: 3.3rem;
        width: 100%;
        justify-content: flex-end;
      }
    }
    &-right {
      @include from768_ {
        padding-left: 3.3rem;
        width: 100%;
        justify-content: flex-start;
      }
    }
  }
  &__title {
    @include app-title-color;
    font-family: MTD Balerno;
    font-size: 3.2rem;
    line-height: 4.3rem;
    text-transform: uppercase;

    @include from1440_ {
      font-size: 4.8rem;
      line-height: 6.5rem;
    }
  }
}
