@import "../../../styles/template.scss";

.locationPage {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 4.8rem 1rem 4.8rem;
    height: 100%;
    .header {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .title {
        font-weight: bold;
        font-size: 2.7rem;
        color: #070d14;
      }
      .actions {
        .search-input {
          width: 30rem;
          height: 4.8rem;
          display: flex;
          justify-content: center;

          .input {
            font-size: 1.5rem;
          }
        }
      }
    }

    .list {
      min-height: 10rem;
      width: 100%;
      overflow: auto;
      margin-top: 4rem;
      margin-bottom: 2rem;

      .listHeader {
        font-size: 1.2rem;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #f3f5f9;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.7rem;

        .text {
          @include label-default-font(500);
          font-size: 1.6rem;
          color: #7a869a;
          span {
            color: #272b2f;
            font-weight: bold;
          }
        }
      }

      .item {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #525560;
        background: #ffffff;
        border-radius: 0.4rem;
        padding: 3rem 3.2rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        align-items: center;
        width: 100%;
        .name {
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 2.8rem;
          color: #2d3742;
          display: flex;
          align-items: center;
          .image {
            position: relative;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            margin-right: 2rem;
            img {
              border-radius: 50%;
            }
          }
          span {
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-weight: normal;
          }
        }
        .iconGroup {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
.floatingBtnItem {
  position: absolute;
  bottom: 3.2rem;
  right: 5.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: #39d0e9;
  border-radius: 50%;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.locationFrom {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;

  .container {
    flex: 1;
    overflow: hidden auto;
    width: 100%;
    height: 100%;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    .title {
      font-weight: bold;
      font-size: 2.3rem;
      color: #070d14;
      padding: 4rem 0 3rem 0;
    }
  }

  .box {
    width: 100%;

    @include from992_ {
      width: 90rem;
    }
  }

  .image {
    background: #f0f3f8;
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    img {
      width: 11.1rem;
      height: 11.1rem;
      border-radius: 50%;
      filter: drop-shadow(0.4rem 0.4rem 2rem rgba(91, 91, 91, 0.5));
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.6rem;
      height: 3.6rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #ffffff;
      border-radius: 50%;
      cursor: pointer;
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  .appFormFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 6rem;
    box-shadow: 6px 5px 21px rgba(108, 72, 58, 0.2);
    background: #ffffff;
    .btn {
      @extend .btn-no-style;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1.2rem 4.5rem;

      &.delete {
        background-color: #fff;
        border: 1px solid #e53935;
        border-radius: 0.4rem;
        color: #f84948;
      }

      &.cancel {
        margin-left: auto;
        margin-right: 1.6rem;
        background-color: #fff;
        color: #444c53;
      }

      &.save {
        background: #08c4e3;
        color: #ffffff;
        border-radius: 0.4rem;
      }
    }
  }
}
