@import "../../styles/template.scss";

.goldCoins {
  background: #000000;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
  color: #cbcbcb;
  @include from992_ {
    font-size: 1.8rem;
    line-height: 2.9rem;
  }
  .cover {
    padding-top: 7.5rem;
    background: #414143;
    @include from992_ {
      padding-top: 0;
    }
  }
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include from1440_ {
      padding: 0 21.4rem;
    }
    .title {
      @include app-title-color(45deg);
      font-size: 2.4rem;
      line-height: 3.3rem;
      text-align: center;
      font-family: "MTD Balerno";
      text-transform: uppercase;
      padding: 0.7rem 0 1.2rem;
      @include from992_ {
        font-size: 7.2rem;
        line-height: 8.4rem;
        padding: 11.7rem 0 3.6rem;
        @include app-title-color;
      }
    }
    .des {
      @extend .app-padding-left;
      @extend .app-padding-right;
    }
    .btn {
      background: #a57a2b;
      border-radius: 0.4rem;
      border: none;
      outline: none;
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: bold;
      padding: 1.2rem 6.4rem;
      margin: 2.2rem 0 3.6rem;
      @include from992_ {
        margin: 3.6rem 0 10rem;
      }
    }
    .bannerGroup {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include from576_ {
        width: 100%;
      }
      .imgGroup {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        @include from576_ {
          position: relative;
          height: 100%;
          flex-direction: row;
          justify-content: center;
          width: 100%;
        }
        .imgLeft {
          @include from576_ {
            margin-right: 2.5rem;
          }
        }
        .imgRight {
          @include from576_ {
            margin-left: 2.5rem;
          }
        }
      }
    }
    .bgTable {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .table {
        position: absolute;
        @extend .app-padding-left;
        @extend .app-padding-right;
        text-align: start;
        @include from576_ {
          position: relative;
          margin: 3rem 0 6.5rem;
        }
        @include from992_ {
          margin: 8rem 0 6.5rem;
          align-items: center;
        }
        img {
          padding-top: 2.4rem !important;
          @include from992_ {
            padding-top: 3rem !important;
          }
        }
        .label {
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 2.4rem;
          text-transform: uppercase;
          color: #d6b970;
          margin: 2.4rem 0 0.5rem;
          @include from992_ {
            font-size: 2.4rem;
            line-height: 5.2rem;
            margin-top: 6rem;
          }
        }
      }
    }
  }
  .bg {
    position: relative;
    height: 87.7rem;
    width: 100%;
    @include from576_ {
      height: 77rem;
    }
    @include from992_ {
      height: 64.3rem;
    }
    .contentBuy {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: start;
      @extend .app-padding-left;
      @extend .app-padding-right;
      @include from992_ {
        flex-direction: row;
      }
      @include from1440_ {
        padding: 0 19rem;
      }
      .iPhone {
        position: relative;
        width: 100%;
        max-width: 18rem;
        height: 35.6rem;
        @include from992_ {
          max-width: 27.3rem;
          height: 54.1rem;
        }
      }
      .right {
        @include from992_ {
          margin-left: 10rem;
        }
        .title {
          @include app-title-color;
          font-size: 3.2rem;
          line-height: 4.1rem;
          font-family: "MTD Balerno";
          text-transform: uppercase;
          padding-bottom: 2.4rem;
          text-align: center;
          @include from992_ {
            font-size: 4.8rem;
            line-height: 6.5rem;
            text-align: start;
            padding-bottom: 5rem;
          }
        }
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 2.7rem;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 2.2rem;
          text-transform: uppercase;
          color: #ffffff;
          @include from992_ {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 4.2rem;
          }
          img {
            padding-right: 1.6rem !important;
            @include from992_ {
              padding-right: 2.4rem !important;
            }
          }
          span {
            width: 80%;
            @include from576_ {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
