.page-header {
  position: fixed;
  top: 0rem;
  width: 100vw;
  height: 7.5rem;
  z-index: 3;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;

  &.scrolling {
    background: #131313;
    // box-shadow: 0px 4px 16px rgba(146, 151, 163, 0.24);
    align-items: center;
    .page-header__app-icon {
      display: none;
    }
  }

  &__app-icon {
    @extend .app-padding-left;
    position: relative;
    @include from1440_ {
      padding-left: 7rem;
    }
    .sub-icon {
      visibility: hidden !important;
    }

    .main-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 8.6rem;
      @include from1440_ {
        // width: 8.6rem;
      }
    }
  }

  &__web {
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;

    @include from992_ {
      display: flex;
    }

    &__menu {
      display: flex;
      &__item {
        height: 100%;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        position: relative;

        @include from992_ {
          margin-left: 2.1rem;
          &__label {
            font-size: 1.4rem;
          }
        }
        @include from1200_ {
          margin-left: 2.8rem;
        }
        // @include from1440_ {
        //   margin-left: 4rem;
        // }

        &.active {
          .page-header__web__menu__item__label {
            color: $app-color !important;
            border-bottom: 1px solid $app-color !important;
          }
        }

        &:hover {
          .page-header__web__menu__item {
            &__label {
              color: $app-color;
            }
            // &__dropdown {
            //   display: flex;
            // }
          }
        }

        &__block {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;
        }

        &__label {
          font-family: $app-font;
          font-style: normal;
          font-weight: bold;
          font-size: 1.4rem;
          color: #cbcbcb;
          text-align: center;
          margin-right: 0.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          line-height: 2.1rem;
          text-transform: none;
          text-align: center;
        }

        &__dropdown-icon {
          font-size: 2rem;
          color: #ffffff;
        }

        &__dropdown {
          // display: none;
          flex-direction: column;
          position: absolute;
          width: max-content;
          top: 100%;
          left: -6.2rem;
          color: #000;
          z-index: 1;
          background: #292929;
          border-radius: 4px;
          padding: 1.4rem 1rem;

          &__item {
            padding: 1rem;
            margin-bottom: 0.5rem;
            // width: 17.4rem;
            cursor: pointer;
            display: flex;
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              background: rgba(67, 155, 207, 0.2);
              border-radius: 4px;
            }
          }

          .item-label {
            font-family: $app-font;
            font-style: normal;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: var(--color-gray-8);
          }
        }
      }
    }

    &__actions {
      @extend .app-padding-right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      @include from1440_ {
        padding-right: 7rem;
      }
      > * {
        &:not(:first-child) {
          margin-left: 1.5rem;

          @include from1200_ {
            margin-left: 2.5rem;
          }
        }
      }

      &__btn {
        cursor: pointer;

        &.auth {
          @extend .btn-no-style;
          font-family: $app-font;
          font-style: normal;
          font-weight: 500;
          font-size: 1.4rem;
          text-transform: uppercase;
          color: #282929;
        }

        &.cart {
          width: 4rem;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #666;
          border-radius: 50%;
        }
      }

      &__avatar {
        cursor: pointer;
        min-width: 5rem;
        max-width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          pointer-events: none;
        }
      }

      &__customer-menu {
        padding: 1.1rem;
        box-shadow: 0px 4px 16px rgba(146, 151, 163, 0.4);
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .item {
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-width: 19.6rem;
          padding: 1rem 1.2rem;
          font-family: $app-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1.4rem;
          text-transform: capitalize;
          color: #3c3b3b;

          &:hover {
            background-color: #ebebeb;
            border-radius: 0.4rem;
          }
        }
      }
      .search {
        max-width: 18.4rem;
        background-color: rgba(102, 102, 102, 0.5);
        border-radius: 2.5rem;
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: transparent;
        }
      }
    }
    input[type="text"] {
      // background-color: rgba(102, 102, 102, 0.5);
      color: #fff;
      max-width: 184px;
      font-size: 1.4rem;
      line-height: 2.1rem;
      border: none;

      box-shadow: none;
      padding: 10px;
      transition: background-color 0.5s ease;
    }

    // input[type="text"]:focus {
    //   background-color: rgba(0, 0, 0, 0.45);
    // }
  }
  &__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include from992_ {
      display: none;
    }

    &__app-icon {
      @extend .app-padding-left;
      position: relative;
      width: 56%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // justify-content: flex-end;
      .sub-icon {
        visibility: hidden !important;
      }

      .mobile-icon {
        // position: absolute;
        width: 2rem;
        height: 5rem;
        position: relative;
        // object-fit: cover;
      }
    }
    &__actions {
      width: 50%;
      @extend .app-padding-right;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__btn {
        cursor: pointer;

        &.cart {
          width: 3.2rem;
          height: 3.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(102, 102, 102, 0.5);
          border-radius: 50%;
        }

        &.menu {
          // margin-left: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.2rem;
          border-radius: 50%;
          height: 3.2rem;
          background: rgba(102, 102, 102, 0.5);
        }
      }
    }

    &__drawer {
      padding: 0 2.5rem;

      // @include from0_575 {
      //   width: 100vw;
      // }

      @include from576_ {
        width: 27rem;
        max-width: 27rem;
      }
      &__bg {
        .MuiBackdrop-root {
          background-color: transparent;
        }
        .MuiDrawer-paper {
          background: rgba(40, 40, 40, 0.9);
          backdrop-filter: blur(0.5rem);
        }
      }
      &__header {
        width: 100%;
        position: relative;
        // left: -2.5rem;
        padding: 2.3rem 0 3.4rem;
        display: flex;
        // justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        .mobile-icon {
          margin-right: 6rem;
          width: 2rem;
          height: 5rem;
          position: relative;
        }
      }
      &__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid#4B4B4B;

        &__item {
          font-family: $app-font;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2rem;
          color: #fff;
          margin-bottom: 2.8rem;

          &.active {
            .page-header__mobile__drawer__menu__item__label {
              color: $app-color;
              border-bottom: 1px solid $app-color;
            }
          }

          &:hover {
            .page-header__mobile__drawer__menu__item {
              &__label {
                color: $app-color;
                // border-bottom: 1px solid $app-color;
              }
            }
          }

          &__label {
            font-family: $app-font;
            font-style: normal;
            font-weight: bold;
            font-size: 1.4rem;
            color: #cbcbcb;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            line-height: 2.1rem;
            text-transform: none;
            text-align: center;
          }

          &__dropdown {
            display: flex;
            flex-direction: column;
            font-family: $app-font;
            line-height: 1.6rem;
            font-weight: 600;
            font-size: 1.3rem;
            color: var(--color-gray-9);
            margin-top: 2rem;
            &__item {
              margin-bottom: 2rem;
              text-align: center;
            }
          }
        }
        &__btn-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__text {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: var(--color-gray-9);
            margin-top: 3.4rem;
            max-width: 18.7rem;
            text-align: center;
          }
        }
        &__btn {
          width: 15.2rem;
          height: 4.8rem;
          border: 0.1rem solid #b1b1b1;
          border-radius: 0.6rem;
          background: transparent;
          display: flex;
          color: #c8c8c8;
          justify-content: space-around;
          text-align: start;
          align-items: center;
          margin-top: 2rem;
          cursor: pointer;

          @include from768_ {
            width: 21.9rem;
            height: 6.3rem;
          }
          img {
            width: 3rem;
            height: 3.5rem;
            object-fit: cover;
          }
          &__get {
            font-size: 1rem;
            line-height: 1.6rem;
            font-weight: 400;
          }
          &__name {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
        .label-signin {
          font-weight: bold;
          font-size: 1.6rem;
          line-height: 2rem;
          color: $app-color;
        }
      }
      &__unauth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sign-in {
          @extend .btn-no-style;
          width: 100%;
          max-width: 34rem;
          height: 4.2rem;
          background: $app-color;
          border-radius: 0.4rem;
          font-family: $app-font;
          font-style: normal;
          font-weight: 500;
          font-size: 1.6rem;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          margin-top: 3.5rem;
        }

        .sign-up-block {
          margin-top: 2rem;
          font-family: $app-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1.6rem;
          text-align: center;
          color: #525560;
        }

        .sign-up {
          @extend .btn-no-style;
          font-family: $app-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1.6rem;
          color: $app-color;
        }
      }
      &__auth {
        &__customer {
          padding: 2.5rem 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &__avatar {
            margin-right: 1.5rem;
            min-width: 5.6rem;
            max-width: 5.6rem;
            height: 5.6rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 100%;
              max-height: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
              pointer-events: none;
            }
          }
          &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .label {
              font-family: $app-font;
              font-style: normal;
              font-weight: normal;
              font-size: 1.2rem;
              color: #9a9999;
            }

            .customer-name {
              font-family: $app-font;
              font-style: normal;
              font-weight: 500;
              font-size: 1.6rem;
              color: #262525;
            }
          }
        }

        &__menu {
          width: 100%;
          border-bottom: 1px solid #ebebeb;
          border-top: 1px solid #ebebeb;
        }

        &__item {
          cursor: pointer;
          font-family: $app-font;
          font-style: normal;
          font-weight: 500;
          font-size: 1.6rem;
          text-transform: capitalize;
          color: #3c3b3b;
          margin-top: 2.4rem;

          display: flex;
          align-items: center;

          &:last-child {
            margin-bottom: 2.4rem;
          }

          &.active {
            color: $app-color;
          }
          span {
            margin-left: 1.5rem;
          }
        }

        &__signout {
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          margin: 2.4rem 0;
          font-family: $app-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1.6rem;
          text-transform: capitalize;
          color: #3c3b3b;
        }
      }
    }
  }

  &__cart {
    .MuiBadge-anchorOriginTopRightRectangle {
      top: 0;
      right: 0;

      @include from992_ {
        top: 0.5rem;
        right: 0.5rem;
      }
    }
  }

  // #google_translate_element {
  //   > div {
  //     max-width: 16rem;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-wrap: wrap;
  //     // span {
  //     //   display: none;
  //     // }
  //   }
  // }
}
