.custom-breadcrumbs {
  width: 100%;

  &__separator {
    font-family: $app-font;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
  }

  &__text {
    font-family: $app-font;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;

    @include from992_ {
      font-size: 1.4rem;
    }

    &.active {
      // font-weight: bold;
      // color: #272b2f;
    }
  }
}
