@import "../../../styles/template.scss";

.goldpricePage {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 4.8rem 1rem 4.8rem;
    height: 100%;
    .header {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .title {
        font-weight: bold;
        font-size: 2.7rem;
        color: #070d14;
      }
      .actions {
        display: flex;
        align-items: center;
        .apply {
          background: #e6fcf7;
          box-shadow: 0 0.4rem 1.6rem rgba(146, 151, 163, 0.4);
          font-size: 1.8rem;
          line-height: 2.1rem;
          color: #1ab759;
          padding: 1rem 2.9rem;
          text-transform: none;
          margin-right: 1.5rem;
          span {
            padding-left: 6rem;
          }
        }
        .search {
          height: 4.8rem;
          max-width: 40rem;
          background: #ffffff;
          box-shadow: 0px 10px 30px rgba(146, 151, 163, 0.2);
          border-radius: 0.4rem;
          color: #6c778d;
          fieldset {
            border: none !important;
          }
          input {
            color: #6c778d;
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
        .btnFilter {
          width: 8.6rem;
          height: 4.8rem;
          background: #ffffff;
          box-shadow: 0 0.4rem 1.2rem rgba(111, 125, 145, 0.16);
          border-radius: 0.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          margin: 0 2.6rem 0 1.2rem;
          font-weight: bold;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }

    .list {
      min-height: 10rem;
      width: 100%;
      overflow: auto;
      margin-top: 4rem;
      margin-bottom: 2rem;

      .header {
        font-size: 1.2rem;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        padding: 0 2rem 1.6rem 2.4rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #525560;
      }
      .item {
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: #2d3742;
        background: #ffffff;
        border-radius: 0.4rem;
        padding: 3rem 3.2rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        align-items: center;
        width: 100%;
      }
    }
    .listNull {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      @include from1440_ {
        justify-content: center;
      }

      .imgText {
        margin-top: 3rem;
      }
      .iconVector {
        position: absolute;
        bottom: 6rem;
        right: 9rem;
        display: none;
        @include from1200_ {
          display: block;
        }
      }
    }
  }
}
.floatingBtnItem {
  position: absolute;
  bottom: 3.2rem;
  right: 5.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: #39d0e9;
  border-radius: 50%;
  padding: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.goldPriceForm {
  padding: 3.3rem;
  position: relative;
  .title {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-transform: capitalize;
    color: #2d3742;
    padding-bottom: 2.9rem;
  }
  .icon {
    position: absolute;
    top: 3.3rem;
    right: 4.4rem;
  }
  .form {
    width: 43.8rem;
    .formtextfield {
      span {
        font-weight: bold;
        text-decoration: underline;
      }
      input {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #272b2f;
      }
    }
    .date {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .groupBtn {
      display: flex;
      justify-content: flex-end;
      .btn {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #272b2f;
        border: none;
        background: transparent;
        padding: 1.2rem 4.7rem;
        cursor: pointer;
      }
      .btnUpdate {
        background: #08c4e3;
        border-radius: 0.4rem;
        color: #ffffff;
      }
    }
  }
}
