@import "../../../styles/media.scss";
@import "../../../styles/template.scss";

.setting {
  font-family: $app-font;
  .right {
    padding: 4.7rem 5.2rem 25rem;
    .title {
      font-weight: bold;
      font-size: 3.6rem;
      line-height: 4.9rem;
      font-family: $app-font-MTD;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 3.5rem;
    }

    .formtextfield {
      @extend .form-text-field;
      margin-bottom: 3.5rem;
      background: linear-gradient(
        89.98deg,
        rgba(92, 92, 92, 0.2) 0.02%,
        rgba(57, 57, 57, 0) 106.03%
      );
      border: 0.1rem solid #535353;
      border-radius: 0.6rem;
      input {
        font-size: 1.6rem;
        color: #ffffff;
        line-height: 2.4rem;
      }
    }
    .btn {
      @extend .btn-confirm-style;
      background: #a36a01;
    }

    .bank {
      margin-top: 3.8rem;
      .title {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.9rem;
        text-transform: uppercase;
        color: #a0a0a0;
      }
      .item {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: var(--color-gray-9);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.889908px dashed #616161;
        border-radius: 3.2rem;
        height: 4.8rem;
        margin: 1.3rem 0 3.5rem;
      }
    }
  }
}
