@import "../../../../styles/media.scss";
@import "../../../../styles/text.scss";

.news {
  padding: 3.7rem 5.5rem 5.9rem;
  .top {
    .text {
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #a9a9a9;
    }
    .body {
      margin: 2.3rem 0 5.5rem;
      display: flex;
      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
      .left {
        @include from1440_ {
          min-width: 64.8rem;
          width: 100%;
        }
        .item {
          position: relative;
        }
        .image {
          height: 37.6rem;
          width: 64.8rem;

          @include from1440_ {
            min-width: 64.8rem;
            width: 100%;
          }
          img {
            border-radius: 0.9rem;
          }
        }
        .content {
          position: absolute;
          top: 21.8rem;
          left: 3.5rem;
          margin-right: 3.6rem;
          .cate {
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #d6b970;
          }
          .name {
            margin: 0.5rem 0 1rem;
            font-size: 2.4rem;
            line-height: 3.7rem;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 37.6rem;
        padding-left: 5.3rem;
        @include from1440_ {
          min-width: 52.3rem;
        }
        .item {
          display: flex;
          .name {
            max-width: 26rem;
            margin: 0.5rem 0 1rem;
            @extend .text-overflow-2-lines;
            @include from1200_ {
              max-width: 31.3rem;
            }
          }
          .view {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
        .image {
          width: 15.7rem;
          height: 11.1rem;
          margin-right: 2rem;
          img {
            border-radius: 0.6rem;
          }
          @include from1200_ {
            margin-right: 3.8rem;
          }
        }
      }
    }
  }

  .list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    grid-row-gap: 5rem;
    margin-top: 3.9rem;
    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      margin: 0 auto;
      max-width: 38rem;

      .image {
        margin-bottom: 1.7rem;
        img {
          border-radius: 0.4rem;
        }
      }
      .category {
        margin-top: 1.7rem;
      }
      .name {
        margin: 0.5rem 0 1rem;
      }
    }
  }

  .itemcate {
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #a9a9a9;
    cursor: pointer;
  }
  .active {
    color: $app-color;
    border-bottom: 0.1rem solid $app-color;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    background: rgba(2, 2, 2, 0.2);
    border-radius: 0.4rem;
  }
  .cate {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $app-color;
    text-transform: uppercase;
  }
  .name {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #e6e6e6;
  }
  .view {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #868686;
  }
}
