@import "../../../../styles/media.scss";
@import "../../../../styles/text.scss";

.newsdetail {
  padding: 4.6rem 5.5rem 5.9rem;
  display: flex;
  justify-content: space-between;
  color: #d2d2d2;

  .left {
    @include from1440_ {
      min-width: 84.3rem;
    }
    .cate {
      color: $app-color;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-transform: uppercase;
    }
    .name {
      font-size: 3.2rem;
      line-height: 4.8rem;
      color: #e6e6e6;
      margin: 0.5rem 0 0.8rem;
    }
    .view {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #868686;
    }
    .image {
      margin: 3rem 0;
    }
    .text {
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tag {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #b1b1b1;
        background: #313131;
        border-radius: 3.4rem;
        padding: 0.2rem 1.2rem;
        margin-right: 1rem;
      }
      .groupIcon {
        display: flex;
        .icon {
          width: 4rem;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border: 0.1rem solid #6c778d;
          box-sizing: border-box;
          border-radius: 50%;
          padding: 0.8rem;
          margin-left: 1.4rem;
        }
      }
    }
  }
  .right {
    padding-left: 5.6rem;
    @include from1200_ {
      min-width: 31.3rem;
      width: 100%;
    }
    .related {
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      color: #a9a9a9;
      margin-bottom: 2.8rem;
    }
    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      .name {
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #e6e6e6;
        @extend .text-overflow-3-lines;
      }
      .view {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #868686;
      }
    }
    .image {
      margin-left: 3rem;
      width: 9rem;
      height: 9rem;
      // position: relative;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.6rem;
        object-fit: contain;
      }
    }
  }
}
