@font-face {
  font-family: "Poppins";
  src: url("/fonts/SVN-Poppins/SVN-Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/SVN-Poppins/SVN-Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "UTM Bebas";
  src: url("/fonts/UTM-Bebas/UTM-Bebas.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MTD Balerno";
  font-weight: bold;
  src: url("/fonts/MTD-Balerno/MTD-Balerno-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "MTD Balerno";
  font-weight: normal;
  src: url("/fonts/MTD-Balerno/MTD-Balerno-Regular.otf") format("opentype");
  font-display: swap;
}
