// antd styles
@import "antd/dist/antd.css";
// Swiper styles
@import "swiper/swiper.scss";
@import "swiper/components/navigation/navigation.scss";
@import "swiper/components/pagination/pagination.scss";
@import "swiper/components/scrollbar/scrollbar.scss";
@import "swiper/components/effect-cube/effect-cube.scss";
// app
@import "./font.scss";
@import "./text.scss";
@import "./media.scss";
@import "./template.scss";
@import "./blobz.scss";
@import "utilities";

// CSS global vars
:root {
  --color-white-1: #ffffff;
  --color-gray-1: #f0f3f8;
  --color-gray-2: #aeb8c7;
  --color-gray-3: #7d8596;
  --color-gray-4: #b2b2b2;
  --color-gray-5: #808283;
  --color-gray-6: #999898;
  --color-gray-7: #dcdcdc;
  --color-gray-8: #cacaca;
  --color-gray-9: #a6a6a6;
  --color-gray-10: #d8d8d8;
  --color-dark-1: #333232;
  --color-dark-2: #181818;
  --color-dark-3: #2d2d2d;
  --color-dark-4: #404040;
  --color-dark-5: #282828;
  --color-dark-6: #272b2f;
  --color-dark-7: #525560;
  --color-gold-1: #a57a2b;
  --color-gold-2: #ffe7aa;
  --color-gold-3: #d6b970;
}

button[disabled] {
  cursor: not-allowed;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-track-color: var(--color-gray-1);
}

html {
  @include from0_575 {
    font-size: 61.875%; // 9.9px
  }
  @include from576_ {
    font-size: 62.5%; // 10px
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-behavior: smooth;

  // reset list item
  ul,
  nav ul,
  nav ol {
    list-style-type: none;
    list-style-image: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

#__next {
  height: 100%;
  width: 100%;
}

// body {
//   > div#__next {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//   }
// }

a {
  color: inherit;
  text-decoration: none;
}

// scrollbar
$grayBaseDark1: #7d8596;
$grayBase: #aeb8c7;

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-button {
  width: 0.6rem;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gray-2);
  border: 0rem ridge var(--color-gray-2);
  border-radius: 1.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-3);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color-gray-3);
}
::-webkit-scrollbar-track {
  background: var(--color-gray-1);
  border-radius: 0.2rem;
}
::-webkit-scrollbar-track:hover {
  background: var(--color-gray-1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@import "../widgets/index.scss";
@import "../components/index.scss";
@import "./pages/index.scss";
