$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$designDimension: 1440px;

// ant breakpoint
/*
  xs: 0 -> 575
  sm: 576 -> 767
  md: 768 -> 991
  lg: 992 -> 1199
  xl: 1200 -> 1599
  xxl: 1600 -> ...
*/

@mixin to_576 {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin to_768 {
  @media (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin to_992 {
  @media (max-width: #{$lg - 1px}) {
    @content;
  }
}
@mixin to_1200 {
  @media (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin to_1600 {
  @media (max-width: #{$xxl - 1px}) {
    @content;
  }
}

@mixin from0_575 {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin from576_ {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin from768_ {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin from992_ {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin from1200_ {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin from1440_ {
  @media (min-width: #{$designDimension}) {
    @content;
  }
}

// @function responsiveInRange($maximunViewportWidth, $minimunViewportWidth, $maximunRem, $minimunRem) {
//   @return calc(2.4rem + (240 - 24) * ((100vw - 32rem) / (1440 - 320)));
// }

// font
$app-font: Poppins;
$app-font-bold: Poppins-Bold;
$app-font-MTD: MTD Balerno;

// color
$app-color: #a57a2b;
$app-content-color: #d8d8d8;
$bg: #020000;
$bg-component: #2d2d2d;
