@import "../styles/media.scss";
@import "./media.scss";
.btn-no-style {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-app-height {
  height: 3.6rem;

  @include from992_ {
    height: 4.8rem;
  }
}
.btn-action-style {
  @extend .btn-no-style;
  background: var(--color-white-1);
  color: var(--color-dark-6);
  min-width: 12rem;
  border-radius: 4px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  height: 4.8rem;
  font-weight: bold;
  box-shadow: 0px 4px 12px rgba(111, 125, 145, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  & > * {
    margin-right: 0.5rem;
  }
}

.btn-standard-style {
  @extend .btn-no-style;
  background: var(--color-gold-1);
  border-radius: 0.4rem;
  color: var(--color-white-1);
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 16.8rem;
  height: 4.8rem;
  font-weight: bold;
  margin: 4rem 0 8rem;
}

.btn-confirm-style {
  @extend .btn-no-style;
  font-family: $app-font;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.2rem 4.8rem;
  background: $app-color;
  border-radius: 0.4rem;
  color: var(--color-white-1);
  text-transform: uppercase;
  width: 100%;
}

.btn-cancel-style {
  @extend .btn-no-style;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.2rem 4.5rem;
  background-color: var(--color-white-1);
  border-radius: 0.4rem;
  color: #272b2f;
}
.app-radio-box {
  color: $app-color !important;
}

.app-check-box {
  color: $app-color !important;
}

.app-switch-box {
  .Mui-checked {
    color: #08c4e3 !important;
  }
  .Mui-checked + .MuiSwitch-track {
    background-color: #08c4e3 !important;
  }
}

.form-item {
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-label {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  color: #000;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-line-item {
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-line-label {
  font-family: $app-font;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #3c3b3b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 15rem;
}

.form-text-field {
  .MuiInputBase-root {
    height: 4.8rem;

    .input {
      font-size: 1.6rem;
      padding: 0 14px;
    }

    .MuiInputAdornment-root {
      .MuiTypography-root {
        font-size: 1.6rem;
        color: #272b2f;
      }
    }
  }

  .MuiFormHelperText-root {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;

    &.Mui-error {
      color: #c6050e;
    }
  }
}

.form-textarea-field {
  font-size: 1.6rem;
  .MuiInputBase-root {
    font-size: inherit;
  }
}

.form-select-field {
  height: 4.8rem;
  font-size: 1.6rem !important;
}

.form-select-field-item {
  font-size: 1.4rem !important;
}

.form-autocomplete-select-field {
  font-size: 1.6rem !important;

  .MuiInputBase-root {
    height: 4.8rem;
    font-size: inherit;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    .MuiChip-root {
      padding: 0.4rem 1.2rem;
      margin: 0 3px;
      font-size: inherit;
      background: #f0f3f8;
      border-radius: 10rem;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      color: #272b2f;
    }

    .MuiInputBase-input {
      padding: 0 0.4rem !important;
    }
  }
}

.app-padding-top {
  @include from0_575 {
    padding-top: 7.5rem;
  }
  @include from576_ {
    padding-top: 7.5rem;
  }
  @include from768_ {
    padding-top: 7.5rem;
  }
  @include from992_ {
    padding-top: 14rem;
  }
  @include from1200_ {
    padding-top: 14rem;
  }
  @include from1440_ {
    padding-top: 14rem;
  }
}

// nếu có chỉnh thì nhớ chỉnh .app-fullwidth-from-left
.app-padding-left {
  @include from0_575 {
    padding-left: 1.6rem;
  }
  @include from576_ {
    padding-left: 3.3rem;
  }
  @include from768_ {
    padding-left: 3rem;
  }
  @include from992_ {
    padding-left: 5rem;
  }
  @include from1200_ {
    padding-left: 7rem;
  }
  @include from1440_ {
    padding-left: 9rem;
  }
}

.app-padding-right {
  @include from0_575 {
    padding-right: 1.6rem;
  }
  @include from576_ {
    padding-right: 3.3rem;
  }
  @include from768_ {
    padding-right: 3rem;
  }
  @include from992_ {
    padding-right: 5rem;
  }
  @include from1200_ {
    padding-right: 7rem;
  }
  @include from1440_ {
    padding-right: 9rem;
  }
}

.app-fullwidth-from-left {
  width: 100vw;
  position: relative;
  left: 0;
}

.app-margin-top {
  @include from0_575 {
    margin-top: 7.5rem;
  }
  @include from576_ {
    margin-top: 7.5rem;
  }
  @include from768_ {
    margin-top: 7.5rem;
  }
  @include from992_ {
    margin-top: 7.5rem;
  }
  @include from1200_ {
    margin-top: 7.5rem;
  }
  @include from1440_ {
    margin-top: 7.5rem;
  }
}

@mixin app-title-color($deg: 180deg) {
  background: -webkit-linear-gradient($deg, #d6b970, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  // background: linear-gradient(270deg, #d6b970 -17.32%, #ffffff 56.22%);
  // background-clip: text;
  // -webkit-text-fill-color: transparent;

  // background: -webkit-gradient(linear, right top, right bottom, from(#d6b970), to(#ffffff));
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
}

@mixin label-default-font($weight: 400, $font: $app-font) {
  font-family: $font;
  font-style: normal;
  font-weight: $weight;
}

@mixin base-avatar($size: 5rem) {
  min-width: $size;
  max-width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-1);
  border-radius: 50%;
  img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 50%;
  }
}
