.image-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &__img {
      min-width: 6.8rem;
      max-width: 6.8rem;
      height: 6.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      position: relative;
      border-radius: 1.3rem;
      padding: 0.5rem;

      @include from992_ {
        padding: 1rem;
        border-radius: 2.4rem;
        min-width: 12.1rem;
        max-width: 12.1rem;
        height: 12.1rem;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        background: #fff;
        border-radius: 1rem;

        @include from992_ {
          border-radius: 1.7rem;
        }
      }

      .rest-imgs {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
        font-family: $app-font;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.4);
        user-select: none;
        margin: 0.5rem;
        border-radius: 1rem;

        @include from992_ {
          margin: 1rem;
          border-radius: 1.7rem;
          font-size: 1.8rem;
        }
      }
    }
  }

  &__viewer {
    width: 100%;
    padding: 4rem;
    min-width: 78rem;
    max-height: 80vh;
    overflow: hidden;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      &__title {
        font-family: $app-font;
        font-style: normal;
        font-weight: normal;
        font-size: 3.5rem;
        text-transform: capitalize;
        color: #000000;
      }
    }

    &__selected {
      max-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background: #fff;

      img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        background: #fff;
      }
    }

    &__list {
      height: 100%;
      overflow: hidden auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }

    &__item {
      min-width: 10rem;
      max-width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;

      img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        background: #fff;
      }
    }
  }
}
