.distributor-register-block {
  display: flex;
  justify-content: center;
  position: relative;
  @include from992_ {
    align-items: center;
  }
  img {
    width: 100%;
    height: 40.7rem;
    object-fit: cover;
  }
  &__present {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @extend .app-padding-left;
    @extend .app-padding-right;

    @include from992_ {
      margin-top: 0;
    }
  }
  &__title {
    font-weight: bold;
    font-family: MTD Balerno;
    line-height: 4.1rem;
    font-size: 3.2rem;
    @include app-title-color;
    text-transform: uppercase;
    @include from992_ {
      font-size: 4rem;
      line-height: 5.3rem;
    }
    @include from1440_ {
      font-size: 5.6rem;
      line-height: 7.3rem;
    }
  }
  &__text {
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #ffffff;
    font-family: $app-font;
    padding: 0.6rem 0 2.1rem;
    @include from992_ {
      font-size: 2.6rem;
      line-height: 4rem;
      padding: 0.4rem 0 2.9rem;
    }
  }
  &__btn {
    @extend .btn-confirm-style;
    padding: 1rem 2rem;
    width: 17.3rem;
    font-size: 1.4rem;

    @include from992_ {
      padding: 1rem 2rem;
      width: 22.9rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}
